<div class="row">
  <div class="large-12 columns">
    <h3>Create an Account</h3>

    <form action="/auth/local/register" method="post">
      <div class="row">
        <label for="inputUsername3" class="large-2 columns">Username</label>
        <div class="large-10 columns">
          <input type="text" class="form-control" id="inputUsername3" name="username" placeholder="Username" value="">
        </div>
      </div>
      <div class="row">
        <label for="inputPassword3" class="large-2 columns">Password</label>
        <div class="large-10 columns">
          <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" value="">
        </div>
      </div>

      <div class="row">
        <label for="inputEmail3" class="large-2 columns">Email</label>
        <div class="large-10 columns">
          <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" value="">
        </div>
      </div>

      <div class="row">
        <label for="inputFirstName3" class="large-2 columns">First Name</label>
        <div class="large-10 columns">
          <input type="text" class="form-control" id="inputFirstName3" name="first_name" placeholder="First Name" value="">
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="button">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>