<div id="heading-row" class="row fluid-row">
	<section class="medium-3 large-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-9 large-7 columns medium-offset-3 large-offset-3 sub-heading">
        <h1><a ui-sref="me.connections">My Connections</a></h1>
    </section>
    <section class="medium-0 large-2 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 columns large-offset-1 main-left connections-left">
        <div class="wrapper" ui-view="leftside">

        <!-- Section for main left header -->
        </div>
    	
    </section>
    <section class="medium-9 large-7 large-offset-3 medium-offset-3 columns main-center connections-center">

        <header class="connections-sub-nav">
            <ul class="connections-sub-nav-left">
                <li class="connections-all"><a class="active">View All</a></li>
                <li class="connections-recent"><a >One-Way</a></li>
                <li class="connections-popular"><a >Two-Way</a></li>
                
            </ul>
            <ul class="connections-sub-nav-right" ng-show="currentUser">
                <!-- <li class="queries-new"><a title="New Query">Find New</a></li> -->
                <li class="connections-search"><a >Search</a></li>
                <li><a title="Find New Connections">Browse</a></li>
            </ul>
        </header>

        <div class="row connections-container">
            <article 
                class="animate-repeat connections-individual medium-6"
                ng-repeat="user in users track by $index"
            >
                <div class="connections-pic connections-{{ user.status }} generate-image" signature="{{ user.signature }}"></div>
                <h2 class="connections-name">
                    <a 
                        ui-sref="profile.view({ handle: user.handle })"
                    >
                        {{ user.firstName + ' ' + user.lastName }}
                    </a>
                </h2>
                <p class="connections-bio">
                    {{ user.professed }}
                </p>
                <p class="connections-skills">
                    <a 
                        ng-repeat="tag in user.tags" 
                        ui-sref="community.tags.view({ tag: tag })"
                        title="View users tagged with {{ tag }}"
                    >
                        {{ tag }}
                    </a>
                </p>
                <a title="Message {{ user.firstName }}">
                    <div class="connections-message">
                        <div class="icon-message"></div>
                    </div>
                </a>
            </article>
        </div>

    </section>
    <section class="medium-0 large-2 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
