<div id="heading-row" class="row fluid-row">
	<section class="medium-3 large-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-9 large-8 columns medium-offset-3 large-offset-3 sub-heading">
        <h1><a ui-sref="me.connections">My Connections</a></h1>
    </section>
    <section class="medium-0 large-1 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 columns large-offset-1 main-left connections-left">
        <div class="wrapper" ui-view="leftside">

        </div>
    </section>
    <section class="medium-9 large-8 large-offset-3 medium-offset-3 columns main-center connections-center">

        <header class="connections-sub-nav">
            <ul class="connections-sub-nav-left">
                <li class="connections-sort"><a dropdown-toggle="#connections-sort-menu">Sort By <span class="icon-vote-down icon"></span></a></li>
            </ul>
            <div class="sub-nav-search">
                <input 
                    class="sub-search-field" 
                    ng-model="queryValue" 
                    type="search" 
                    name="sub-search-field" 
                    placeholder="Search" 
                    ng-search="searchConnections(queryValue)"
                />
            </div>
            <ul class="connections-sub-nav-right" ng-show="currentUser">
                <li class="connections-new"><a title="New Connection" ui-sref="search"><span class="icon-plus"></span></a></li>
            </ul>
        </header>
        <div class="sort-container" id="connections-sort-menu">
            <ul class="sort-menu">
                <li><a class="active">All Connections <span class="icon-check icon"></span></a></li>
                <li><a >Incoming Connections <span class="icon-check icon"></span></a></li>
                <li><a >Outgoing Connections <span class="icon-check icon"></span></a></li>
                <li><a >Two Way Connections <span class="icon-check icon"></span></a></li>
            </ul>
        </div>
        <div ng-show="loadingSection" class="preloader-container">
                <!-- loadingSection is a variable defined in the $scope -->
                <div class="preloader">
                </div>
        </div>
        <div class="row connections-container">
            <article 
                class="animate-repeat connections-individual medium-6 columns"
                ng-repeat="user in user.connections | filter:queryValue track by $index"
            >
                <div class="connection-type"><span class="icon-2way icon"></span></div>
                <div class="connections-pic connections-{{ user.status }} generate-image" signature="{{ user.signature }}"></div>
                <h2 class="connections-name">
                    <a 
                        ui-sref="profile.view({ handle: user.handle })"
                    >
                        {{ user.firstName + ' ' + user.lastName }}
                    </a>
                </h2>
                <p class="connections-bio">
                    {{ user.professed }}
                </p>
                <p class="connections-skills">
                    <a 
                        ng-repeat="tag in user.tags track by $index" 
                        ui-sref="community.tags.view({ tag: tag.text })"
                        title="View users tagged with {{ tag.text }}"
                    >
                        {{ tag.text }}
                    </a>
                </p>
                <a title="Message {{ user.firstName }}" ng-click="inDevModal()">
                    <div class="connections-message">
                        <div class="icon-message"></div>
                    </div>
                </a>
            </article>
        </div>

    </section>
    <section class="medium-0 large-1 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
