<div id="heading-row" class="row fluid-row">
	<section class="medium-3 large-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-9 large-8 columns medium-offset-3 large-offset-3 sub-heading">
        <h1><a class="dead-link">{{currentUser.firstName}} {{currentUser.lastName}}</a></h1>
    </section>
    <section class="medium-0 large-1 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 large-offset-1 columns main-left profile-left">
        <div class="wrapper" ui-view="leftside">

        </div>
    </section>
    
    <section class="medium-9 large-8 large-offset-3 medium-offset-3 columns main-center profile-feed-center">

        <header class="profile-sub-nav">
            <ul class="profile-sub-nav-left">
                <li class="profile-sort"><a dropdown-toggle="#profile-sort-menu">Sort By <span class="icon-vote-down icon"></span></a></li>
            </ul>
            <div class="sub-nav-search">
                <input 
                    class="sub-search-field" 
                    type="search" 
                    name="sub-search-field" 
                    placeholder="Search" 
                />
            </div>
            <div class="profile-sub-nav-right">
            </div>
        </header>
        <div class="sort-container" id="profile-sort-menu">
            <ul class="sort-menu">
                <li><a class="active">Recent <span class="icon-check icon"></span></a></li>
                <li><a >Popular <span class="icon-check icon"></span></a></li>
            </ul>
        </div>

        <section class="clearfix">
            <alert class="animate-repeat" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </section>

        <div 
            masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".profile-pod-wrap", "gutter": ".gutter-sizer" }' 
            class="profile-feed-container" 
            ui-view="profile-feed"
        >
            <div class="gutter-sizer"></div>

            <article 
                masonry-tile
                class="activity-{{ post.verb }} profile-pod-wrap" 
                ng-repeat="post in activity"
                ng-class="{ large: post.description.length > 300 }"
            >
                <div class="profile-pod">
                    <section class="profile-pod-header">
                        <p>{{ post.createdAt | date }}</p>
                        <div class="profile-pod-type">
                            <p>{{ post.type }}</p>
                        </div>
                    </section>
                    <section class="profile-pod-img" ng-show="post.img">
                        <a >
                            <img ng-src="{{ post.img.src }}" alt="{{ post.img.name }}" />
                        </a>
                    </section>
                    <section class="profile-pod-body">
                        <h3><a >{{ post.author.firstName }} {{ post.author.lastName }} </a>{{ post.verb }}</h3>
                        <p>{{ post.description }}</p>
                    </section>
                    <section class="profile-pod-footer">
                        
                    </section>

                    <!-- <div class="activity-{{ post.type }}">
                        <div>{{ post.verb }}
                        {{ post.type }}
                        </div>
                        <div>
                        {{ post.status }}
                        </div>
                        <div>
                        {{ post.description }}
                        </div>
                        <div>
                        {{ post.createdAt | date }}
                        </div>
                        <div>
                        {{ post.object }}
                        </div>
                        <div>
                        {{ post.part }}
                        </div>
                        <div>
                        {{ post.author.at }}{{ post.author.handle }}
                        </div>
                    </div> -->
                </div>
                
            </article>

        </div>

    </section>

    <section class="medium-0 large-1 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
