<div class="medium-12 columns new-query-page">
	<h3>Edit Query as <a ui-sref="me">{{ currentUser.firstName }} {{ currentUser.lastName }}</a></h3>
	
	<div class="query-page new-query">
		<form class="new-query-form" name="queryForm">
			<div 
				ng-init="editQuery.preview = false"
				ng-show="editQuery.preview"
				class="query-post preview"
			>
				<section class="querie-header">
				    <div class="querie-header-title">
				        <h3>
				        	<a>
				        		{{ editQuery.title || "Add a query title"}}
				        	</a>
				        </h3>
				    </div>
				</section>
				<section class="query-content">
					<div class="query-content-main">
						<markdown ng-model="editQuery.query" strip="true" extensions="github, table">
						Add your query!
						</markdown>
					</div>
				</section>
				<section class="query-footer">	
					<div class="querie-tags">
			            <ul>
			                <li class="tag {{ tag.privillege }}-tag" ng-repeat="tag in editQuery.tags track by $index">
			                    <a title="View content tagged with {{ tag.title }}">
			                        <p>{{ tag.text }}</p>
			                    </a>
			                </li>
			            </ul>
					</div>
				</section>
			</div>
			<div 
				class="query-post preview"
				ng-hide="editQuery.preview"
			>
				<input 
					type="text" 
					name="title"
					placeholder="Query Title"
					ng-model="editQuery.title"
					required 
				/>
		        <div class="new-query-inner">
		        	<div class="query-options">
				        <ul>
				        	<li class="query-options-edit">
				        		<a title="Insert Text" class="selected">
				        			<span class="text-icon">Aa</span>
				        		</a>
				        	</li>
					        <li class="query-options-link">
								<a title="Insert Link">
				        			<span class="icon-link"></span>
								</a>
				        	</li>
				        	<li class="query-options-image">
				        		<a title="Insert Image">
				        			<span class="icon-photo"></span>
				        		</a>
				        	</li>
				        	<li class="query-options-code">
				        		<a title="Insert Code Snippet">
				        			<span class="icon-code-snippet"></span>
				        		</a>
				        	</li>
				        </ul>
				    </div>
					<textarea 
						name="query" 
						placeholder="Whats your Query?"
						ng-model="editQuery.query"
						required
					></textarea>
				</div>
				<tags-input class="new-query-tag" ng-model="editQuery.tags">
		            <auto-complete source="loadTags($query)"></auto-complete>
		        </tags-input>
	        </div>
			<div class="new-query-post">
				<p>
					<a 
						class="sy-button"
						ng-click="updateQuery(queryForm)"
					>
						Save
					</a>
				</p>
			</div>
			<div class="new-query-preview">
				<p>
					<a 
						ng-click="editQuery.preview = !editQuery.preview"
						class="sy-button" 
					>
						<span ng-hide="editQuery.preview">Preview</span>
						<span ng-show="editQuery.preview">Edit</span>
					</a>
				</p>
			</div>
		</form>
	</div>
</div>
