<div class="medium-12 columns query-page">
	<div class="query-post">
		<section class="querie-header">
		    <div class="querie-header-title">
		        <h3>
		        	<a ui-sref="community.queries.view({id: query.id, title: query.clean() })">
		        		{{ query.title }}
		        	</a>
		        </h3>
		    </div>
		</section>
		<section class="query-content">
			<div class="query-content-main">
				<p class="query-content-p">{{ query.query }}<br /><a href="#">Find it here. Link Example.</a></p>
				<div class="code-snippet">
					<code>Sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code sample code </code>
		        </div>
		        <div class="image-thumbs">
		        	<div class="thumbnail-container">
		        		<img src="http://placehold.it/140x100" alt="placeholder" />
		        	</div>
			        <div class="thumbnail-container">
		        		<img src="http://placehold.it/140x100" alt="placeholder" />
		        	</div>
		        	<div class="thumbnail-container">
		        		<img src="http://placehold.it/140x100" alt="placeholder" />
		        	</div>
		        	<div class="thumbnail-container">
		        		<img src="http://placehold.it/140x100" alt="placeholder" />
		        	</div>
			    </div>
			</div>
		</section>
		<section class="query-footer">
			<div class="querie-tags">
	            <ul>
	                <li class="tag {{ tag.privillege }}-tag" ng-repeat="tag in query.tags">
	                    <a ui-sref="community.tags.view({ tag:tag.title })">
	                        <p>{{ tag.title }}</p>
	                    </a>
	                </li>
	            </ul>
			</div>
	        <!-- <div class="query-options">
				<p><a href="#">Share</a> or <a href="#">Comment</a></p>
			</div> -->
	        <div class="query-details">
	        	<div class="query-details-pic author-{{ query.author.status }} generate-image" signature="{{ query.author.signature }}"></div>
                <p class="query-details-by">
                    <a ui-sref="profile.view({ handle: query.author.handle })">
                        {{ query.author.firstName }} {{ query.author.lastName }}
                    </a>
                </p>
                <p class="query-details-on">
                    <span>
                        {{ query.date | date }}
                    </span>
                </p>
            </div>
		</section>
	</div>
	<div class="query-comments-head">
		<h4 class="number-comments">
			<a href="#">
				{{ query.comments.length }} Comments
			</a>
		</h4>
		<h4><a href="#">New</a></h4>
	</div>
	<div class="query-comment" ng-repeat="comment in query.comments">
		<div class="query-comment-left">
			<div class="query-comment-pic">
			</div>
		</div>
		<div class="query-comment-content">
			<div class="query-comment-details">
	            <p>
	            	<a ui-sref="profile.view({ handle: comment.author.handle })">
	            		{{ comment.author.firstName }} {{ comment.author.lastName }}
	            	</a>
	            	&middot;
	            	<span>{{ comment.date | date }}</span>
	            </p>
	        </div>
			<p class="query-comment-text">
				{{ comment.comment }}
			</p>
			<p class="query-comment-reply"><a href="#">Reply</a></p>
		</div>
        
		<div class="query-replies" ng-init="replies.open = false">
			<div 
				class="query-reply" 
				ng-repeat="reply in comment.replies"
				ng-show="replies.open"
			>
				<div class="query-reply-push">
					<div class="icon-indent icon">
					</div>
				</div>
				<div class="query-reply-content">
					<p class="query-reply-text">{{reply.reply}}</p>
					<div class="query-reply-details">
			            <p>
			            	<span>{{reply.date | date}}</span> - <a ui-sref="profile.view({handle: reply.author.handle})">{{reply.author.firstName}} {{reply.author.lastName}}</a>
			            </p>
			        </div>
			    </div>
			</div>
		</div>
		<a 
        	ng-click="replies.open = true" 
        	ng-show="comment.replies.length > 0 && !replies.open"
        >
        	<div class="query-reply-toggle view-toggle">
				<p>View Replies ({{ comment.replies.length }})</p>
			</div>
		</a>
		<a 
			ng-click="replies.open = false"
			ng-show="comment.replies.length > 0 && replies.open"
		>
			<div class="query-reply-toggle">
				<p>Hide replies</p>
			</div>
		</a>
	</div>
	<div class="query-new-comment">
	</div>

</div>

