<!DOCTYPE html>
<!-- 
                                                       
                                                       
       444444444       000000000            444444444  
      4::::::::4     00:::::::::00         4::::::::4  
     4:::::::::4   00:::::::::::::00      4:::::::::4  
    4::::44::::4  0:::::::000:::::::0    4::::44::::4  
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4  
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4  
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4  
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4  
          4::::4  0::::::0   0::::::0          4::::4  
          4::::4  0:::::::000:::::::0          4::::4  
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444
                                                       


  This is the default "404: Not Found" page.  
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<html>
  <head>
    <title>404: Page Not Found</title>
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <!--STYLES END-->

  </head>
  <body>

    <div class="container fourohfour">
      <div class="row fluid-row">
        <div class="small-12 columns">
          <div class="big-clock">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1280 800" enable-background="new 0 0 1280 800" xml:space="preserve">
              <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="640.2" cy="399.9" r="375"/>
              <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="640" y1="54" x2="640" y2="132"/>
              <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="640" y1="667" x2="640" y2="745"/>
              <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="294" y1="407" x2="372" y2="407"/>
              <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="907" y1="407" x2="985" y2="407"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="835.6" y1="121.1" x2="817.2" y2="148"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="463.4" y1="656.4" x2="445" y2="683.3"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="942.4" y1="248.1" x2="913.7" y2="263.5"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="364.9" y1="550.9" x2="336.2" y2="566.3"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="341.6" y1="237.2" x2="370" y2="253"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="908.4" y1="559.4" x2="936.8" y2="575.2"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="458.4" y1="119.4" x2="476.3" y2="146.5"/>
              <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="812.3" y1="667" x2="830.2" y2="694.1"/>
              <line fill="none" stroke="#000000" stroke-width="8" stroke-miterlimit="10" x1="640" y1="407" x2="804.1" y2="507.2"/>
              <line fill="none" stroke="#000000" stroke-width="8" stroke-miterlimit="10" x1="640.2" y1="411.5" x2="757.3" y2="188"/>
            </svg>
            <p>Sorry, what was the time?</p>
          </div>
        </div>
      </div>
      <div class="row fluid-row four-bottom">
        <div class="small-6 columns four-hint">
          <p>Try refresh the page or click on one of these links</p>
        </div>
        <div class="small-6 columns wiki-link">
          <p><a href="http://en.wikipedia.org/wiki/HTTP_404">Why</a> might this be happening?</p>
        </div>
        <div class="small-12 columns four-bottom-menu">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/start">Get Started</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/creator">Creator App</a></li>
            <li><a href="/more">More</a></li>
            <li class="four-logo"><p>sy.</p></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>