<!--
/**************************************************************
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ____   _    _    _    _      __      _      ______       ____ 
//  \\  \\  //   ||\  /||    //\\    ||\  || ======  ||  //  \\
\\__     \\//    || \/ ||   //  \\   || \ ||   ||    ||  \\__   
_   \\    ||     ||    ||  // == \\  ||  \||   ||    ||  _   \\
\\__//    ||  [] ||    || //      \\ ||   ||   ||    ||  \\__// 
 
Symantis.org Authored By: 
Scott Wyatt @ScottBWyatt 
Hamsish Jackson-Mee
Katelin Bull

Contribute at: https://github.com/Symantis
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
**************************************************************/
-->
<!DOCTYPE html>
<html ng-app="symantis" ng-controller="AppCtrl">
  <head>
    <title>Symantis.org Bolier Plate</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <script src="http://localhost:1338/livereload.js"></script>
    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/lodash/dist/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/ng-idle/angular-idle.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/bower_components/ngprogress/build/ngProgress.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/chat/index.js"></script>
    <script src="/src/app/community/connections/index.js"></script>
    <script src="/src/app/community/index.js"></script>
    <script src="/src/app/community/news/index.js"></script>
    <script src="/src/app/community/queries/index.js"></script>
    <script src="/src/app/community/tags/index.js"></script>
    <script src="/src/app/creator/index.js"></script>
    <script src="/src/app/docs/index.js"></script>
    <script src="/src/app/header/index.js"></script>
    <script src="/src/app/home/index.js"></script>
    <script src="/src/app/kitchen/index.js"></script>
    <script src="/src/app/messages/index.js"></script>
    <script src="/src/app/more/contact/index.js"></script>
    <script src="/src/app/more/contributors/index.js"></script>
    <script src="/src/app/more/extras/index.js"></script>
    <script src="/src/app/more/index.js"></script>
    <script src="/src/app/profile/index.js"></script>
    <script src="/src/app/profile/view/index.js"></script>
    <script src="/src/app/search/index.js"></script>
    <script src="/src/app/sitenav/index.js"></script>
    <script src="/src/app/start/index.js"></script>
    <script src="/src/app/template/index.js"></script>
    <script src="/src/common/directives/symantis-tpls.js"></script>
    <script src="/src/common/models/Message.js"></script>
    <script src="/src/common/models/User.js"></script>
    <script src="/src/common/models/index.js"></script>
    <script src="/src/common/services/config.js"></script>
    <script src="/src/common/services/index.js"></script>
    <script src="/src/common/services/lodash.js"></script>
    <script src="/src/common/services/title.js"></script>
    <script src="/src/common/services/utils.js"></script>
    <!--SCRIPTS END-->

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->


  </body>
</html>