
	<nav class="top-nav-container">
		<div class="row fluid-row">
			<section ui-view="subheader" >
			
				<section class="top-nav-left medium-3 large-2 large-offset-1 columns">
					
				</section>
				<section class="top-nav-mid medium-2 large-1 columns mid-1">
					
				</section>
				<section class="top-nav-mid medium-2 large-1 columns">
					
				</section>
				<section class="top-nav-mid medium-2 large-1 columns">
					
				</section>
			</section>
			<section>
				<section class="top-nav-right medium-3 large-5 columns">
					<ul class="top-nav-userOnline" ng-show="currentUser">
						<li class="top-nav-name">
							<p class="user-{{ currentUser.status }}">
								<span class="status"></span>
								<a dropdown-toggle="#settings-dropdown">
									{{ currentUser.firstName }}<span class="icon-chevron-down name-icon"></span>
								</a>
								<!-- <div class="header-user-pic generate-image" signature="{{ currentUser.signature }}"></div> -->
							</p>
						</li>
						<li class="top-nav-messages mainmessages-toggle" >
							<a ng-click="notificationsToggle()">
								<div class="icon-bell icon" ng-class="{active: !notificationsOpen}"></div>
								<div class="icon-hide icon" ng-class="{active: notificationsOpen}"></div>
							</a>		
						</li>
					</ul>
					<p class="top-nav-noUser" ng-show="!currentUser">
						<a ui-sref="login">Login</a><span> or </span><a ui-sref="register" class="header-signup">Sign up</a>
					</p>
					<div id="settings-dropdown" class="settings-dropdown-container">
						<ul class="settings-dropdown">
							<li>
								<a ui-sref="me">My Profile</a>
							</li>
							<li class="header-balance">
								<a ng-click="inDevModal()">Balance <span>$y: 7362</span></a>
							</li>
							<li>
								<a ui-sref="me.manti" >Manage Manti</a>
							</li>
							<li>
								<a ui-sref="me.settings.sykit" >Sy.kit Preferences</a>
							</li>
							<li>
								<a ui-sref="me.settings">Settings</a>
							</li>
							<li>
								<a href="/logout">Log Out</a>
							</li>
						</ul>
					</div>
				</section>

			</section>
		</div>
		<div class="row fluid-row top-nav-rule-cont">
			<div class="top-nav-rule medium-12 large-12 columns">
				<div class="top-nav-rule-inner"></div>
			</div>
		</div>
	</nav>

