.about-left {
	header {
		margin-bottom: rem-calc(-20px);
	}
	.about-left-nav {
		a {
			line-height: rem-calc(12px);
			li {
				@include font-regular(rem-calc(12px));
				line-height: rem-calc(16px);
			}
			&:hover li {
				color: $primary-color;
			}
		}
	}
}
.about-center {
	header {
		margin-bottom: rem-calc(-20px);
	}
	h3 {
		//padding-bottom: rem-calc(20px);
	}
	.about-article {
		padding-top: rem-calc(25px);
	}
}