.board-category-header {
	padding-bottom: 0 !important;
}
.board-category-nav {
	ul {
		li {
			padding: rem-calc(7px) 0 rem-calc(7px) 0 !important;
			margin: 0;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			&:first-child {
				width: 100%;
				float: left;
				text-align: left;
				padding-top: rem-calc(3px) !important;
				padding-bottom: rem-calc(18px) !important;
				.bottom-rule {
					width: 20%;
					height: 1px;
					display: block;
					padding: 0;
					margin: 0;
					margin-top: rem-calc(24px);
					background-color: $gray;
					float: left;
				}
			}
			a {
				padding: 0;
				margin: 0;
				@include font-regular(12px);
				color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				width: 100%;
				float: left;
				//text-overflow: ellipsis;
				//overflow: hidden;
				//white-space: nowrap;
				&:hover {
					color: $darkest;
				}
				&.active {
					border-left: 4px $primary-color solid;
					color: $darkest;
					padding-left: 8px;
					//margin-left: -12px;
				}
			}
		}
	}
}
.left-content {
	overflow-x: visible; 
}


.board-sub-nav {
	border-bottom: rem-calc(1px) $dark solid;
	//float: left;
	padding-bottom: rem-calc(20px);
	margin-bottom: rem-calc(24px);
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			a {
				@include font-regular(rem-calc(12px));
				width: 100%;
				color: darken($light, 10%);
				//display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				@include transition(100ms);
				&:hover {
					//border-top: 3px $dark solid;
					//padding-top: rem-calc(23px);
					color: black;
				}
				&.active {
					border-top: 3px $dark solid;
					padding-top: rem-calc(23px);
					color: black;
				}
			}
		}
		&:after{
			clear:both;
			display:block;
			content:"";
		}
	}
	.board-sub-nav-left {
		float: left;
		li {
			float: left;
			text-align: left;
			&.board-sort {
				@include no-highlight;
				line-height: 1.7;
				a {
					@include no-highlight;
					color: $dark;
					.icon {
						padding-left: 4px;
						position: relative;
						bottom: -.1rem;
					}
				}
				&.active {
					color: red;
				}
			}
		}
	}
	.board-sub-nav-right {
		float: right;
		li {
			float: right;
			text-align: right;
			&:first-child {
				width: auto;
			}
			&.board-new {
				a {
					float: right;
					width: 26px;
					height: 26px;
					padding: 4px 6px 4px 6px;
					margin-right: 6px;
					margin-left: 20px;
					border: 1px darken($light, 10%) solid;
					border-radius: 50%;
					span {
						padding: 0;
						//font-size: rem-calc(14px);
					}
					&:hover {
						border-color: black;
					}
				}
			}
		}
	}
	&:after{ 
		clear:both;
		display:block;
		content:"";
	}
}

.board-center {
	position: relative;
}
.board-container {
	margin-right:-14px;
}
.gutter-sizer{
	width:0px;
}
.board-pod-wrap{
	width: 33.333%;
	&:after{
		content:"";
		clear:both;
		display:block;
	}
	margin-bottom: rem-calc(20px);
}
.deactivate.board-pod-wrap {
	display: none !important; 
	//width: 0 !important;
	//height: 0 !important;
	visibility: hidden !important;
}
.board-pod {
	//float: left;
	//height: auto;
	position: relative;
	background-color: white;
	padding-bottom: 5px;
	margin-right: 20px;
	//border: rem-calc(1px) $gray solid;
	border-radius: rem-calc(2px);
	-webkit-box-shadow: 0.5px 0.5px 0px 1px rgba(60, 60, 60, 0.4);
	-moz-box-shadow:    0.5px 0.5px 0px 1px rgba(60, 60, 60, 0.4);
	box-shadow:         0.5px 0.5px 0px 1px rgba(60, 60, 60, 0.4);
	/*-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);*/
	.pod-banner {
		width: 100%;
		position: relative;
		padding: 0;
		margin: 0;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.pod-header {
		//float: left;
		width: 100%;
		position: relative;
		padding: 15px 15px 15px 15px;
		margin-bottom: 10px;
		border-bottom: 1px $light solid;
		background-color: rgb(252,252,253);
		.pod-user-pic {
			position:absolute;
			width: 40px;
			height: 40px;
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			
			@include transition(100ms);
		}
		h3 {
			padding-left: 10px;
			margin-left: 40px;
			padding-right: 40px;
			//float: left;
			position: relative;
			padding-top: 2px;
			@include font-semi(rem-calc(14px));
			color: $primary-color;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			@include transition(100ms);
			a {
				width: 100%;
				@include transition(100ms);
				&:hover {
					color: $dark;
				}
			}
			&:hover {
				color: $dark;
				a {
					color: $dark;
				}
			}
		}
		p {
			padding-left: 10px;
			margin-left: 40px;
			padding-right: 40px;
			//float: left;
			position: relative;
			//width: 218px;
			padding-top: 1px;
			color: $gray;
			a {
				@include font-regular(rem-calc(12px));
				color: $gray;
				margin-right: 2px;
				//display: inline-block;
				&:hover {
					color: $darkest;
				}
			}
			span {
				@include font-italic(rem-calc(12px));
				color: darken($light, 10%);
				//margin-left: 2px;
				white-space: nowrap;
				//display: inline-block;
			}
		}
	}
	.pod-body {
		//float: left;
		width: 100%;
		position: relative;
		padding: 0 15px 0 15px;
		p {
			//float: left;
			width: 100%;
		}
	}
	.pod-footer {
		width: 100%;
		//float: left;
		padding: 10px 15px 0 15px;
		margin-top: 10px;
		border-top: 1px $light solid;
		background-color: rgb(252,252,253);
		position: relative;
		text-align: center;
		.option {
			display: inline-block;
			padding: 0 5px 0 5px;
			a {
				color: $light;
				@include transition(100ms);
				span {
					font-size: rem-calc(24px);
				}
				&:hover {
					color: $dark;
				}
			}
		}
	}
}
.new-opportunity-page {
	width: 100%;
	padding-right: 0.9375rem;
	position: relative;
	//padding-top: 25px;
	h3 {
		padding-top: 20px;
	}
}
.new-opportunity {
	padding-top: 15px;
	width: 100%;
	position: relative;
	//float: left;
	.new-opportunity-form {
		position: relative;
		float: left;
		width: 100%;
		.new-opportunity-inner {
			float: left;
			width: 100%;
			position: relative;
			border: rem-calc(1px) $gray solid;
			min-height: 180px;
			.opportunity-options {
				padding: rem-calc(15px);
				padding-bottom: 0;
				width: 100%;
				float: left;
				position: relative;
				padding-bottom: 0;
				padding-top: rem-calc(4px);
				ul {
					list-style: none;
					position: relative;
					float: left;
					width: 100%;
					border-bottom: rem-calc(1px) $gray solid;
					margin: 0;
					li {
						float: left;
						padding: rem-calc(5px);
						a {
							color: $gray;
							@include transition(100ms);
							span {
								font-size: rem-calc(15px);
							}
							.text-icon {
								font-size: rem-calc(14px);
							}
							&:hover {
								color: $dark;
							}
							&.selected {
								color: $dark;
							}
						}
						&:first-child {
							padding-left: 0;
						}
					}
					.opportunity-options-edit {
						margin-top: -2px;
					}
				}
			}
			textarea {
				resize: vertical;
				outline: none;
				outline: 0;
				margin: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				border: none;
				background: rgba(255,255,255,0.0);
				height: 180px;
				width: 100%;
				float: left;
				padding: rem-calc(15px);
			}
		}
		.new-opportunity-post {
			float: right;
			width: auto;
			p {
				padding: rem-calc(10px);
				padding-right: 0;
				.sy-button {
					margin-top: 0;
				}
			}
		}
		.new-opportunity-tag {
			float: left;
			width: 100%;
			//height: 50px;
			position: relative;
			margin-top: 10px;
		}
		.new-opportunity-preview {
			float: right;
			width: auto;
			p {
				padding: rem-calc(10px);
				padding-right: 0;
				.sy-button {
					margin-top: 0;
				}
			}
		}
	}
}

/* ------ Individual Opportunity page ------ */
.board-page {
	padding-bottom: rem-calc(20px);
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: auto;
	.board-page-main {
		padding-left: 0;
	}
	.board-post-content {
		position: relative;
		width: 100%;
		.board-page-header {
			width: 100%;
			float: left;
			position: relative;
			padding-bottom: rem-calc(20px);
			h3 {
				@inlude font-bold(rem-calc(24px));
				font-size: rem-calc(24px);
				color: $dark;
				padding-right: rem-calc(100px);
				&:hover {
					color: $dark;
				}
			}
			.board-page-apply {
				position: absolute;
				right: 0;
				top: 0;
				width: rem-calc(100px);
				padding-right: rem-calc(3px);
				a {
					float: right;
					width: rem-calc(30px);
					height: rem-calc(30px);
					border-radius: 50%;
					display: block;
					background-color: $light;
					@include font-semi(rem-calc(16px));
					text-align: center;
					line-height: rem-calc(30px);
					color: white;
					@include transition(100ms);
					&:hover {
						background-color: darken($light, 15%);
					}
					&.apply-button {
						background-color: $primary-color;
						margin-left: rem-calc(15px);
						&:hover {
							background-color: darken($primary-color, 15%);
						}
						span {
							position: relative;
							bottom: -.2rem;
							font-size: rem-calc(16px);
						}
					}
				}
			}
		}
		.board-page-body {
			width: 100%;
			float: left;
			position: relative;
			padding-top: rem-calc(20px);
			border-top: rem-calc(1px) $light solid;
			padding-bottom: rem-calc(20px);
			p {
				@inlude font-regular(rem-calc(12px));
				line-height: rem-calc(18px);
				a {
					text-decoration: underline;
					color: $gray;
					&:hover {
						color: $dark;
					}
				}
			}
			.image-thumbs {
				padding-top: rem-calc(20px);
				float: left;
				position: relative;
				width: 100%;
				.thumbnail-container {
					padding: rem-calc(5px);
					float: left;
					width: 23%;
					margin-right: 1%;
					height: auto;
					border: rem-calc(1px) $light solid;
					img {
						max-width: 100%;
						width: 100%;
						max-height: rem-calc(200px);
					}
					&:first-child {
						margin-left: 0;	
					}
				}
			}
		}
		.board-page-footer {
			padding-top: rem-calc(20px);
			border-top: rem-calc(1px) $light solid;
			padding-bottom: rem-calc(20px);
			border-bottom: rem-calc(1px) $dark solid;
			width: 100%;
			float: left;
			position: relative;
			.board-page-details {
				padding-top: 0;
				text-align: left;
				padding-left: 0;
				float: right;
			}
			.board-details {
				float: left;
				width: auto;
				.board-details-pic {
					width: rem-calc(30px);
					height: rem-calc(30px);
					float: left;
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(15px);
					overflow: hidden;
					@include transition(100ms);
					margin-right: rem-calc(6px);
				}
				.board-postedby {
					float: left;
				}
				.board-details-by {
					line-height: rem-calc(15px);
					padding-bottom: rem-calc(1px);
					a {
						@include font-regular(rem-calc(12px));
						color: $primary-color;
						text-decoration: none;
					}
				}
				.board-details-on {
					@include font-regular(rem-calc(12px));
					line-height: rem-calc(15px);
					span {
						@include font-italic(rem-calc(12px));
						color: $gray;
					}
				}
			}
			.board-page-share {
				padding-top: 0;
				padding-right: 0;
				float: left;
				text-align: right;
				.facebook-share {
					float: right;
					padding-top: rem-calc(5px);
				}
				.twitter-share {
					float: right;
					padding-left: rem-calc(10px);
					padding-top: rem-calc(5px);
				}
				.icon {
					float: left;
					margin-right: rem-calc(5px);
					margin-top: rem-calc(-3px);
					@include icon(rem-calc(24px),$gray);
					@include transition(100ms);
					&:hover {
						color: $primary-color;
					}
				}
				.share-count {
					height: 18px;
					width: rem-calc(50px);
					border: 1px solid $primary-color;
					float: left;
					background: white;
					position: relative;
					p {
						width: 100%;
						text-align: center;
						@include font-regular(rem-calc(9px));
						padding: 0;
						padding-top: 2px;
						margin: 0;
					}
				}
				.share-count:after, .share-count:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.share-count:after {
					border-color: rgba(187, 128, 213, 0);
					border-right-color: white;
					border-width: 5px;
					margin-top: -5px;
				}
				.share-count:before {
					border-color: rgba(194, 225, 245, 0);
					border-right-color: $primary-color;
					border-width: 6px;
					margin-top: -6px;
				}
			}
		}
	}
	.board-question-sort {
		top: 85px !important;
		left: auto !important;
		right: 0 !important;
		border-radius: 4px;
	}
	.board-question-sort:after, .board-question-sort:before {
		left: 120px;
	}
	.replies {
		.new-comment {
			padding-top: rem-calc(10px);
			width: 100%;
			position: relative;
			float: left;
			padding-left: 3.5rem;
			.new-comment-left {
				float: left;
				position: relative;
				width: 3.6rem;
				height: 100%;
				.reply-pic {
					width: rem-calc(40px);
					height: rem-calc(40px);
					float: left;
					margin-left: rem-calc(3px);
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(20px);
					overflow: hidden;
					display: block;
					@include transition(100ms);
				}
			}
			.new-comment-form {
				textarea {
					height: rem-calc(60px);
					background-color: white;
				}
				.new-comment-submit {
					height: rem-calc(60px);
					span {
						top: rem-calc(20px);
					}
				}
			}
		}
	}
}
