.board-category-nav {
	ul {
		list-style: none;
		float: left;
		position: relative;
		width: 100%;
		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			a {
				padding: 0 0 rem-calc(10px) 0;
				margin: 0;
				@include font-regular(12px);
				color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				&:hover {
					color: $darkest;
				}
				&.active {
					color: $darkest;
				}
			}
		}
	}
}
.board-sub-nav {
	border-bottom: rem-calc(1px) $dark solid;
	//float: left;
	padding-bottom: rem-calc(20px);
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			a {
				@include font-regular(rem-calc(12px));
				width: 100%;
				color: darken($light, 10%);
				//display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				@include transition(100ms);
				&:hover {
					//border-top: 3px $dark solid;
					//padding-top: rem-calc(23px);
					color: black;
				}
				&.active {
					border-top: 3px $dark solid;
					padding-top: rem-calc(23px);
					color: black;
				}
			}
		}
		&:after{
			clear:both;
			display:block;
			content:"";
		}
	}
	.board-sub-nav-left {
		float: left;
		li {
			float: left;
			text-align: left;
			&.board-sort {
				@include no-highlight;
				padding-top: 2px;
				a {
					@include no-highlight;
					color: $dark;
					.icon {
						padding-left: 4px;
						position: relative;
						bottom: -.1rem;
					}
				}
			}
		}
	}
	.board-sub-nav-right {
		float: right;
		li {
			float: right;
			text-align: right;
			&:first-child {
				width: auto;
			}
			&.board-new {
				a {
					float: right;
					width: 26px;
					height: 26px;
					padding: 4px 6px 4px 6px;
					margin-right: 6px;
					margin-left: 20px;
					border: 1px darken($light, 10%) solid;
					border-radius: 50%;
					span {
						padding: 0;
						//font-size: rem-calc(14px);
					}
					&:hover {
						border-color: black;
					}
				}
			}
		}
	}
	&:after{ 
		clear:both;
		display:block;
		content:"";
	}

}

.board-center {
	position: relative;
	//display: block;
	//width: 100%;
	//text-align: center;
}
.board-container {
	//list-style: none;
	//margin: 0;
	//padding: 0;
	//position: relative;
	//float: left;
	//width: auto;
	//height: auto;
	//margin: 0 auto;
	//display: inline-block;
	margin-top: 30px !important;
	margin-right:-14px;
}
.gutter-sizer{
	//width:3%;
	width:0px;
}
.board-pod-wrap{
	width: 33.333%;
	&:after{
		content:"";
		clear:both;
		display:block;
	}
	margin-bottom: 24px;
}
.deactivate.board-pod-wrap {
	display: none !important; 
	//width: 0 !important;
	//height: 0 !important;
	visibility: hidden !important;
	/*position: fixed !important;
	left: -9999px !important;
	top: -9999px !important;
	&:after{
		content:"";
		clear:both;
		display:none;
	}
	.board-pod {
		display: none !important; 
		width: 0 !important;
		height: 0 !important;
		visibility: hidden !important;
		position: fixed !important;
		left: -9999px !important;
		top: -9999px !important;
	}*/
}
.board-pod {
	//float: left;
	//height: auto;
	position: relative;
	background-color: white;
	padding: 15px 15px 5px 15px;
	margin-right: 20px;

	//margin: 20px 10px 0 10px;
	
	border: rem-calc(1px) $gray solid;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	.pod-header {
		//float: left;
		width: 100%;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px $gray solid;
		.pod-user-pic {
			position:absolute;
			width: 40px;
			height: 40px;
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			
			@include transition(100ms);
		}
		h3 {
			padding-left: 10px;
			margin-left: 40px;
			padding-right: 40px;
			//float: left;
			position: relative;
			padding-top: 2px;
			@include font-semi(rem-calc(14px));
			color: $primary-color;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			@include transition(100ms);
			a {
				width: 100%;
				@include transition(100ms);
				&:hover {
					color: $dark;
				}
			}
			&:hover {
				color: $dark;
				a {
					color: $dark;
				}
			}
		}
		p {
			padding-left: 10px;
			margin-left: 40px;
			padding-right: 40px;
			//float: left;
			position: relative;
			//width: 218px;
			padding-top: 1px;
			color: $gray;
			a {
				@include font-regular(rem-calc(12px));
				color: $gray;
				margin-right: 2px;
				//display: inline-block;
				&:hover {
					color: $darkest;
				}
			}
			span {
				@include font-italic(rem-calc(12px));
				color: darken($light, 10%);
				//margin-left: 2px;
				white-space: nowrap;
				//display: inline-block;
			}
		}
	}
	.pod-body {
		//float: left;
		width: 100%;
		position: relative;
		p {
			//float: left;
			width: 100%;
		}
	}
	.pod-footer {
		width: 100%;
		//float: left;
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px $gray solid;
		position: relative;
		text-align: center;
		.option {
			display: inline-block;
			padding: 0 5px 0 5px;
			a {
				color: $light;
				@include transition(100ms);
				span {
					font-size: rem-calc(24px);
				}
				&:hover {
					color: $dark;
				}
			}
		}
	}
}
