body {
	background-color: rgba(40,40,40,1.0);
}
.bg-gradient {
	height: 100vh;
	width: 100%;
	background: #828282;
	background: -moz-linear-gradient(top, #828282 0%, #4b4b4b 30%, #414141 44%, #414141 56%, #4b4b4b 70%, #828282 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(30%,#4b4b4b), color-stop(44%,#414141), color-stop(56%,#414141), color-stop(70%,#4b4b4b), color-stop(100%,#828282));
	background: -webkit-linear-gradient(top, #828282 0%,#4b4b4b 30%,#414141 44%,#414141 56%,#4b4b4b 70%,#828282 100%);
	background: -o-linear-gradient(top, #828282 0%,#4b4b4b 30%,#414141 44%,#414141 56%,#4b4b4b 70%,#828282 100%);
	background: -ms-linear-gradient(top, #828282 0%,#4b4b4b 30%,#414141 44%,#414141 56%,#4b4b4b 70%,#828282 100%);
	background: linear-gradient(to bottom, #828282 0%,#4b4b4b 30%,#414141 44%,#414141 56%,#4b4b4b 70%,#828282 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#828282',GradientType=0 );
	position: fixed;
}
.fluid-row {
	position: relative;
	width: 100%;
	padding: 30px;
	max-width: 100%;
	h1 {
		text-align: left;
		width: 100%;
		@include font-regular(rem-calc(48px));
		padding-bottom: 20px;
		margin: 0;
	}
	h3 {
		text-align: left;
		width: 100%;
		@include font-semi(rem-calc(18px));
		margin: 0;
		color: white;
	}
	p {
		text-align: left;
		width: 100%;
		@include font-regular(rem-calc(12px));
		margin: 0;
	}
}
.main-left {
	padding-right: 30px;
	header {
		border-top: 2px white solid;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
	}
	.left-content {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		a {
			p {
				@include transition(50ms);
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}
.main-center {
	padding-right: 30px;
	header {
		border-top: 1px $offWhite solid;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
	}
	.center-content {

	}
}
.main-right {
	header {

	}
	.right-content {

	}
}