body {
	background-color: white;
	//background-color: lighten($offWhite, 5%);
	height: 100%;
}
/* ----- Highlight color ------ */
::selection {
  	background: lighten($primary-color, 45%);
}
::-moz-selection {
  	background: lighten($primary-color, 45%);
}

small {
	@include font-regular(10px);
}
quote {
	h2 {
		@include font-semi(rem-calc(18px));
		color: $primary-color;
		margin: 0;
	}
	span {
		@include font-italic(rem-calc(12px));
		line-height: rem-calc(14px);
		color: $gray;
	}
}
.clearfix{
	display:block;
	&:after{
		content:"";
		clear:both;
		display:block;
	}
}
.table{
	display:table;
	width:100%;
}
.table-cell{
	display:table-cell;
}
.vertical-align{
	vertical-align:middle;
}
.dead-link {
	cursor: default !important;
	&:hover {
		color: inherit;
	}
}
.tooltip {
	border-radius: 5px;
	padding-top: 6px;
	padding-bottom: 7px;
	@include font-regular(rem-calc(11px));
	color: white;
}
.f-dropdown{
	position:absolute !important;
}
.home-animation{
	overflow:hidden;
}
.center-text {
	text-align: center;
}
#heading-row {
	padding-top: rem-calc(75px);
	padding-bottom: 0;
}
.fluid-row {
	position: relative;
	width: 100%;
	padding: rem-calc(30px);
	padding-top: rem-calc(20px);
	min-width: 701px;
	max-width: 1440px;
	@include no-highlight;
	//background-color: lighten($offWhite, 5%);
	h1 {
		text-align: left;
		width: 100%;
		@include font-bitter2(rem-calc(48px));
		color: $dark;
		margin: 0;
		white-space: nowrap;
		a {
			color: $dark;
		}
	}
	h3 {
		text-align: left;
		width: 100%;
		@include font-semi(rem-calc(18px));
		color: $dark;
		margin: 0;
	}
	p {
		text-align: left;
		width: 100%;
		@include font-regular(rem-calc(12px));
		margin: 0;
		word-wrap: break-word;
	}
}
.sub-heading {
	padding-left: rem-calc(15px);
}
.main-left {
	position:absolute;
	padding-right: rem-calc(30px);
	padding-left: 0.65rem;
	header {
		border-top: 3px $dark solid;
		padding-top: rem-calc(20px);
		padding-bottom: rem-calc(20px);
		width: 100%;
	}
	.left-content {
		overflow-y: auto;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding-top: rem-calc(0px);
				padding-bottom: rem-calc(5px);
			}
		}
		a {
			p {
				@include transition(100ms);
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	&:after{
		content: ""; 
		display: table; 
		clear: both;
	}

}
.main-center {
	padding-right: rem-calc(0px);
	padding-left: rem-calc(15px);
	header {
		border-top: rem-calc(1px) $dark solid;
		padding-top: rem-calc(20px);
		width: 100%;
	}
	.main-content {
		padding-top: rem-calc(20px);
	}
	& > .row{
		//padding-right: rem-calc(30px);
	}
}
.main-right {
	header {

	}
	.right-content {

	}
}
.no-title {
	padding-top: rem-calc(80px);
}
.to-do{
	position: fixed;
	width:14%;
	bottom: 65px;
	right: 0;
	z-index:99;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	@include transition(200ms);
	//overflow: hidden;
	background: $light;
	opacity: 0;
	margin: 0;
	height: auto;
	padding: 6px 6px 10px 15px;
	list-style: circle;
	li {
		@include font-regular(rem-calc(12px));
		color: white;
		//list-style: circle;
		width: 100%;
		position: relative;
		float: left;
		margin-left: 16px;
		&.to-do-title {
			list-style:none;
			//margin-bottom: 10px;
			margin-left: 0;
			h4{
				@include font-semi(rem-calc(14px));
				color: white;
				margin-bottom: 2px;
			}
		}
	}
	&.show{
		opacity:1;
	}
	&:hover {
		background: $gray;
	}
}
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index:100;
	opacity: 1;
	@include transition(200ms);
	&.hidden{
		opacity:0;
	}
	a {
		span {
			font-size: rem-calc(40px);
			color: $primary-color;
			@include transition(200ms);
			&:hover {
				color: darken($primary-color, 10%);
			}
		}
	    /*p {
	    	position: relative;
	    	@include font-regular(rem-calc(12px));
	    	color: white;
	    	padding-bottom: rem-calc(7px);
	    	padding-top: rem-calc(6px);
	    	padding-left: rem-calc(12px);
	    	padding-right: rem-calc(12px);
			background-color: $primary-color;
			-ms-transform: rotate(-90deg);
		    -webkit-transform: rotate(-90deg);
		    -moz-transform: rotate(-90deg);
		    transform: rotate(-90deg);
		    @include transition(100ms);
	    }
	    p:after {
	    	left: 100%;
	    	top: 50%;
	    	border: solid transparent;
	    	content: " ";
	    	height: 0;
	    	width: 0;
	    	//margin-left: rem-calc(-1px);
	    	position: absolute;
	    	pointer-events: none;
	    	border-color: rgba(255,255,255,0);
	    	border-left-color: $primary-color;
	    	border-width: rem-calc(16.5px);
	    	margin-top: rem-calc(-16.5px);
	    }
	    p:hover {
	    	color: $offWhite;
	    }*/
	}
}
.link-hint {
	position: absolute;
	z-index: 15;
	width: auto;
	//height: rem-calc(26px);
	height: auto;
	background-color: $dark;
	@include font-regular(rem-calc(10px));
	color: $offWhite;
	border-radius: rem-calc(5px);
	padding: rem-calc(5px) rem-calc(8px) rem-calc(5px) rem-calc(8px);
	text-align: center;
	white-space: nowrap;
	&:before {
		content:"";
	    width:0;
	    height:0;
	    position:absolute;
	    border-top: 8px solid transparent;
	    border-bottom: 8px solid $dark;
	    border-right:8px solid transparent;
	    border-left:8px solid transparent;
	    left:50%;
	    top:-14px;
	    margin-left: -8px;
	}
}

[ui-view="main"]{
	padding-bottom: 55px;
}
.fluid-row {
	display: block;
}
.container{
	//height:100%;
	min-height: 100%;
	//float: left;
	display: block;
	position:relative;
	margin-bottom: -55px;
}
.sitenav-push-inner {
	height: 100%;
}
.footer {
	border-top: 1px $light solid;
	height: 55px;
	display: block;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 10px;
	position: relative;
	.footer-nav {
		display: block;
		list-style: none;
		padding-left: 8%;
		margin-bottom: 0;
		li {
			line-height: 40px;
			display: inline-block;
			padding: 0 5px 0 5px;
			@include font-regular(rem-calc(12px));
			a {
				color: $primary-color;
				@include transition(100ms);
				&:hover {
					color: darken($primary-color, 15%);
				}
			}
		}
		&.right {
			float: right;
			padding-right: 8%;
			padding-left: 0;
			margin-left: 0;
		}
	}
	.footer-logo {
		position: absolute;
		width: 140px;
		top: 14px;
		left: 50%;
		margin-left: -40px;
		@include font-semi(rem-calc(30px));
		opacity: 0.5;
		@include transition(200ms);
		.footer-sy {
			color: $primary-color;
		}
		.footer-mantis {
			color: $light;
		}
		&:hover {
			opacity: 0.9;
		}
	}
}

