body {
	background-color: white;
}
.container{
	height:100%;
}

small {
	@include font-regular(10px);
}
quote {
	h2 {
		@include font-semi(rem-calc(18px));
		color: $primary-color;
		margin: 0;
	}
	span {
		@include font-italic(rem-calc(12px));
		line-height: rem-calc(14px);
		color: $gray;
	}
}

#heading-row {
	padding-top: rem-calc(70px);
	padding-bottom: 0;
}
.fluid-row {
	position: relative;
	width: 100%;
	padding: rem-calc(30px);
	padding-top: rem-calc(20px);
	min-width: 701px;
	max-width: 2000px;
	h1 {
		text-align: left;
		width: 100%;
		@include font-bitter2(rem-calc(48px));
		color: $dark;
		margin: 0;
	}
	h3 {
		text-align: left;
		width: 100%;
		@include font-semi(rem-calc(18px));
		color: $dark;
		margin: 0;
	}
	p {
		text-align: left;
		width: 100%;
		@include font-regular(rem-calc(12px));
		margin: 0;
	}
}
.sub-heading {
	padding-left: rem-calc(15px);
}
.main-left {
	position:absolute;
	padding-right: rem-calc(30px);
	header {
		border-top: rem-calc(2px) $dark solid;
		padding-top: rem-calc(20px);
		padding-bottom: rem-calc(20px);
		width: 100%;
	}
	.left-content {
		overflow-y: auto;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding-top: rem-calc(0px);
				padding-bottom: rem-calc(5px);
			}
		}
		a {
			p {
				@include transition(100ms);
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	&:after{
		content: ""; 
		display: table; 
		clear: both;
	}

}
.main-center {
	padding-right: rem-calc(0px);
	padding-left: rem-calc(15px);
	header {
		border-top: rem-calc(1px) $dark solid;
		padding-top: rem-calc(20px);
		width: 100%;
	}
	.main-content {
		padding-top: rem-calc(20px);
	}
	& > .row{
		//padding-right: rem-calc(30px);
	}
}
.main-right {
	header {

	}
	.right-content {

	}
}
.no-title {
	padding-top: rem-calc(80px);
}