
$time: 0.3s;

.notifications-container {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	//height: 100%;
	width: 16.6667%;
	background-color: $dark;
	//background-color: rgba(46,48,44,0.9);
	z-index: 100;
	transform: translateX(100%);
    transform: translate3d(100%, 0, 0);

	-webkit-box-shadow: -1px 0px 4px 0px rgba(50, 50, 50, 0);
	-moz-box-shadow:    -1px 0px 4px 0px rgba(50, 50, 50, 0);
	box-shadow:         -1px 0px 4px 0px rgba(50, 50, 50, 0);

	/*-webkit-box-shadow: inset 5px 0px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    inset 5px 0px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         inset 5px 0px 5px 0px rgba(0, 0, 0, 1);*/

	-webkit-transition: transform $time ease, box-shadow $time ease;                  
    -moz-transition: transform $time ease, box-shadow $time ease;                 
    -o-transition: transform $time ease, box-shadow $time ease;   
    -ms-transition: transform $time ease, box-shadow $time ease;          
    transition: transform $time ease, box-shadow $time ease;
    
	&.open {
		transform: translate3d(0%, 0, 0);
		transform: translateX(0%);

		-webkit-box-shadow: -1px 0px 4px 0px rgba(50, 50, 50, 0.71);
		-moz-box-shadow:    -1px 0px 4px 0px rgba(50, 50, 50, 0.71);
		box-shadow:         -1px 0px 4px 0px rgba(50, 50, 50, 0.71);
		&.menuOpen {
			transform: translateX(100%);
    		transform: translate3d(100%, 0, 0);
		}
	}
}
.sitenav-push {

	&.notificationsOpen {
		transform: translateX(-8.3335%);
    	transform: translate3d(-8.3335%, 0, 0);
	}
}

.notifications-inner {
	width: 100%;
	position: relative;
	max-height: 100%;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden; 
	padding: rem-calc(55px) 0 rem-calc(55px) 0;
	margin-bottom: rem-calc(-55px);
	margin-top: rem-calc(-55px);
}

.notifications-header {
	width: 100%;
	height: rem-calc(55px);
	border-bottom: 1px lighten($dark, 12%) solid;
	position: relative;
	display: block;
	z-index: 102;
	//background-color: $dark;
	background-color: rgba(46,48,44,0.95);
	padding-top: rem-calc(14px);
	padding-left: rem-calc(15px);
	a {
		@include font-regular(rem-calc(12px));
		@include no-highlight;
		span {
			font-size: rem-calc(20px);
			position: relative;
		}
		&.compose {
			position: absolute;
			right: rem-calc(15px);
			top: rem-calc(18px);
			color: $offWhite;
			-webkit-transition: color 0.1s ease;                  
		    -moz-transition: 	color 0.1s ease;                 
		    -o-transition: 		color 0.1s ease;   
		    -ms-transition: 	color 0.1s ease;          
		    transition: 		color 0.1s ease;
			&:hover {
				color: white;
			}
			&.active {
				color: $primary-color;
			}
		}
	}
	.notifications-filter {
		display: block;
		padding-right: rem-calc(35px);
		padding-left: rem-calc(1px);
		width: 100%;
		position: relative;
		text-align: left;
		a {
			padding: rem-calc(3px) rem-calc(15px) rem-calc(4px) rem-calc(15px);
			color: lighten($primary-color, 5%);
			-webkit-transition: background-color 0.1s ease;                  
		    -moz-transition: 	background-color 0.1s ease;                 
		    -o-transition: 		background-color 0.1s ease;   
		    -ms-transition: 	background-color 0.1s ease;          
		    transition: 		background-color 0.1s ease;

		    &:hover {
		    	color: darken($primary-color, 5%);
		    	border-color: darken($primary-color, 5%);
		    }
			&.active {
				background-color: lighten($primary-color, 5%);
				color: $dark;
				opacity: 0.9;
			}
			&:first-child {
				border-top: 1px lighten($primary-color, 5%) solid;
				border-bottom: 1px lighten($primary-color, 5%) solid;
				border-left: 1px lighten($primary-color, 5%) solid;

				/*border-top: 1px $light solid;
				border-bottom: 1px $light solid;
				border-left: 1px $light solid;*/

				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&:last-child {
				border-top: 1px lighten($primary-color, 5%) solid;
				border-bottom: 1px lighten($primary-color, 5%) solid;
				border-right: 1px lighten($primary-color, 5%) solid;

				/*border-top: 1px $light solid;
				border-bottom: 1px $light solid;
				border-right: 1px $light solid;*/

				margin-left: -1px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
}
.compose-dropdown {
	position: absolute;
	z-index: 999;
	top: 60px !important;
	right: 2.5% !important;
	left: auto !important;
	width: 95%;
	background-color: white;
	border-radius: 4px;
	border: 1px $dark solid;
	.compose-header {
		position: relative;
		border-bottom: 1px $light solid;
		padding-left: rem-calc(10px);
		padding-right: rem-calc(10px);
		margin-bottom: rem-calc(10px);
		label {
			width: 20%;
			display: inline-block;
		}
		input {
			width: 80%;
			display: inline-block;
			outline: none;
			border: none;
			box-shadow: none;
			background-color: white;
			margin: 0;
			color: $dark;
			&:focus {
				outline: none;
				border: none;
				box-shadow: none;
			}
		}
	}
	.compose-body {
		padding-left: rem-calc(10px);
		padding-right: rem-calc(10px);
		margin-bottom: rem-calc(10px);
		textarea {
			width: 100%;
			resize: none;
			height: 100px;
			outline: none;
			border: none;
			box-shadow: none;
			background-color: white;
			margin: 0;
			padding: 0;
			padding-top: rem-calc(10px);
			color: $dark;
			&:focus {
				outline: none;
				border: none;
				box-shadow: none;
			}
		}
	}
	.compose-footer {
		text-align: right;
		border-top: 1px $light solid;
		padding: rem-calc(10px);
		.sy-button {
			padding: 5px 15px;
			margin: 0;
			border-color: $primary-color;
			color: $primary-color;
			border-radius: 3px;
			&:hover {
				color: white;
			}
		}
	}
}
.compose-dropdown:after, .compose-dropdown:before {
	bottom: 100%;
	left: auto !important;
	right: rem-calc(11px);
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.compose-dropdown:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}
.compose-dropdown:before {
	border-color: rgba(46, 48, 44, 0);
	border-bottom-color: $dark;
	border-width: 9px;
	margin-left: -9px;
}

/*.notifications-footer {
	width: 100%;
	height: rem-calc(55px);
	border-top: 1px lighten($dark, 12%) solid;
	position: relative;
	display: block;
	z-index: 101;
	//background-color: $dark;
	background-color: rgba(46,48,44,0.95);
	padding-top: rem-calc(14px);
	padding-left: rem-calc(15px);
}*/

.notifications-list {
	margin: 0;
	padding: 0 0 0 rem-calc(15px);
	list-style: none;
	width: 100%;
	height: auto;

	.notification {
		height: rem-calc(80px);
		width: 100%;
		padding: rem-calc(10px) rem-calc(10px) rem-calc(10px) 0;
		display: block;
		border-bottom: 1px lighten($dark, 5%) solid;
		overflow: hidden;

		section {
			float: left;
			height: 100%;
			display: table;
		}

		.notification-icon {
			//padding-top: rem-calc(10px);
			width: 15%;
			span {
				display: table-cell;
				vertical-align: middle;
				font-size: rem-calc(18px);
				color: $offWhite;
				position: relative;
				bottom: -.2rem;
			}
		}

		.notification-content {
			p {
				@include font-regular(rem-calc(12px));
				margin: 0;
				padding: 0;
				line-height: 1.2;
				display: table-cell;
				vertical-align: middle;
				a {
					color: $offWhite;
					-webkit-transition: color 0.1s ease;                  
				    -moz-transition: 	color 0.1s ease;                 
				    -o-transition: 		color 0.1s ease;   
				    -ms-transition: 	color 0.1s ease;          
				    transition: 		color 0.1s ease;
					&:hover {
						color: white;
					}
				}
				span {
					font-size: rem-calc(10px);
					color: $light;
					&.n-date {
						@include font-italic(rem-calc(10px));
						color: darken($gray, 10%);
					}
				}
			}
			width: 70%;
			float: left;
		}

		.notification-goto {
			width: 15%;
			text-align: right;
			a {
				display: table-cell;
				vertical-align: middle;
				position: relative;
				color: $dark;
				width: rem-calc(24px);
				height: rem-calc(24px);
				text-align: center;
				background-color: darken($primary-color, 10%);
				border-radius: 50%;
				float: right;
				margin-top: rem-calc(17px);
				-webkit-transition: background-color 0.1s ease;                  
			    -moz-transition: 	background-color 0.1s ease;                 
			    -o-transition: 		background-color 0.1s ease;   
			    -ms-transition: 	background-color 0.1s ease;          
			    transition: 		background-color 0.1s ease;
				&:hover {
					background-color: $primary-color;
				}
			}
			span {
				font-size: rem-calc(18px);
				position: relative;
				bottom: -.05rem;
			}
		}
	}
}




