.news-left {
	header {
		margin-bottom: rem-calc(-40px);
	}
	.news-left-content {
		.news-nav {
			padding-top: rem-calc(20px);
			padding-bottom: rem-calc(20px);
			h3 {
				padding-top: rem-calc(10px);
				a {
					text-align: left;
					width: 100%;
					@include font-semi(rem-calc(18px));
					margin: 0;
					&:hover {
						color: $primary-color;
					}
				}
			}
			li {
				padding: 0;
				margin: 0;
				line-height: rem-calc(12px);
				a {
					text-align: left;
					line-height: rem-calc(16px);
					width: 100%;
					@include font-regular(rem-calc(12px));
					margin: 0;
					padding: 0;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.left-indent {
				padding-left: rem-calc(20px);
				padding-top: rem-calc(5px);
			}
		}
	}
}
.news-post {
	padding-bottom: rem-calc(20px);
	padding-top: rem-calc(10px);
	height: auto;
	.news-post-date {
		width: 5.6rem;
		h2 {
			@include font-regular(rem-calc(12px));
			padding-bottom: rem-calc(15px);
			text-align: right;
		}
	}
	.news-post-content {
		border-left: rem-calc(1px) solid black;
		height: 100%;
		position: relative;
		width: calc(100% - 5.6rem);
		h3 {
			@inlude font-bold(rem-calc(30px));
			padding-bottom: rem-calc(10px);
			color: $primary-color;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-height: rem-calc(36px);
			overflow: hidden;
			@include transition(100ms);
			&:hover {
				color: black;
			}
		}
		p {
			@inlude font-regular(rem-calc(12px));
			line-height: rem-calc(18px);
		}
		img {
			padding-top: rem-calc(15px);
			padding-bottom: rem-calc(15px);
			max-width: 100%;
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			li {
				margin: 0;
				padding: rem-calc(10px);
				float: left;
				padding-bottom: 0;
			}
			.news-post-details {
				padding-top: rem-calc(25px);
				text-align: left;
				padding-left: 0;
				width: 38%;
				p {
					@inlude font-regular(rem-calc(10px));
					line-height: rem-calc(12px);
				}
			}
			.news-post-comments {
				@inlude font-regular(rem-calc(12px));
				padding-top: rem-calc(25px);
				width: 24%;
				p {
					width: 100%;
					text-align: center;
					line-height: rem-calc(12px);
					a {
						color: black;
						@include transition(100ms);
						&:hover {
							color: $primary-color;
						}
					}
				}
			}
			.news-post-share {
				padding-top: rem-calc(15px);
				padding-right: 0;
				text-align: right;
				width: 38%;
				.facebook-share {
					float: right;
					padding-top: rem-calc(5px);
				}
				.twitter-share {
					float: right;
					padding-left: rem-calc(10px);
					padding-top: rem-calc(5px);
				}
				svg {
					float: left;
					margin-right: rem-calc(7px);
					@include transition(100ms);
					fill: black;
					&:hover {
						fill: $primary-color;
					}
				}
				.share-count {
					height: 18px;
					width: rem-calc(50px);
					border: 1px solid $primary-color;
					float: left;
					background: white;
					position: relative;
					p {
						width: 100%;
						text-align: center;
						@include font-regular(rem-calc(9px));
						padding: 0;
						padding-top: 0;
						margin: 0;
					}
				}
				.share-count:after, .share-count:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.share-count:after {
					border-color: rgba(187, 128, 213, 0);
					border-right-color: white;
					border-width: 5px;
					margin-top: -5px;
				}
				.share-count:before {
					border-color: rgba(194, 225, 245, 0);
					border-right-color: $primary-color;
					border-width: 6px;
					margin-top: -6px;
				}
			}
		}
	}
}

.queries-left {
	h3 {
		a {
			text-align: left;
			width: 100%;
			@include font-semi(rem-calc(18px));
			margin: 0;
		}
	}
	li {
		padding: 0;
		margin: 0;
		line-height: rem-calc(12px);
		a {
			text-align: left;
			line-height: rem-calc(16px);
			width: 100%;
			@include font-regular(rem-calc(12px));
			margin: 0;
			padding: 0;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
.queries-sub-nav {
	border-bottom: rem-calc(1px) black solid;
	float: left;
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			margin-top: rem-calc(-20px);
			a {
				@include font-regular(rem-calc(13px));
				width: 100%;
				color: $gray;
				display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				&:hover {
					border-top: rem-calc(3px) black solid;
					padding-top: rem-calc(22px);
					color: black;
				}
				&:selected {
					border-top: rem-calc(3px) black solid;
					padding-top: rem-calc(22px);
				}
			}
		}
	}
	.queries-sub-nav-left {
		float: left;
		li {
			float: left;
		}
	}
	.queries-sub-nav-right {
		float: right;
		li {
			float: right;
			&:first-child {
				width: rem-calc(60px);
			}
		}
	}
}
.queries-main-container {
	.querie-overview {
		position: relative;
		float: left;
		width: 100%;
		padding-top: rem-calc(20px);
		padding-bottom: rem-calc(20px);
		border-bottom: rem-calc(1px) black solid;
		.querie-overview-main {
			float: left;
			width: 70%;
			h3 {
				padding-bottom: rem-calc(10px);
				a {
					@inlude font-bold(rem-calc(30px));
					color: $primary-color;
					@include transition(100ms);
					&:hover {
						color: black;
					}
				}
			}
			.querie-tags {
				ul {
					margin: 0;
					padding: 0;
				}
			}
		}
		.querie-overview-stats {
			float: right;
			width: 30%;
			ul {
				//float: right;
				margin: 0;
				padding: 0;
				list-style: none;
				a {
					float: left;
					svg {
						fill: black;
						float: left;
						&:hover {
							fill: $gray;
						}
					}
				}
				li {
					float: right;
					width: rem-calc(60px);
					padding-top: rem-calc(5px);
					svg {
						fill: black;
						float: left;
					}
					p {
						float: left;
						width: rem-calc(35px);
						text-overflow: ellipsis;
						padding-top: rem-calc(2px);
						padding-left: rem-calc(6px);
						padding-bottom: rem-calc(2px);
						@include font-regular(rem-calc(11px));
					}
				}
				&:after{
					content:"";
					clear:both;
					display:block;
				}
			}
			.querie-date {
				float: right;
				padding-top: rem-calc(15px);
				width: 100%;
				text-align: right;
				position: relative;
				width: rem-calc(120px);
				p {
					@include font-regular(rem-calc(11px));
					line-height: rem-calc(15px);
					text-align: left;
					width: 100%;
					float: right;
					right: 0;
					span {
						@include font-semi(rem-calc(12px));
					}
					span.post-date{
						whitespace: nowrap;
					}
				}
				.querie-empty {
					width: rem-calc(50px);
					height: rem-calc(15px);
					float: right;
					line-height: rem-calc(15px);
				}
			}
		}
	}
}

.connections-left {
	h3 {
		a {
			text-align: left;
			width: 100%;
			@include font-semi(rem-calc(18px));
			margin: 0;
		}
	}
	li {
		padding: 0;
		margin: 0;
		line-height: rem-calc(12px);
		p {
			text-align: left;
			line-height: rem-calc(16px);
			width: 100%;
			@include font-regular(rem-calc(12px));
			margin: 0;
			padding: 0;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			&:hover {
				color: $primary-color;
			}
		}
	}
	.connections-suggestions-header {
		margin-top: rem-calc(20px);
	}
	.connections-suggestions-nav {
		ul {
			li {
				width: 100%;
				padding-bottom: rem-calc(20px);
				p {
					position: relative;
					width: auto;
					line-height: rem-calc(14px);
					@include font-semi(rem-calc(12px));
					padding-top: rem-calc(7px);
					padding-left: rem-calc(5px);
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				.connections-suggestions-skills {
					@include font-regular(rem-calc(12px));
					color: $gray;
					padding-top: 0;
					line-height: rem-calc(15px);
				}
				&:hover .connections-suggestions-name {
					color: black;
					padding-left: rem-calc(15px);
				}
				&:hover .connections-suggestions-pic {
					
				}
				&:hover .connections-suggestions-skills {
					padding-left: rem-calc(15px);
				}
			}
		}
		.connections-suggestions-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			@include transition(100ms);
		}
		.suggestions-online {
			border: rem-calc(1px) $primary-color solid;
		}
	}
}
.connections-container {
	padding-left: rem-calc(20px);
	padding-right: rem-calc(20px);
	.connections-individual {
		margin-top: rem-calc(10px);
		margin-bottom: rem-calc(20px);
		height: auto;
		float: left;
		position: relative;
		.connections-pic {
			width: rem-calc(90px);
			height: rem-calc(90px);
			border: rem-calc(2px) black solid;
			border-radius: rem-calc(45px);
			overflow: hidden;
			float: left;
			margin: 0;
		}
		.connections-name {
			padding-left: rem-calc(10px);
			line-height: rem-calc(24px);
			position: relative;
			padding-top: rem-calc(4px);
			padding-right: rem-calc(40px);
			text-overflow: ellipsis;
			margin-bottom: rem-calc(4px);
			overflow: hidden;
			white-space: nowrap;
			z-index: 4;
			@include font-semi(rem-calc(20px));
			a {
				@include font-semi(rem-calc(20px));
				color: inherit;
			}
			&:hover {
				color: $primary-color;
			}
		}
		.connections-bio {
			padding-left: rem-calc(100px);
			padding-top: 0;
			padding-bottom: rem-calc(4px);
			margin: 0;
			position: relative;
			@include font-regular(rem-calc(12px));
			line-height: rem-calc(15px);
		}
		.connections-skills {
			padding-left: rem-calc(100px);
			a {
				@include font-regular(rem-calc(12px));
				color: $gray;
				padding-top: 0;
				padding: rem-calc(5px);
				&:first-child {
					padding-left: 0;
				}
			}
		}
		.connections-online {
			border: rem-calc(2px) $primary-color solid;
		}
		.connections-message {
			height: rem-calc(25px);
			width: rem-calc(25px);
			position: absolute;
			top: rem-calc(8px);
			right: rem-calc(5px);
			display: none;
			z-index: 5;
			@include transition(100ms);
			svg {
				fill: black;
				@include transition(100ms);
			}
			&:hover svg {
				fill: $primary-color;
			}
		}
		&:hover .connections-message {
			display: block;
		}
		&:nth-child(2n+1) {
			padding-right: rem-calc(20px);
		}
		&:nth-child(even) {
			padding-left: rem-calc(20px);
		}
	}
}





