.comments-head {
	float: left;
	width: 100%;
	padding-top: rem-calc(40px);
	margin-bottom: rem-calc(20px);
	border-bottom: rem-calc(1px) $light solid;
	h4 {
		@include font-semi(rem-calc(18px));
		padding: 0;
		margin: 0;
		float: left;
		width: auto;
		padding-bottom: rem-calc(20px);
		a {
			color: darken($light, 30%);
			float: left;
			margin-bottom: rem-calc(-19px);
			padding-bottom: rem-calc(19px);
			@include transition(200ms);
			&.active {
				color: $dark;
				border-bottom: rem-calc(2px) $dark solid;
				margin-bottom: rem-calc(-21px);
			}
			&:hover {
				color: $dark;
				//margin-bottom: rem-calc(-21px);
			}
			&:focus {
				border-bottom: rem-calc(2px) $dark solid;
				margin-bottom: rem-calc(-21px);
			}
		}
		&:first-child {
			padding-right: rem-calc(30px);
		}
	}
	p {
		float: right;
		@include font-semi(rem-calc(12px));
		padding: 0;
		margin: 0;
		width: auto;
		padding-top: rem-calc(6px);
		//padding-bottom: rem-calc(20px);
		a {
			position: relative;
			float: right;
			padding-right: rem-calc(15px);
			color: darken($light, 30%);
			@include transition(100ms);
			.icon {
				//padding-top: rem-calc(8px);
				position: absolute;
				bottom: -2px;
				right: 0;
			}
			&:hover {
				color: $dark;
			}
		}
	}
}
.comment {
	float: left;
	position: relative;
	width: 100%;
	padding-top: rem-calc(20px);
	//padding-bottom: rem-calc(20px);
	border-bottom: rem-calc(1px) $light solid;
	.comment-left {
		float: left;
		position: relative;
		width: 3.6rem;
		height: 100%;
		//display: inline-block;
		.comment-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			display: block;
			@include transition(100ms);
		}
	}
	.comment-content {
		float: left;
		width: calc(100% - 3.6rem);
		position: relative;
		height: auto;
		//padding-top: rem-calc(10px);
		p {
			@include font-regular(rem-calc(12px));
		}
		.comment-details {
			float: left;
			text-align: left;
			//padding-top: rem-calc(10px);
			padding-bottom: rem-calc(7px);
			//margin-top: rem-calc(10px);
			p {
				a {
					@include font-semi(rem-calc(14px));
					color: $primary-color;
					padding-right: rem-calc(5px);
					display: inline-block;
					&:hover {
						color: darken($primary-color, 20%);
					}
				}
				span {
					@include font-italic(rem-calc(12px));
					color: $gray;
					padding-left: rem-calc(5px);
					display: inline-block;
				}
			}
		}
		.code-snippet {
			margin-top: rem-calc(7px);
			margin-bottom: rem-calc(7px);
			float: left;
		}
		.comment-text {
			float: left;
			width: 100%;
		}
		.comment-reply {
			float: left;
			width: auto;
			padding-top: rem-calc(7px);
			//border-top: rem-calc(1px) $dark solid;
			@include font-bold(rem-calc(12px));
			a {
				float: left;
				color: darken($light, 30%);
				@include transition(100ms);
				padding-right: rem-calc(3px);
				padding-left: rem-calc(3px);
				&:first-child {
					padding-left: 0;
				}
				span {
					float: left;
					font-size: rem-calc(16px);
				}
				.comment-votes {
					@include font-semi(rem-calc(12px));
					color: darken($light, 30%);
					padding-left: rem-calc(2px);
				}
				&:hover {
					color: $dark;
					.comment-votes {
						color: $dark;
					}
				}
			}
			.reply-option {
				padding-left: rem-calc(8px);
			}
		}
	}
	.reply-toggle {
		float: left;
		width: 100%;
		padding-left: 3.6rem;
		margin-top: rem-calc(10px);
		margin-bottom: rem-calc(10px);
		text-align: center;
		p {
			padding-bottom: rem-calc(10px);
			padding-top: rem-calc(10px);
			text-align: left;
			@include font-semi(rem-calc(12px));
			color: darken($light, 30%);
			width: 40%;
			border-top: rem-calc(1px) $light solid;
			@include transition(100ms);
		}
		&:hover p {
			color: $dark;
		}
	}
	.view-toggle {
		margin-top: 0;
	}
}
.replies {
	margin-top: rem-calc(10px);
	float: left;
	width: 100%;
	.reply {
		float: left;
		width: 100%;
		padding-top: rem-calc(10px);
		padding-bottom: rem-calc(20px);
		//border-top: rem-calc(1px) solid $light;
		.reply-push {
			float: left;
			width: 3.6rem;
			//margin-left: 0.6rem;
			margin: 0;
			padding: 0;
			.icon {
				float: left;
				width: 100%;
				position: relative;
				padding-right: rem-calc(20px);
				text-align: right;
			}
		}
		.reply-left {
			float: left;
			position: relative;
			width: 3.6rem;
			height: 100%;
			//display: inline-block;
			.reply-pic {
				width: rem-calc(40px);
				height: rem-calc(40px);
				float: left;
				border: rem-calc(1px) black solid;
				border-radius: rem-calc(20px);
				overflow: hidden;
				display: block;
				@include transition(100ms);
			}
		}
		.reply-content {
			float: left;
			width: calc(100% - 7.2rem);
			margin: 0;
			padding: 0;
			.reply-details {
				float: left;
				text-align: left;
				//padding-top: rem-calc(10px);
				padding-bottom: rem-calc(7px);
				//margin-top: rem-calc(10px);
				p {
					a {
						@include font-semi(rem-calc(14px));
						color: $primary-color;
						padding-right: rem-calc(5px);
						display: inline-block;
						&:hover {
							color: darken($primary-color, 20%);
						}
					}
					span {
						@include font-italic(rem-calc(12px));
						color: $gray;
						padding-left: rem-calc(5px);
						display: inline-block;
					}
				}
			}
			.reply-text {
				color: lighten($dark, 20%);
				float: left;
				width: 100%;
			}
		}
		.icon {
			float: left;
			@include icon(rem-calc(24px),$gray);
		}
		&:last-child {
			padding-bottom: rem-calc(10px);
		}
	}
}
.view-more-comments {
	width: 100%;
	position: relative;
	float: left;
	padding-top: rem-calc(20px);
	padding-bottom: rem-calc(20px);
	p {
		padding-top: rem-calc(8px);
		padding-bottom: rem-calc(8px);
		background-color: darken($light, 10%);
		color: white;
		text-align: center;
		@include transition(100ms);
		&:hover {
			background-color: darken($light, 20%);
		}
	}
}
.new-comment {
	padding-top: rem-calc(40px);
	width: 100%;
	position: relative;
	float: left;
	.new-comment-left {
		float: left;
		position: relative;
		width: 3.6rem;
		height: 100%;
		.reply-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			display: block;
			@include transition(100ms);
		}
	}
	.new-comment-form {

		position: relative;
		float: left;
		width: calc(100% - 3.6rem);
		p {
			a {
				@include font-semi(rem-calc(14px));
				color: $primary-color;
				padding-bottom: rem-calc(10px);
				display: inline-block;
				&:hover {
					color: darken($primary-color, 20%);
				}
			}
		}
		textarea {
			resize: none;
			outline: none;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			border-left: rem-calc(1px) $gray solid;
			border-top: rem-calc(1px) $gray solid;
			border-bottom: rem-calc(1px) $gray solid;
			background: rgba(255,255,255,0.0);
			height: rem-calc(80px);
			//border-radius: rem-calc(10px);
			//border-bottom-left-radius: rem-calc(10px);
			//border-top-left-radius: rem-calc(10px);
			width: calc(100% - 3rem);
			float: left;
			&:focus {
				-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.73);
				-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.73);
				box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.73);
			}
		}
		.new-comment-submit {
			float: left;
			position: relative;
			//margin-left: 0.2rem;
			width: 3rem;
			height: rem-calc(80px);
			background-color: $gray;
			//border-top-right-radius: rem-calc(10px);
			//border-bottom-right-radius: rem-calc(10px);
			@include transition(100ms);
			span {
				@include font-semi(rem-calc(18px));
				color: white;
				top: rem-calc(30px);
				left: 0.9rem;
				position: absolute;
			}
			&:hover {
				background-color: darken($gray, 20%);
			}
		}
	}
}



