

/*Tags Input*/

tags-input {
  display: block;
}
tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}
tags-input .input {
  box-shadow: none;
  outline: none;
  //border: none;
  border: 1px $gray solid;
}
tags-input .input:focus {
  box-shadow: none;
  outline: none;
  //border: none;
  background: none;
  border: 1px $gray solid;
  border-radius: 3px;
}
tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  box-shadow: none;
  outline: none;
  background-color: white;
  border: 1px solid darkgray;
  height: 100%;
}
tags-input .tags.focused {
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.2);
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 7px 0 10px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  //border: 1px solid #acacac;
  border-radius: 3px;
  background: $primary-color;
  color: white;
}
tags-input .tags .tag-item.selected {
  //background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  //background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: darken($primary-color,12%);
}
tags-input .tags .tag-item .remove-button {
  margin: 5px 0 0 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: $offWhite;
}
tags-input .tags .tag-item .remove-button:active {
  color: $dark;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tags-input .tags .input.invalid-tag {
  color: red;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  /*-webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);*/
}

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
tags-input .autocomplete .suggestion-item.selected {
  color: white;
  background-color: $primary-color;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: white;
  background-color: $primary-color;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

markdown {
  h1, h2, h3, p, li, code {
    -moz-user-select: text;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  h1 {
    font-family: 'open_sanssemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: $dark !important;
    font-size: rem-calc(24px) !important;
  }
  h2 {
    @include font-semi(rem-calc(16px));
    margin-bottom: 5px;
  }
  h3 {
    @include font-semi(rem-calc(14px));
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
  }
  p {
    @include font-regular(rem-calc(12px));
  }
  ul, ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    li {
      @include font-regular(0.75rem);
    }
  }
  pre {
    cursor: text;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    code {
      font-size: rem-calc(10px);
      border: none;
    }
  }
  code {
    cursor: text;
  }
}

.back-btn {
  @include font-regular(rem-calc(12px));
  color: $primary-color;
  @include transition(100ms);
  width: 4.375rem;
  display: block;
  padding-top: rem-calc(2px);
  span {
    margin-right: 3px;
    position: relative;
    bottom: -.1rem;
  }
  &:hover {
    color: darken($primary-color, 15%);
  }
}
[ui-view="query-nav"].ng-enter, .back-btn.ng-leave {
  -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
}
[ui-view="query-nav"].ng-enter {
  opacity: 0;
}
[ui-view="query-nav"].ng-enter-active {
  opacity: 1;
}
[ui-view="query-nav"].ng-leave {
  opacity: 1; 
}
[ui-view="query-nav"].ng-leave-active {
  opacity: 0;
}
[ui-view="board-nav"].ng-enter, .back-btn.ng-leave {
  -webkit-transition:all .7s linear;
    -moz-transition:all .7s linear;
    -o-transition:all .7s linear;
    transition:all .7s linear;
}
[ui-view="board-nav"].ng-enter {
  opacity: 0;
}
[ui-view="board-nav"].ng-enter-active {
  opacity: 1;
}
[ui-view="board-nav"].ng-leave {
  opacity: 1; 
}
[ui-view="board-nav"].ng-leave-active {
  opacity: 0;
}
