.docs-left {
	header {
		margin-bottom: rem-calc(-40px);
	}
}
.docs-left-content {
	border-bottom: rem-calc(1px) white solid;
}
.docs-nav {
	padding-top: rem-calc(20px);
	padding-bottom: rem-calc(20px);
	h3 {
		padding-top: rem-calc(10px);
		a {
			text-align: left;
			width: 100%;
			@include font-semi(rem-calc(18px));
			margin: 0;
			&:hover {
				color: $primary-color;
			}
		}
	}
	li {
		padding: 0;
		margin: 0;
		line-height: rem-calc(12px);
		a {
			text-align: left;
			line-height: rem-calc(14px);
			width: 100%;
			@include font-regular(rem-calc(12px));
			margin: 0;
			padding: 0;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.docs-main-content {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-y: scroll; 
	margin-top: rem-calc(-20px);
	border-bottom: rem-calc(1px) white solid;
}
.docs-category {
	border-left: rem-calc(1px) solid white;
	margin-top: rem-calc(30px);
	margin-bottom: rem-calc(10px);
	padding-left: rem-calc(20px);
	padding-right: rem-calc(15px);
	h1 {
		@include font-semi(rem-calc(36px));
		line-height: rem-calc(38px);
		padding-bottom: rem-calc(10px);
	}
	h2 {
		@include font-semi(rem-calc(24px));
		line-height: rem-calc(26px);
		padding-bottom: rem-calc(20px);
		padding-top: rem-calc(15px);
		margin: 0;
	}
	p {
		line-height: rem-calc(18px);
		text-align: left;
		width: 100%;
		@include font-regular(rem-calc(12px));
		margin: 0;
		padding-bottom: rem-calc(10px);
		a {
			color: white;
			text-decoration: underline;
			&:hover {
				color: $gray;
			}
		}
	}
}
.docs-code-block {
	width: 100%;
	height: rem-calc(150px);
	padding: rem-calc(20px);
	border: rem-calc(1px) solid $gray;
	background: $dark;
	overflow: scroll; 
}








