.top{
	//left:50px;
	//width: calc(100% - 50px);
	z-index:99;
	display:block;
	position:relative;
	//height: 50px;
}
.top-bar {
	opacity: 0;
	display: none;
}
.top-nav {
	//position: fixed;
	
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	z-index:99;
	margin:0px;
	position:fixed;
    //left: 0;
	//right: 0px;
    width:100%;
}
.top-nav {
	//z-index: 10;
	
	.top-nav-container {
		//position: fixed;
		//width: calc(100% - 50px);
		//width:100%;
		margin-right: 0;
		&.row.fluid-row {
			padding-top:0px;
			padding-bottom:0px;
		}
		.row.fluid-row {
			padding-top:0px;
			padding-bottom:0px;
			list-style: none;
			margin: 0;
			display:block;
			&:after{
				content:'';
		    	display:block;
		    	clear: both;
			}
			& > section {
				
				a{
					display:block;
				}	
			}
			.top-nav-left {
				background-color: white;
				padding-top: rem-calc(15px);
				padding-bottom: rem-calc(15px);
				padding-right: 1.875rem;
				@include font-bold(rem-calc(12px));
				color: $primary-color;
				
			}
			.top-nav-mid {
				background-color: white;
				padding-top: rem-calc(15px);
				padding-bottom: rem-calc(15px);
				float:left;
					a {
						color: $gray;
						font-size: rem-calc(12px);
						span{
							color: $gray;
							border-top: rem-calc(1px) white solid;
							margin-top: rem-calc(5px);
							padding-top: rem-calc(5px);
						}
						&:hover {
							span {
								border-top: rem-calc(1px) black solid;
								color: black;
							}
						}
					}
				
			}
			.top-nav-right {
				padding-left: 0;
				padding-top: rem-calc(16px);
				padding-bottom: rem-calc(16px);
				background-color: white;
				.top-nav-userOnline {
					li {
						float: right;
					}
					.top-nav-name {
						color: black;
						font-size: rem-calc(12px);
						padding-right: rem-calc(10px);
						padding-top: rem-calc(3px);
						white-space: nowrap;
						display:block;
						a {
							color: $primary-color;
						}
						a, span{
							display:inline-block;
						}
					}
					.top-nav-messages {
						padding-top: rem-calc(1px);
						margin-left: rem-calc(10px);
						height: rem-calc(19px);
					}
					.top-nav-settings {
						margin-left: rem-calc(10px);
						height: rem-calc(19px);
					}
				}
			}
		}
		.top-nav-rule-inner {
			width: 100%;
			height: rem-calc(1px);
			background-color: black;
			//padding-right: 1.875rem;
			//padding-left: 1.875rem;
		}
		&:after{
			content:'';
		    display:block;
		    clear: both;
		}
	}
}