.top{
	//left:50px;
	//width: calc(100% - 50px);
	z-index:99;
	display:block;
	position:relative;
	//height: 50px;
}
.top-bar {
	opacity: 0;
	display: none;
}
.top-nav {
	//position: fixed;
	
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	z-index:99;
	margin:0px;
	position:fixed;
    //left: 0;
	//right: 0px;
    width:100%;
}
.top-nav {
	//z-index: 10;
	.top-nav-container {
		//position: fixed;
		//width: calc(100% - 50px);
		//width:100%;
		background-color: white;
		/* ---- Body is gray ---- */
		/*-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);*/
		/* ---- */
		&.row.fluid-row {
			padding-top:0px;
			padding-bottom:0px;
		}
		.row.fluid-row {
			padding-top:0px;
			padding-bottom:0px;
			list-style: none;
			margin: 0;
			display:block;
			/* ---- Body is gray ---- */
			//background-color: white;
			/* --- */
			&:after {
				content:'';
		    	display:block;
		    	clear: both;
			}
			& > section {
				a{
					display:block;
				}	
			}
			.top-nav-left {
				//background-color: white;
				padding-top: rem-calc(15px);
				padding-bottom: rem-calc(15px);
				padding-right: 1.875rem;
				@include font-bold(rem-calc(13px));
				color: $primary-color;
				
			}
			.top-nav-mid {
				//background-color: white;
				padding-top: rem-calc(15px);
				padding-bottom: rem-calc(15px);
				float:left;
				a {
					color: $gray;
					font-size: rem-calc(13px);
					span{
						color: $gray;
						margin-top: rem-calc(5px);
						padding-top: rem-calc(5px);
						@include transition(200ms);
					}
					&:hover {
						span {
							color: black;
						}
					}
				}
				.active span {
					border-top: rem-calc(1px) black solid;
					color: black;
				}
				.header-mid-center {
					text-align: center;
				}
			}
			.top-nav-right {
				padding-left: 0;
				padding-top: rem-calc(16px);
				padding-bottom: rem-calc(16px);
				padding-right: 0;
				//background-color: white;
				text-align: right;
				.top-nav-userOnline {
					margin: 0;
					float: right;
					max-width: rem-calc(200px);
					list-style: none;
					li {
						float: left;
					}
					.top-nav-name {
						padding-right: rem-calc(10px);
						padding-top: rem-calc(2px);
						max-width: rem-calc(100px);
						p {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							margin: 0;
							padding: 0;
							color: $primary-color;
							font-size: rem-calc(12px);
						}
						a {
							color: $primary-color;
							&:hover {
								color: darken($primary-color, 10%);
							}
						}
						a, span{
							display:inline;
						}
						span {
							color: $dark;
						}

						.status{
							&:before{
								content: "";
								position:absolute;
								margin-top:4px;
								margin-left:-16px;
								height:10px;
								width:10px;
								background-color: $primary-color;
								border-radius: 50%;

							}
							&.user-inactive:before{
								background-color: lighten($primary-color, 35%);
							}
							&.user-offline:before{
								background-color: red;
							}
						} 
					}
					.top-nav-messages {
						padding-top: rem-calc(5px);
						margin-left: rem-calc(10px);
						height: rem-calc(19px);
						.tooltip {
							left: auto !important;
							right: 0;
							margin-top: 5px;
							border-top-left-radius: 0;
							border-top-right-radius: 0;
							.nub {
								left: 35px;
								//margin-left: -8%;
							}
						}
						.tip-bottom {
						}
					}
					.top-nav-settings {
						padding-top: rem-calc(4px);
						margin-left: rem-calc(10px);
						height: rem-calc(19px);
						.tooltip {
							margin-top: 7px;
							left: auto !important;
							right: 0;
							border-top-left-radius: 0;
							border-top-right-radius: 0;
							.nub {
								left: auto;
								right: 4px;
								//margin-left: -8%;
							}
						}
						.tip-bottom {
						}
					}
					.clicked {
						.tooltip {
							display: none;
						}
						.tip-bottom {
							display: none;
						}
						.icon {
							color: $dark;
						}
					}
					.icon {
						@include icon(rem-calc(16px),$gray);
						@include transition(100ms);
						&:hover {
							color: $dark;
						}
					}
					.icon-settings {
						font-size: rem-calc(15px);
					}
				}
				.top-nav-noUser {
					text-align: right;
					padding-top: rem-calc(1px);
					padding-bottom: rem-calc(2px);
					a {
						display: inline;
						&:hover {
							color: black;
						}
					}
					span {
						color: $gray;
						padding-left: 3px;
						padding-right: 1px;
					}
					.header-signup {
						padding-left: 10px;
						padding-right: 10px;
						padding-bottom: 7px;
						padding-top: 5px;
						margin-left: 5px;
						border: rem-calc(1px) $primary-color solid;
						//background-color: $primary-color;
						color: $primary-color;
						@include transition(200ms);
						&:hover {
							background-color: $primary-color;
							color: white;
						}
					}
				}
			}
			.settings-dropdown-container {
				position: absolute;
				z-index: 1000;
				//overflow: hidden;
				top: 54px !important;
				right: -4px !important;
				left: auto !important;
				width: rem-calc(150px);
				//height: rem-calc(200px);
				background-color: white;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				border: rem-calc(1px) $dark solid;
				-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				.settings-dropdown {
					list-style: none;
					float: left;
					position: relative;
					margin: 0;
					padding: 0 10px 0 10px;
					li {
						width: 100%;
						float: left;
						border-bottom: rem-calc(1px) $light solid;
						text-align: left;
						@include transition(100ms);
						a {
							@include font-regular(rem-calc(12px));
							color: $dark;
							padding: rem-calc(4px) rem-calc(4px) rem-calc(5px) rem-calc(13px);
							width: 100%;
							float: left;
							@include transition(100ms);
						}
						&:first-child {
							a {
								padding: rem-calc(12px) rem-calc(4px) rem-calc(13px) rem-calc(13px);
							}
						}
						&:nth-child(2) {
							border-bottom: none;
							a {
								padding-top: rem-calc(12px);
							}
						}
						&:nth-child(3) {
							border-bottom: none;
						}
						&:nth-child(4) {
							a {
								padding-bottom: rem-calc(12px);
							}
						}
						&:last-child {
							border-bottom: none;
							a {
								padding: rem-calc(12px) rem-calc(4px) rem-calc(13px) rem-calc(13px);
							}
						}
						&:hover {
							//background-color: $primary-color;
							a {
								color: $primary-color;
							}
						}
					}
				}
			}
			.settings-dropdown-container:after, .settings-dropdown-container:before {
				bottom: 100%;
				left: 137px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			.settings-dropdown-container:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: white;
				border-width: 7px;
				margin-left: -7px;
			}
			.settings-dropdown-container:before {
				border-color: rgba(46, 48, 44, 0);
				border-bottom-color: $dark;
				border-width: 8px;
				margin-left: -8px;
			}
		}
		.top-nav-rule-inner {
			width: 100%;
			height: rem-calc(1px);
			background-color: $dark;
			//padding-right: 1.875rem;
			//padding-left: 1.875rem;
		}
		&:after{
			content:'';
		    display:block;
		    clear: both;
		}
		.top-nav-rule {
			padding-right: 0;
		}

		/* ------ Full width Header -------- */
		.top-nav-rule-cont {
			padding-left: 0;
			padding-right: 0;
			background-color: $dark;
			height: 1px;
		}
		.top-nav-rule {
			padding-left: 0;
			padding-right: 0;
			//margin-left: -50px;
			//margin-right: -50px;
		}
		.top-nav-rule-inner {
			background-color: rgba(255,255,255,0);
		}
		/* ---- End ---- */
	}
}