line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
circle {
  fill: none;
  stroke: $primary-color;
  stroke-width: 2;
  opacity: 0.4
}

path {
  fill: none;
  stroke: $primary-color;
  stroke-width: 2;
  opacity: 0.3
}

/*[ui-view="main"].home {
	margin-bottom: 0;
}*/

.home-animation {
	//margin-bottom: rem-calc(50px);
	width: 100%;
	//position: fixed;
	z-index: 92;
	/*background-image: url('../img/png/background3.jpg');
	background-repeat: repeat;*/
	/*background: #e2e2e2;
	background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #e2e2e2 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e2e2e2 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #e2e2e2 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 );*/
	svg {
		@include no-highlight;
		circle {
			//z-index: 92;
		}
	}
}
.home-title {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: rem-calc(110px);
	h1 {
		@include font-bitter(rem-calc(72px));
		//padding-bottom: rem-calc(8px);
		color: $darkest;
		span {
			font-size: rem-calc(36px);
			position: relative;
			top: -.1rem;
		}
	}
	.home-rule1 {
		height: rem-calc(2px);
		display: block;
		background-color: $dark;
		width: rem-calc(40px);
		margin: 0 auto;
	}
	p {
		@include font-bitter2(rem-calc(14px));
		padding-top: rem-calc(22px);
		a {
			color: $darkest;
			@include transition(200ms);
			&:after {
				content: '';
				position: absolute;
				bottom: rem-calc(-5px);
				left: 50%;
				height: rem-calc(2px);
				background-color: $dark;
				width: 0;
				margin-left: rem-calc(-20px);
				@include transition(200ms);
			}
			&:hover {
				color: black;
				&:after {
					width: rem-calc(40px);
				}
			}
		}
	}
}
.vertical-middle{
	display:table;
	text-align:center;
	width:100%;
	height:100%;
}
.home-noUser {
	position: absolute;
	top: rem-calc(10px);
	right: rem-calc(12px);
	@include font-regular(rem-calc(14px));
	color: $primary-color;
	padding: rem-calc(10px);
	z-index: 999;
	a, span {
		display: inline-block;
	}
	span {
		padding: 0 rem-calc(8px) 0 rem-calc(5px);
		color: black;
	}
	a {
		@include transition(200ms);
		&.header-signup {
			@include font-semi(rem-calc(14px));
			color: $primary-color;
			padding: rem-calc(5px) rem-calc(15px) rem-calc(5px) rem-calc(15px);
			border: 2px $primary-color solid;
			margin-top: rem-calc(-5px);
			&:hover {
				background-color: $primary-color;
				color: white;
			}
		}
	}
}
.home-user {
	position: absolute;
	top: rem-calc(-5px);
	right: rem-calc(12px);
	@include font-regular(rem-calc(12px));
	padding: rem-calc(10px);
	z-index: 999;
	span {
		font-size: rem-calc(24px);
		position: relative;
		bottom: -.5rem;
	}
}




