.cirlcelink{
	color: #777;
}
.home-animation {
	//margin-bottom: -50px;
	svg {
		margin-bottom: rem-calc(50px);
		text {
			position: absolute !important;
			bottom: 4rem !important;
			padding-bottom: 3rem;
			height: 400px !important;
		}
	}
}
.home-footer {
	margin-bottom: -50px;
}
.vertical-middle{
	display:table;
	text-align:center;
	width:100%;
	height:100%;
	h1{
		display:table-cell;
		vertical-align:middle;
	}
}
.home-noUser {
	position: fixed;
	top: rem-calc(60px);
	right: rem-calc(20px);
	@include font-regular(rem-calc(14px));
	color: $primary-color;
	padding: rem-calc(10px);
	z-index: 999;
	a, span {
		display: inline-block;
	}
	span {
		padding: 0 rem-calc(10px) 0 rem-calc(5px);
		color: black;
	}
	a {
		@include transition(200ms);
		&.header-signup {
			@include font-semi(rem-calc(14px));
			color: $primary-color;
			padding: rem-calc(5px) rem-calc(15px) rem-calc(5px) rem-calc(15px);
			border: 2px $primary-color solid;
			margin-top: rem-calc(-5px);
			&:hover {
				background-color: $primary-color;
				color: white;
			}
		}
	}
}
.home-user {
	position: fixed;
	top: rem-calc(60px);
	right: rem-calc(30px);
	@include font-regular(rem-calc(12px));
	padding: rem-calc(10px);
	z-index: 999;
}