button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
.sy-button {
	background-color: rgba(0, 0, 0, 0.0);
	border-color: black;
	border-width: rem-calc(1px);
	border-style: solid;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	@include font-regular(rem-calc(14pt));
	color: black;
	padding: rem-calc(10px) rem-calc(50px) rem-calc(10px) rem-calc(50px);
	margin:0 0 1.25rem 0;
	display: inline-block;
	position: relative;
	outline: none;
	&:hover {
		border-color: $primary-color;
		color: $primary-color;
	}
	&:focus {
		color: $primary-color;
		background-color: rgba(0,0,0,0.0);
	}
	&:active {
		border-color: black;
		color: black;
	}
}
.modal-button {
	margin-top: 20px;
}
.modal-form {
	input[type=text], input[type=password] {
		@include font-regular(rem-calc(18pt));
		margin-bottom: rem-calc(1px);
		padding: rem-calc(10px) rem-calc(0px) rem-calc(10px) rem-calc(10px);
		border: none;
		/*border-width: rem-calc(1px);
		border-style: solid;*/
		height: auto;
		color: $gray;
		&:focus {
			border-left: 10px outset $primary-color;
			box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
			@include transition(50ms);
		}
	}
}
.reveal-modal {
	outline:none;
}
.modal-window {
	text-align: center;
	input[type=text], [type='password'] {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}
.tag {
	border: 1px solid $gray;
	margin: 5px;
	float: left;
	list-style: none;
	height: auto;
	@include transition(100ms);
	p {
		line-height: auto;
		margin: 0;
		padding: 0;
		padding: 4px 10px 4px 10px;
		@include transition(100ms);
		color: $gray;
	}
	&:hover {
		background-color: $gray;
	}
	&:hover p {
		color: white;
	}
}

.admin-tag {
	border-color: $gray;
	p {
		color: $gray;
		font-style: italic;
	}
	&:hover {
		background-color: $gray;
	}
	&:hover p {
		color: white;
	}
}

.text-link {
	color: white;
}

.text-link:hover {
	color: black;
	text-decoration: underline;
	h2 {
		color: black;
	}
}

.full-screen {
	background: rgba(255,255,255,0.95);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding-top: rem-calc(30px);
	position: fixed;
	left: 0;
	top: 0;
}
.left-search {
	header {
		padding-top: 0;
	}
}
.exit-search {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: rem-calc(10px);
	margin: rem-calc(10px);
	.exit-icon {
		fill: black;
		@include transition(100ms);
	}
	&:hover .exit-icon  {
		fill: $gray;
	}
}
.search-form {
	&::-webkit-input-placeholder { @include font-regular(rem-calc(48px)); color: $gray; }
	&:-moz-placeholder { @include font-regular(rem-calc(48px)); color: $gray; opacity: 1; }
	&::-moz-placeholder { @include font-regular(rem-calc(48px)); color: $gray; opacity: 1; }
	&:-ms-input-placeholder { @include font-regular(rem-calc(48px)); color: $gray; }
	.search-field {
		background: rgba(255,255,255,0.0);
		border: none;
		border-color: inherit;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		margin: 0;
		height: rem-calc(65px);
		@include font-regular(rem-calc(48px));
		&:focus {
			background: rgba(255,255,255,0.0);
			outline: 0;
			outline: none;
			border-color: inherit;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}
#search-category-1 {
	padding-top: rem-calc(10px);
}
.search-top {
	margin-bottom: 0;
	padding-bottom: 0;
}
.search-result {
	padding-bottom: rem-calc(20px);
	padding-top: rem-calc(10px);
	h3 {
		@inlude font-bold(rem-calc(30px));
		padding-bottom: rem-calc(10px);
	}
	p {
		@inlude font-regular(rem-calc(12px));
		line-height: rem-calc(18px);
	}
	.search-result-category {
		width: 6.8rem;
		a {

			h2 {
				font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: black;
				font-size: rem-calc(12px);
				padding-bottom: rem-calc(15px);
				text-align: right;
			}
			&:hover h2 {
				color: $primary-color;
			}
		}
	}
	.search-result-content {
		width: calc(100% - 6.8rem);
		border-left: rem-calc(1px) solid $light;
		&:hover {
			border-left-color: $primary-color;
		}
		&:hover h3 {
			color: $primary-color;
		}
	}
}
.share-options {
	padding: rem-calc(10px);
	.facebook-share {
		float: left;
		padding: rem-calc(10px);
	}
	.twitter-share {
		float: left;
		padding: rem-calc(10px);
	}
	svg {
		float: left;
		margin-right: rem-calc(7px);
		@include transition(100ms);
		fill: black;
		&:hover {
			fill: $primary-color;
		}
	}
	.share-count {
		height: 18px;
		width: rem-calc(50px);
		border: 1px solid $primary-color;
		float: left;
		background: white;
		position: relative;
		p {
			width: 100%;
			text-align: center;
			@include font-regular(rem-calc(9px));
			padding: 0;
			padding-top: rem-calc(1px);
			margin: 0;
		}
	}
	.share-count:after, .share-count:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.share-count:after {
		border-color: rgba(187, 128, 213, 0);
		border-right-color: white;
		border-width: 5px;
		margin-top: -5px;
	}
	.share-count:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: $primary-color;
		border-width: 6px;
		margin-top: -6px;
	}
}









