.sy-button {
	border-color: white;
	border-width: rem-calc(3px);
	border-style: solid;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: rem-calc(10px) rem-calc(30px) rem-calc(10px) rem-calc(30px);
	margin:0 0 1.25rem 0;
	display: inline-block;
	position: relative;
		&:hover {
			border-color: black;
			color: black;
		}
}


