.sy-button {
	border-color: white;
	border-width: rem-calc(1px);
	border-style: solid;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	@include font-regular(rem-calc(14pt));
	color: white;
	padding: rem-calc(10px) rem-calc(50px) rem-calc(10px) rem-calc(50px);
	margin:0 0 1.25rem 0;
	display: inline-block;
	position: relative;
		&:hover {
			border-color: black;
			color: black;
		}
}

input[type=text], input[type=password] {
	@include font-regular(rem-calc(18pt));
	position: relative;
	margin: 1px;
	padding: rem-calc(10px) rem-calc(0px) rem-calc(10px) rem-calc(10px);
	border: none;
	/*border-width: rem-calc(1px);
	border-style: solid;*/
	height: auto;
	color: $gray;
	&:focus {
		padding-left:-10px;
		border-left: 10px inset $primary-color;
		box-shadow: none;
		opacity: 1;
		@include transition(0s);
	}
}

input:last-child {
	background-color: red;
	margin-top: rem-calc(15px);
}