.home-vert-center {
	height: 50vh;
	position: absolute;
	top: 80px;
	width: 100%;
}
.home-top {
	width: 100%;
	max-width: 100%;
	position: absolute;
	margin-top: -80px;
	bottom: 160px;
}
.land-image {
	text-align: center;
	max-width: 100%;
	position: relative;
}
.land-title {
	position: absolute;
	bottom: 0;
	height: 160px;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 20px;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	background-color: $dark;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.land-title-left {
	padding: 40px;
	p {
		@include font-light(14px);
	}
}
.land-title-mid {
	text-align: center;
	h1 {
		@include font-regular(74px);
	}
	.title-sy {
		color: $primary-color;
	}
	.title-org {
		font-size: 24px;
	}
}
.land-title-right {
	text-align: right;
	ul {
		margin-top: 30px;
		margin-right: 5%;
		li {
			float: right;
			padding: 5px;
		}
	}
}
.social-svg {
	fill: white;
	height: auto;
	@include transition(50ms);
	&:hover {
		fill: $primary-color;
	}
}
