.home-initial {
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home-vert-center {
	height: 50%;
	position: absolute;
	top: 80px;
	width: 100%;
}
.home-top {
	width: 100%;
	max-width: 100%;
	position: absolute;
	margin-top: rem-calc(-80px);
	bottom: rem-calc(160px);
}
.land-image {
	text-align: center;
	max-width: 100%;
	position: relative;
}
.land-title {
	position: absolute;
	bottom: 0;
	height: rem-calc(160px);
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: rem-calc(20px);
	border-top: rem-calc(1px) white solid;
	border-bottom: rem-calc(1px) white solid;
	background-color: $dark;
	z-index: 10;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.land-title-left {
	padding: rem-calc(40px);
	p {
		@include font-light(rem-calc(14px));
	}
}
.land-title-mid {
	text-align: center;
	h1 {
		margin-top: rem-calc(-5px);
		@include font-regular(rem-calc(84px));
	}
	.title-sy {
		color: $primary-color;
	}
	.title-org {
		font-size: rem-calc(24px);
	}
}
.land-title-right {
	text-align: right;
	ul {
		margin-top: rem-calc(33px);
		margin-right: 5%;
		li {
			float: right;
			padding: 5px;
		}
	}
}
.social-svg {
	fill: white;
	height: auto;
	@include transition(100ms);
	&:hover {
		fill: $primary-color;
	}
}
.land-content {
	position: absolute;
	top: 50%;
	padding-top: rem-calc(80px);
	max-width: 100%;
	height: 50%;
	z-index: 5;
}
.home-nav {
	width: 100%;
	position: relative;
	ul {
		list-style: none;
		margin: 0 auto;
		width: rem-calc(360px);
		margin-top: rem-calc(40px);
		li {
			float: left;
			width: rem-calc(120px);
			text-align: center;
			height: rem-calc(25px);
			border-right: rem-calc(1px) white solid;
			margin-right: rem-calc(-1px);
			p {
				@include font-regular(rem-calc(14px));
				@include transition(50ms);
				&:hover {
					color: $primary-color;
				}
			}
			&:last-child {
				border-right: none;
			}
		}
	}
}
.home-quote {
	width: 100%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 50%;
	margin-left: 25%;
	margin-left: 25%;
	quote {
		@include font-regular(rem-calc(40px));
		line-height: rem-calc(50px);
	}
}
.home-signup {
	width: 100%;
	text-align: center;
	p {
		@include font-regular(rem-calc(12px));
		a {
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.large-button {
		width: rem-calc(320px);
		margin-bottom: rem-calc(10px);
	}
}
.home-down-button {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	.down-svg {
		padding: rem-calc(10px);
		padding-left: rem-calc(20px);
		padding-right: rem-calc(20px);
		height: auto;
		fill: white;
		@include transition(50ms);
		&:hover {
			fill: $darkest;
		}
	}
}


