
.login-page {
	margin-top: rem-calc(80px);
	.modal-form {
		margin-top: rem-calc(30px);
		input[type=text], input[type=password] {
			@include font-regular(rem-calc(18pt));
			margin-bottom: rem-calc(1px);
			padding: rem-calc(10px) rem-calc(0px) rem-calc(10px) rem-calc(10px);
			border: none;
			box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
			border: 1px $light solid;
			/*border-width: rem-calc(1px);
			border-style: solid;*/
			height: auto;
			color: $gray;
			&:focus {
				border-left: 10px outset $primary-color;
				box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
				@include transition(50ms);
				color: $dark;
				-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.4);
				-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.4);
				box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.4);
			}
		}
		input[type=text] {
			margin-bottom: -1px;
		}
		.sy-button {
			width: 100%;
			margin-top: rem-calc(30px);
			font-size: rem-calc(14px);
			//border: none;
			border-color: $primary-color;
			border-width: 2px;
			//background-color: $primary-color;
			//color: white;
			padding-top: 12px;
			padding-bottom: 12px;
			@include font-semi(rem-calc(14px));
			color: $primary-color;
			&:hover {
				//background-color: darken($primary-color, 10%);
				background-color: $primary-color;
				color: white;
			}
		}
	}
	p {
		text-align: center;
		@include font-regular(rem-calc(12px));
		color: $gray;
		margin-top: 20px;
		a {
			color: $gray;
			text-decoration: underline;
			@include transition(100ms);
			&:hover {
				color: $dark;
				//text-decoration: underline;
			}
		}
	}
}