.manti-category-header {
	padding-bottom: 0;
	h3 {
		padding-bottom: 18px;
		//border-bottom: 1px $gray solid;
		text-align: left;
		width: 100%;
		@include font-semi(rem-calc(18px));
		color: $dark;
		margin: 0;
	}
	.bottom-rule {
		width: 20%;
		height: 1px;
		display: block;
		padding: 0;
		margin: 0;
		background-color: $gray;
	}
}
.manti-category-nav {
	ul {
		li {
			margin: 0;
			padding: rem-calc(7px) 0 rem-calc(7px) 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			&:first-child {
				padding-top: 0 !important;
			}
			a {
				padding: 0;
				margin: 0;
				width: 100%;
				@include font-regular(12px);
				//color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				opacity: 0.5;
				&:hover {
					//color: $darkest;
					opacity: 1;
				}
				&.active {
					border-left: 4px $dark solid;
					//color: $darkest;
					padding-left: rem-calc(8px);
					opacity: 1;
				}
				&.visual-class {
					color: $sy-blue;
					&.active {
						border-left: 4px $sy-blue solid;
					}
				}
				&.system-class {
					color: $sy-red;
					&.active {
						border-left: 4px $sy-red solid;
					}
				}
				&.group-class {
					color: $primary-color;
					&.active {
						border-left: 4px $primary-color solid;
					}
				}
			}
		}
	}
}
.manti-bottom-rule {
	width: 20%;
	height: 1px;
	display: block;
	padding: 0;
	margin: 0;
	background-color: $gray;
	float: left;
	margin-top: rem-calc(15px);
	margin-bottom: rem-calc(20px);
}
.manti-add-category {
	width: 100%;
	position: relative;
	p {
		@include font-semi(rem-calc(12px));
		float: left;
		width: 100%;
		a {
			color: $gray;
			@include transition(100ms);
			&:hover {
				//color: darken($primary-color, 10%);
				color: $dark;
			}
			span {
				position: relative;
				bottom: -.1rem;
				margin-right: 4px;
			}
		}
	}
}



.manti-sub-nav {
	border-bottom: rem-calc(1px) $dark solid;
	padding-bottom: rem-calc(20px);
	margin-bottom: rem-calc(20px);
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			a {
				@include font-regular(rem-calc(12px));
				width: 100%;
				color: darken($light, 10%);
				//display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				@include transition(100ms);
				&:hover {
					//border-top: 3px $dark solid;
					//padding-top: rem-calc(23px);
					color: black;
				}
			}
		}
		&:after{
			clear:both;
			display:block;
			content:"";
		}
	}
	.manti-sub-nav-left {
		float: left;
		li {
			float: left;
			text-align: left;
			&.manti-sort {
				@include no-highlight;
				line-height: 1.7;
				a {
					@include no-highlight;
					color: $dark;
					.icon {
						padding-left: 4px;
						position: relative;
						bottom: -.1rem;
					}
				}
				&.active {
					color: red;
				}
			}
		}
		.back-btn {
			padding-top: rem-calc(5px);
		}
	}
	.manti-sub-nav-right {
		float: right;
		.manti-new {
			width: auto;
			a {
				padding: 7px 14px 8px 14px;
				height: 26px;
				width: auto;
				//background-color: $dark;
				width: 100%;
				white-space: nowrap;
				@include font-regular(rem-calc(12px));
				color: white;
				border-radius: 4px;
				background: #444444;
				background: -moz-linear-gradient(top,  #444444 2%, #131313 97%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#444444), color-stop(97%,#131313));
				background: -webkit-linear-gradient(top,  #444444 2%,#131313 97%);
				background: -o-linear-gradient(top,  #444444 2%,#131313 97%);
				background: -ms-linear-gradient(top,  #444444 2%,#131313 97%);
				background: linear-gradient(to bottom,  #444444 2%,#131313 97%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#131313',GradientType=0 );
				-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.3);
				@include transition(100ms);
				span {
					margin-right: 3px;
					position: relative;
					bottom: -.1rem;
				}
				&:hover {
					color: $offWhite;
				}
				&:active {
					-webkit-box-shadow: inset 3px 3px 13px 11px rgba(50, 50, 50, 1);
					-moz-box-shadow:    inset 3px 3px 13px 11px rgba(50, 50, 50, 1);
					box-shadow:         inset 3px 3px 13px 11px rgba(50, 50, 50, 1);
				}
			}
		}
	}
	&:after{ 
		clear:both;
		display:block;
		content:"";
	}
}


.manti-center {
	position: relative;
}
.manti-container {
	margin-right:-14px;
}
.gutter-sizer{
	width:0px;
}
.manti-pod-wrap {
	width: 50%;
	padding: 0 15px 20px 0;
	&:after{
		content:"";
		clear:both;
		display:block;
	}
}
.manti-pod {
	position: relative;
	border: 2px $dark solid;
	//border-radius: 3px;
	background-color: white;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.3);
	/*-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);*/
	.manti-pod-header {
		height: 50px;
		width: 100%;
		border-bottom: 1px $gray solid;
		padding: 10px 15px 10px 15px;
		p {
			@include font-regular(rem-calc(12px));
			color: $gray;
			width: auto;
			float: left;
			padding: 5px 0 0 0;
		}
		.manti-pod-stats {
			float: right;
			text-align: right;
			//width: 80px;
			margin: 0;
			list-style: none;
			li {
				display: inline-block;
				@include font-regular(rem-calc(12px));
				width: auto;
				color: $gray;
				padding-left: 10px;
				a {
					color: $gray;
					@include transition(100ms);
					&:hover {
						color: $dark;
					}
				}
				span {
					//color: $dark;
					font-size: rem-calc(20px);
					position: relative;
					bottom: -.3rem;
					line-height: 0.8;
					margin-right: 1px;
				}
			}
		}
	}
	.manti-pod-img {
		width: 100%;
		height: auto;
		position: relative;
		margin-bottom: -15px;
		a {
			display: block;
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	.manti-pod-body {
		width: 100%;
		position: relative;
		height: auto;
		//margin-bottom: 50px;
		padding: 10px 15px 0 15px;
		header {
			border: none;
			padding-bottom: 10px;
			h3 {
				padding-bottom: 10px;
				a {
					@include transition(100ms);
				}
			}
		}
		.manti-pod-graph {
			height: 100px;
			width: 100%;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
			}
		}
	}
	.manti-pod-footer {
		height: 50px;
		width: 100%;
		border-top: 1px $gray solid;
		padding: 10px 15px 10px 15px;
		p {
			@include font-regular(rem-calc(12px));
			color: $gray;
			width: auto;
			float: left;
			padding: 5px 0 0 0;
			span {
				position: relative;
				bottom: -.1rem;
				margin-right: 2px;
			}
			a {
				margin-left: 1px;
				@include font-semi(rem-calc(12px));
				color: $primary-color;
				@include transition(100ms);
				&:hover {
					color: darken($primary-color, 10%);
				}
			}
		}
		button {
			float: right;
			padding: 4px 8px 6px 10px;
			width: auto;
			margin: 0;
			span {
				margin-left: 8px;
				position: relative;
				bottom: -.1rem;
			}
			&:hover {
				background-color: $dark;
				border-color: $dark;
			}
		}
	}
	.manti-pod-group {
		width: 100%;
		position: relative;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin: 0;
				border-top: 1px $gray solid;
				padding: 10px 15px 10px 15px;
				width: 100%;
				height: 45px;
				@include font-regular(rem-calc(12px));
				color: $gray;
				span {
					font-size: rem-calc(14px);
					color: $dark;
					margin-right: 8px;
				}
				a {
					margin-left: 1px;
					@include font-semi(rem-calc(12px));
					color: $primary-color;
					@include transition(100ms);
					&:hover {
						color: darken($primary-color, 10%);
					}
				}
			}
		}
	}
	&.visual-pod {
		border-color: $sy-blue;
		a {
			color: $sy-blue !important;
			&:hover {
				color: darken($sy-blue, 15%) !important;
			}
		}
	}
	&.system-pod {
		border-color: $sy-red;
		a {
			color: $sy-red !important;
			&:hover {
				color: darken($sy-red, 15%) !important;
			}
		}
	}
	&.group-pod {
		border-color: $primary-color;
		a {
			color: $primary-color !important;
			&:hover {
				color: darken($primary-color, 15%) !important;
			}
		}
	}
}


/* ----- Manti Page ----- */

.manti-page {
	padding-top: rem-calc(10px);
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: auto;
	.manti-page-main {
		padding-left: rem-calc(20px);
		height: auto;
		border-left: 4px $dark solid;
		margin-bottom: 40px;
	}
	.manti-page-banner {
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: rem-calc(22px);
		border-bottom: rem-calc(1px) $light solid;
		margin-bottom: rem-calc(18px);
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.manti-post-content {
		position: relative;
		width: 100%;
		.manti-page-header {
			width: 100%;
			position: relative;
			padding-bottom: rem-calc(20px);
			h3 {
				@inlude font-bold(rem-calc(24px));
				font-size: rem-calc(24px);
				color: $dark;
				padding-right: rem-calc(100px);
				&:hover {
					color: $dark;
				}
			}
			.manti-invite {
				position: absolute;
				right: 0;
				top: 3px;
				width: rem-calc(120px);
				text-align: right;
				.invite-button {
					padding: 6px 23px 7px 23px;
					@include font-regular(rem-calc(12px));
					color: white !important;
					background-color: $dark;
					border-radius: 3px;
					@include transition(100ms);
				}
			}
		}
		.manti-page-body {
			width: 100%;
			position: relative;
			padding-top: rem-calc(20px);
			border-top: rem-calc(1px) $light solid;
			padding-bottom: rem-calc(20px);
			p {
				padding-bottom: rem-calc(20px);
				@inlude font-regular(rem-calc(12px));
				line-height: rem-calc(18px);
				a {
					text-decoration: underline;
					color: $gray;
					&:hover {
						color: $dark;
					}
				}
			}
			.manti-page-changes {
				width: 100%;
				position: relative;
				.manti-changes-header {
					width: 100%;
					display: block;
					margin-bottom: rem-calc(20px);
					h4 {
						@include font-semi(rem-calc(18px));
						padding-bottom: rem-calc(20px);
						border-bottom: 1px $light solid;
						margin: 0;
						width: 40%;
					}
				}
				.board-pod {
					border-radius: 0;
					box-shadow: none;
					p {
						padding-bottom: 0;
					}
					a {
						text-decoration: none;
					}
					.pod-header {
						padding-bottom: rem-calc(15px);
					}
					.manti-change-what {
						@include font-semi(rem-calc(14px));
						padding-bottom: rem-calc(8px);
					}
					.pod-body {
						padding-bottom: rem-calc(10px);
					}
				}
			}
		}
	}
	.board-question-sort {
		top: 85px !important;
		left: auto !important;
		right: 0 !important;
		border-radius: 4px;
	}
	.board-question-sort:after, .board-question-sort:before {
		left: 120px;
	}
	.replies {
		.new-comment {
			padding-top: rem-calc(10px);
			width: 100%;
			position: relative;
			float: left;
			padding-left: 3.5rem;
			.new-comment-left {
				float: left;
				position: relative;
				width: 3.6rem;
				height: 100%;
				.reply-pic {
					width: rem-calc(40px);
					height: rem-calc(40px);
					float: left;
					margin-left: rem-calc(3px);
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(20px);
					overflow: hidden;
					display: block;
					@include transition(100ms);
				}
			}
			.new-comment-form {
				textarea {
					height: rem-calc(60px);
					background-color: white;
				}
				.new-comment-submit {
					height: rem-calc(60px);
					span {
						top: rem-calc(20px);
					}
				}
			}
		}
	}
	&.manti-visual {
		.manti-page-main {
			border-color: $sy-blue;
			.manti-invite {
				.invite-button {
					background-color: $sy-blue !important;
					&:hover{
						background-color: darken($sy-blue, 15%) !important;
					}
				}
			}
		}
		a {
			color: $sy-blue !important;
			&:hover {
				color: darken($sy-blue, 15%) !important;
			}
		}
	}
	&.manti-systematic {
		.manti-page-main {
			border-color: $sy-red;
			.manti-invite {
				.invite-button {
					background-color: $sy-red !important;
					&:hover{
						background-color: darken($sy-red, 15%) !important;
					}
				}
			}
		}
		a {
			color: $sy-red !important;
			&:hover {
				color: darken($sy-red, 15%) !important;
			}
		}
	}
	&.manti-group {
		.manti-page-main {
			border-color: $primary-color;
			.manti-invite {
				.invite-button {
					background-color: $primary-color !important;
					&:hover{
						background-color: darken($primary-color, 15%) !important;
					}
				}
			}
		}
		a {
			color: $primary-color !important;
			&:hover {
				color: darken($primary-color, 15%) !important;
			}
		}
	}
}



