.more-header {
	padding-bottom: 0 !important;
}
.more-category-nav {
	ul {
		list-style: none;
		float: left;
		position: relative;
		width: 100%;
		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			a {
				padding: 0 0 rem-calc(10px) 0;
				margin: 0;
				@include font-regular(12px);
				color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				&:hover {
					color: $dark;
				}
				&.active {
					color: $dark;
				}
				span {
					float: left;
					font-size: rem-calc(28px);
					margin-top: -8px;
					margin-right: 10px;
					//line-height: 0.4;
				}
			}
		}
	}
}
.social-left {
	padding-top: 28px;
}
.kit-left {
	padding-top: 20px;
}
.team-header {
	width: 100%;
	position: relative;
}
.team-statement {
	width: 100%;
	position: relative;
	padding: 0px 0 40px 0;
	//text-align: center;
	border-bottom: 1px $light solid;
	background-color: white;
	margin-top: -1px;
	h2 {
		@include font-semi(rem-calc(24px));
		color: $dark;
	}
}
.rc-statement {
	width: 100%;
	position: relative;
	padding: 0px 0 15px 0;
	//text-align: center;
	border-bottom: 1px $light solid;
	background-color: white;
	margin-top: -1px;
	h2 {
		@include font-semi(rem-calc(24px));
		color: $dark;
	}
}
.rc-description {
	padding-bottom: 10px;
}
#rc-user {
	color: $primary-color;
}

