.more-header {
	padding-bottom: 0 !important;
}
.more-category-nav {
	ul {
		list-style: none;
		float: left;
		position: relative;
		width: 100%;
		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			a {
				padding: 0 0 rem-calc(10px) 0;
				margin: 0;
				@include font-regular(12px);
				color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				&:hover {
					color: $dark;
				}
				&.selected {
					color: $dark;
				}
				span {
					float: left;
					font-size: rem-calc(28px);
					margin-top: -8px;
					margin-right: 10px;
					//line-height: 0.4;
				}
			}
		}
	}
}
.social-left {
	padding-top: 28px;
}
.kit-left {
	padding-top: 20px;
}
