.news-left {
	header {
		margin-bottom: rem-calc(-40px);
	}
	.news-left-content {
		.news-nav {
			padding-top: rem-calc(20px);
			padding-bottom: rem-calc(20px);
			h3 {
				padding-top: rem-calc(10px);
				&:first-child {
					padding-top: 0;
				}
				a {
					text-align: left;
					width: 100%;
					@include font-semi(rem-calc(18px));
					color: darken($light, 10%);
					margin: 0;
					@include transition(100ms);
					&:hover {
						color: $dark;
					}
					&.active {
						color: $dark;
					}
				}
			}
			li {
				padding: 0;
				margin: 0;
				line-height: rem-calc(12px);
				a {
					text-align: left;
					line-height: rem-calc(16px);
					width: 100%;
					@include font-regular(rem-calc(12px));
					color: darken($light, 10%);
					margin: 0;
					padding: 0;
					@include transition(100ms);
					&:hover {
						color: $dark;
					}
					&.active {
						color: $dark;
					}
				}
			}
			.left-indent {
				padding-left: rem-calc(20px);
				padding-top: rem-calc(5px);
			}
		}
	}
}
.news-post {
	padding-bottom: rem-calc(40px);
	padding-top: rem-calc(10px);
	height: auto;
	.news-post-date {
		width: 4.6rem;
		//display: none;
		h2 {
			@include font-regular(rem-calc(12px));
			padding-bottom: rem-calc(15px);
			text-align: right;
			margin-top: 0;
		}
	}
	.news-post-content {
		border-left: rem-calc(1px) solid $light;
		height: 100%;
		position: relative;
		width: calc(100% - 4.6rem);
		//width: 100%;
		h3 {
			@inlude font-bold(rem-calc(30px));
			padding-bottom: rem-calc(10px);
			color: $primary-color;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-height: rem-calc(36px);
			overflow: hidden;
			@include transition(100ms);
			&:hover {
				color: black;
			}
		}
		p {
			@inlude font-regular(rem-calc(12px));
			line-height: rem-calc(18px);
			a {
				text-decoration: underline;
				color: $gray;
				&:hover {
					color: $dark;
				}
			}
		}
		img {
			padding-bottom: rem-calc(15px);
			max-width: 100%;
			display: block;
			width: 100%;
			height: auto;
			max-height: rem-calc(400px);
		}
		.news-post-footer {
			border-top: rem-calc(1px) $offWhite solid;
			margin-top: rem-calc(15px);
		}
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			li {
				margin: 0;
				padding: rem-calc(10px);
				float: left;
				padding-bottom: 0;
			}
			.news-post-comments {
				padding: 0;
				padding-top: rem-calc(20px);
				width: 24%;
				p {
					display: block;
					text-align: center;
				}
				a {
					text-decoration: none;
				}
			}
			.news-post-details {
				text-align: right;
				float: right;
				padding: 0;
				width: 38%;
				padding-top: rem-calc(15px);
			}
			.news-details {
				float: right;
				width: rem-calc(180px);
				padding: 0;
				.news-details-pic {
					width: rem-calc(30px);
					height: rem-calc(30px);
					float: left;
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(15px);
					overflow: hidden;
					@include transition(100ms);
					margin-right: rem-calc(6px);
				}
				.news-details-by {
					a {
						@include font-regular(rem-calc(12px));
						color: $primary-color;
						text-decoration: none;
					}
					line-height: rem-calc(14px);
					//padding-top: rem-calc(5px);
					float: left;
					width: rem-calc(120px);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.news-details-on {
					@include font-regular(rem-calc(12px));
					line-height: rem-calc(15px);
					float: left;
					width: rem-calc(120px);
					span {
						@include font-italic(rem-calc(12px));
						color: $gray;
					}
				}
			}
			.news-post-share {
				padding: 0;
				padding-top: rem-calc(15px);
				text-align: left;
				width: 38%;
				.facebook-share {
					float: left;
					padding-top: rem-calc(5px);
					padding-left: rem-calc(10px);
				}
				.twitter-share {
					float: left;
					padding-top: rem-calc(5px);
				}
				.icon {
					float: left;
					margin-right: rem-calc(5px);
					margin-top: rem-calc(-3px);
					@include icon(rem-calc(24px),$gray);
					@include transition(100ms);
					&:hover {
						color: $primary-color;
					}
				}
				.share-count {
					height: 18px;
					width: rem-calc(50px);
					border: 1px solid $primary-color;
					float: left;
					background: white;
					position: relative;
					p {
						width: 100%;
						text-align: center;
						@include font-regular(rem-calc(9px));
						padding: 0;
						padding-top: 0;
						margin: 0;
					}
				}
				.share-count:after, .share-count:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.share-count:after {
					border-color: rgba(187, 128, 213, 0);
					border-right-color: white;
					border-width: 5px;
					margin-top: -5px;
				}
				.share-count:before {
					border-color: rgba(194, 225, 245, 0);
					border-right-color: $primary-color;
					border-width: 6px;
					margin-top: -6px;
				}
			}
		}
	}
}

/* ------ News article page ------ */
.news-page {
	padding-bottom: rem-calc(20px);
	height: auto;
	.news-post-content {
		position: relative;
		width: 100%;
		.news-page-hero {
			width: 100%;
			float: left;
			position: relative;
			img {
				padding-top: rem-calc(10px);
				padding-bottom: rem-calc(15px);
				max-width: 100%;
				display: block;
				width: 100%;
				height: auto;
				max-height: rem-calc(400px);
			}
		}
		.news-page-header {
			width: 100%;
			float: left;
			position: relative;
			padding-bottom: rem-calc(15px);
			h3 {
				@inlude font-bold(rem-calc(24px));
				font-size: rem-calc(24px);
				color: $dark;
				&:hover {
					color: $dark;
				}
			}
		}
		.news-page-body {
			width: 100%;
			float: left;
			position: relative;
			padding-top: rem-calc(20px);
			border-top: rem-calc(1px) $light solid;
			padding-bottom: rem-calc(20px);
			p {
				@inlude font-regular(rem-calc(12px));
				line-height: rem-calc(18px);
				a {
					text-decoration: underline;
					color: $gray;
					&:hover {
						color: $dark;
					}
				}
			}
		}
		.news-page-footer {
			padding-top: rem-calc(20px);
			border-top: rem-calc(1px) $light solid;
			padding-bottom: rem-calc(20px);
			border-bottom: rem-calc(1px) $dark solid;
			width: 100%;
			float: left;
			position: relative;
			.news-page-details {
				padding-top: 0;
				text-align: left;
				padding-left: 0;
				float: right;
			}
			.news-details {
				float: left;
				width: rem-calc(180px);
				.news-details-pic {
					width: rem-calc(30px);
					height: rem-calc(30px);
					float: left;
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(15px);
					overflow: hidden;
					@include transition(100ms);
					margin-right: rem-calc(6px);
				}
				.news-details-by {
					a {
						@include font-regular(rem-calc(12px));
						color: $primary-color;
						text-decoration: none;
					}
					line-height: rem-calc(14px);
					//padding-top: rem-calc(5px);
					float: left;
					width: rem-calc(120px);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.news-details-on {
					@include font-regular(rem-calc(12px));
					line-height: rem-calc(15px);
					float: left;
					width: rem-calc(120px);
					span {
						@include font-italic(rem-calc(12px));
						color: $gray;
					}
				}
			}
			.news-page-share {
				padding-top: 0;
				padding-right: 0;
				float: left;
				text-align: right;
				.facebook-share {
					float: right;
					padding-top: rem-calc(5px);
				}
				.twitter-share {
					float: right;
					padding-left: rem-calc(10px);
					padding-top: rem-calc(5px);
				}
				.icon {
					float: left;
					margin-right: rem-calc(5px);
					margin-top: rem-calc(-3px);
					@include icon(rem-calc(24px),$gray);
					@include transition(100ms);
					&:hover {
						color: $primary-color;
					}
				}
				.share-count {
					height: 18px;
					width: rem-calc(50px);
					border: 1px solid $primary-color;
					float: left;
					background: white;
					position: relative;
					p {
						width: 100%;
						text-align: center;
						@include font-regular(rem-calc(9px));
						padding: 0;
						padding-top: 2px;
						margin: 0;
					}
				}
				.share-count:after, .share-count:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.share-count:after {
					border-color: rgba(187, 128, 213, 0);
					border-right-color: white;
					border-width: 5px;
					margin-top: -5px;
				}
				.share-count:before {
					border-color: rgba(194, 225, 245, 0);
					border-right-color: $primary-color;
					border-width: 6px;
					margin-top: -6px;
				}
			}
		}
	}
	.news-comments-sort {
		top: 85px !important;
		left: auto !important;
		right: 0 !important;
		border-radius: 4px;
	}
	.news-comments-sort:after, .news-comments-sort:before {
		left: 120px;
	}
	.replies {
		.new-comment {
			padding-top: rem-calc(10px);
			width: 100%;
			position: relative;
			float: left;
			padding-left: 3.5rem;
			.new-comment-left {
				float: left;
				position: relative;
				width: 3.6rem;
				height: 100%;
				.reply-pic {
					width: rem-calc(40px);
					height: rem-calc(40px);
					float: left;
					margin-left: rem-calc(3px);
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(20px);
					overflow: hidden;
					display: block;
					@include transition(100ms);
				}
			}
			.new-comment-form {
				textarea {
					height: rem-calc(60px);
					background-color: white;
				}
				.new-comment-submit {
					height: rem-calc(60px);
					span {
						top: rem-calc(20px);
					}
				}
			}
		}
	}
}