.profile-left {
	.profile-left-user {
		h3 {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			@include font-semi(rem-calc(18px));
		}
		small {
			width: 100%;
			padding-bottom: rem-calc(10px);
			float: left;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.profile-pic {
			float: left;
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			margin-bottom: rem-calc(20px);
			.profile-pic-inner {
				position: absolute;
				width: 100%;
				height: 100%;
				border: rem-calc(2px) black solid;
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}
	.profile-left-options {
		float: left;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				width: 100%;
				float: left;
				position: relative;
				height: rem-calc(36px);
				h3 {
					color: black;
					width: auto;
					position: absolute;
					left: 0;
				}
				svg {
					fill: black;
					float: right;
					position: absolute;
					top: rem-calc(5px);
					right: 0;
				}
				&:hover h3 {
					color: $primary-color;
				}
				&:hover svg {
					fill: $primary-color;
				}
			}
		}
	}
}
.profile-center {
	h3 {
		@include font-semi(rem-calc(22px));
	}
	p {
		@include font-regular(rem-calc(12px));
	}
	.profile-about-header {
		h3 {
			padding-bottom: rem-calc(15px);
		}
	}
	.profile-manti-header {
		margin-top: rem-calc(25px);
	}
	.profile-contributions-header {
		margin-top: rem-calc(25px);
	}
	.profile-manti-content {
		ul {
			padding: 0;
			margin: 0;
		}
		.current-manti {
			height: auto;
			.current-manti-view {
				height: auto;
				min-height: rem-calc(60px);
				width: 5.6rem;
				p {
					text-align: right;
					width: 100%;
					margin-top: rem-calc(-2px);
					min-height: rem-calc(60px);
				}

			}
			.current-manti-view:hover p {
				color: $primary-color;
			}
			.current-manti-view:hover + .current-manti-content {
				border-left: rem-calc(5px) $primary-color solid;
			}
			.current-manti-content {
				border-left: rem-calc(1px) black solid;
				height: auto;
				min-height: rem-calc(60px);
				margin-left: 0;
				width: calc(100% - 5.6rem);
				@include transition(0.1s);
				h3 {
					@include font-semi(rem-calc(15px));
					padding: 0;
					padding-bottom: rem-calc(2px);
					margin: 0;
					margin-top: rem-calc(-3px);
					a {
						color: black;
					}
				}
			}
		}
	}
	.profile-contributions-content {
		ul {
			padding: 0;
			margin: 0;
		}
		.recent-contribution {
			height: auto;
			.recent-contribution-category {
				width: 5.6rem;
				height: auto;
				min-height: rem-calc(50px);
				min-width: rem-calc(60px);
				p {
					@include font-regular(rem-calc(11px));
					line-height: rem-calc(12px);
					text-align: right;
					width: 100%;
					min-height: rem-calc(60px);
				}
			}
			.recent-contribution-content {
				width: calc(100% - 5.6rem);
				border-left: rem-calc(1px) black solid;
				height: auto;
				min-height: rem-calc(50px);
				margin-left: 0;
				min-width: calc(100% - rem-calc(60px));
				h3 {
					@include font-semi(rem-calc(15px));
					padding: 0;
					padding-bottom: rem-calc(2px);
					margin: 0;
					margin-top: rem-calc(-3px);
				}
			}
		}
	}
}