.queries-left {
	h3 {
		a {
			text-align: left;
			width: 100%;
			@include font-semi(rem-calc(18px));
			margin: 0;
		}
	}
	li {
		padding: 0;
		margin: 0;
		line-height: rem-calc(12px);
		a {
			text-align: left;
			line-height: rem-calc(16px);
			width: 100%;
			@include font-regular(rem-calc(12px));
			margin: 0;
			padding: 0;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
.queries-sub-nav {
	border-bottom: rem-calc(1px) $dark solid;
	float: left;
	padding-bottom: rem-calc(20px);
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			a {
				@include font-regular(rem-calc(12px));
				width: 100%;
				color: $gray;
				//display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				@include transition(100ms);
				&:hover {
					border-top: rem-calc(2px) $dark solid;
					padding-top: rem-calc(23px);
					color: black;
				}
				&:selected {
					border-top: rem-calc(2px) $dark solid;
					padding-top: rem-calc(23px);
				}
			}
		}
	}
	.queries-sub-nav-left {
		float: left;
		li {
			float: left;
			text-align: left;
		}
	}
	.queries-sub-nav-right {
		float: right;
		li {
			float: right;
			text-align: right;
			&:first-child {
				width: rem-calc(60px);
			}
		}
	}
}
.queries-main-container {
}
.querie-overview {
	position: relative;
	float: left;
	width: 100%;
	padding-top: rem-calc(20px);
	padding-bottom: rem-calc(20px);
	border-bottom: rem-calc(1px) $light solid;
	.querie-overview-main {
		float: left;
		width: 70%;
		h3 {
			padding-bottom: rem-calc(10px);
			a {
				color: $primary-color;
				@include transition(100ms);
				&:hover {
					color: black;
				}
			}
		}
		.querie-tags {
			ul {
				margin: 0;
				padding: 0;
			}
		}
	}
	.querie-overview-stats {
		float: right;
		width: 30%;
		ul {
			//float: right;
			margin: 0;
			padding: 0;
			list-style: none;
			a {
				float: left;
				.icon {
					float: left;
					&:hover {
						color: $gray;
					}
				}
			}
			li {
				float: right;
				width: rem-calc(60px);
				padding-top: rem-calc(5px);
				.icon {
					@include icon(rem-calc(20px),$dark);
					float: left;
				}
				p {
					float: left;
					width: rem-calc(35px);
					text-overflow: ellipsis;
					padding-top: rem-calc(2px);
					padding-left: rem-calc(6px);
					padding-bottom: rem-calc(2px);
					@include font-regular(rem-calc(11px));
				}
			}
			&:after{
				content:"";
				clear:both;
				display:block;
			}
		}
		.querie-date {
			float: right;
			padding-top: rem-calc(15px);
			width: 100%;
			text-align: right;
			position: relative;
			width: rem-calc(120px);
			p {
				@include font-regular(rem-calc(11px));
				line-height: rem-calc(15px);
				text-align: left;
				color: $gray;
				width: 100%;
				float: right;
				right: 0;
				span {
					@include font-semi(rem-calc(12px));
					color: $dark;
				}
				span.post-date{
					whitespace: nowrap;
				}
			}
			.querie-empty {
				width: rem-calc(50px);
				height: rem-calc(15px);
				float: right;
				line-height: rem-calc(15px);
			}
		}
	}
}
.query-page {
	position: relative;
	.query-post {
		position: relative;
		.querie-header {
			position: relative;
			float: left;
			width: 100%;
			padding-top: rem-calc(20px);
			padding-bottom: rem-calc(20px);
			border-bottom: rem-calc(1px) $offWhite solid;
			.querie-header-title {
				float: left;
				width: 100%;
				h3 {
					padding-bottom: 0;
					@include font-bold(rem-calc(26px));
					font-size: rem-calc(26px);
					a {
						color: $dark;
						&:hover {
							color: $dark;
						}
					}
				}
			}
		}
		.query-content {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: rem-calc(20px);
			.query-content-main {
				float: left;
				.query-content-p {
					padding-top: rem-calc(20px);
					a {
						color: $gray;
						text-decoration: underline;
						&:hover {
							color: $dark;
						}
					}
				}
				.code-snippet {
					margin-top: rem-calc(20px);
					float: left;
					position: relative;
				}
				.image-thumbs {
					padding-top: rem-calc(20px);
					float: left;
					position: relative;
					width: 100%;
					.thumbnail-container {
						padding: rem-calc(5px);
						float: left;
						width: 23%;
						margin-right: 1%;
						height: auto;
						border: rem-calc(1px) $light solid;
						img {
							max-width: 100%;
							width: 100%;
							max-height: rem-calc(200px);
						}
						&:first-child {
							margin-left: 0;	
						}
					}
				}
			}
		}
		/*.query-options {
			padding-bottom: rem-calc(20px);
			float: left;
			width: 100%;
			position: relative;

			.query-options-right {
				float: left;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					.icon {
						@include icon(rem-calc(20px),$gray);
						float: left;
					}
					p {
						float: left;
						width: rem-calc(35px);
						white-space: nowrap;
						text-overflow: ellipsis;
						padding-top: rem-calc(1px);
						padding-left: rem-calc(6px);
						@include font-regular(rem-calc(11px));
					}
					li {
						float: left;
						width: rem-calc(60px);
					}
				}
			}
		}*/
		.query-footer {
			float: left;
			width: 100%;
			position: relative;
			border-top: rem-calc(1px) $offWhite solid;
			border-bottom: rem-calc(1px) $dark solid;
			padding-bottom: rem-calc(20px);
			padding-top: rem-calc(20px);
			text-align: center;
			.querie-tags {
				position: absolute;
				left: 0;
				top: rem-calc(20px);
				padding-bottom: rem-calc(20px);
				ul {
					margin: 0;
					padding: 0;
				}
			}
			.query-options {
				display: inline-block;
				padding-top: rem-calc(10px);
				padding-bottom: rem-calc(10px);
				p {
					@include font-regular(rem-calc(12px));
					color: $gray;
					text-align: center;
					display: block;
					a {
						font-size: rem-calc(12px);
						color: $dark;
						&:hover {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
	.query-details {
		float: right;
		width: rem-calc(180px);
		.query-details-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			@include transition(100ms);
			margin-right: rem-calc(10px);
		}
		.query-details-by {
			@include font-regular(rem-calc(12px));
			color: $primary-color;
			line-height: rem-calc(14px);
			padding-top: rem-calc(5px);
			float: left;
			width: rem-calc(120px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.query-details-on {
			@include font-regular(rem-calc(12px));
			line-height: rem-calc(15px);
			float: left;
			width: rem-calc(120px);
			span {
				@include font-italic(rem-calc(12px));
				color: $gray;
			}
		}
	}
	.query-comments-head {
		float: left;
		width: 100%;
		padding-top: rem-calc(40px);
		border-bottom: rem-calc(1px) $light solid;
		h4 {
			@include font-semi(rem-calc(18px));
			padding: 0;
			margin: 0;
			float: left;
			width: auto;
			padding-bottom: rem-calc(20px);
			a {
				color: $gray;
				float: left;
				margin-bottom: rem-calc(-19px);
				padding-bottom: rem-calc(19px);
				&:hover {
					color: $dark;
					border-bottom: rem-calc(2px) $dark solid;
					margin-bottom: rem-calc(-21px);
				}
				&:selected {
					color: $dark;
					border-bottom: rem-calc(2px) $dark solid;
					margin-bottom: rem-calc(-21px);
				}
			}
			&:first-child {
				padding-right: rem-calc(30px);
			}
			/*&:nth-child(2) {
				float: right;
			}*/
		}
	}
	.query-comment {
		float: left;
		position: relative;
		width: 100%;
		padding-top: rem-calc(20px);
		padding-bottom: rem-calc(20px);
		border-bottom: rem-calc(1px) $light solid;
		.query-comment-content {
			float: left;
			width: 100%;
			position: relative;
			height: auto;
			p {
				@include font-regular(rem-calc(12px));
			}
			.code-snippet {
				margin-top: rem-calc(10px);
				float: left;
			}
			.query-comment-text {
				float: left;
				width: 100%;
			}
			.query-comment-reply {
				float: left;
				width: auto;
				margin-top: rem-calc(20px);
				padding-top: rem-calc(20px);
				border-top: rem-calc(1px) $dark solid;
				@include font-semi(rem-calc(12px));
				a {
					color: $dark;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
		.query-reply-toggle {
			float: left;
			border-top: rem-calc(1px) $light solid;
			width: 100%;
			margin-top: rem-calc(20px);
			p {
				padding-bottom: rem-calc(20px);
				padding-top: rem-calc(20px);
				text-align: center;
				@include font-regular(rem-calc(12px));
				color: $dark;
				margin-bottom: rem-calc(-20px);
			}
			&:hover p {
				color: $primary-color;
			}
		}
		.query-comment-details {
			float: right;
			text-align: right;
			padding-top: rem-calc(20px);
			margin-top: rem-calc(20px);
			p {
				a, span {
					display: inline-block;
				}
				span {
					@include font-italic(rem-calc(12px));
					color: $gray;
				}
			}
		}
	}
	.query-replies {
		margin-top: rem-calc(20px);
		float: left;
		width: 100%;
		.query-reply {
			float: left;
			width: 100%;
			padding-top: rem-calc(20px);
			padding-bottom: rem-calc(20px);
			border-top: rem-calc(1px) solid $light;
			.query-reply-push {
				float: left;
				width: 10%;
				margin: 0;
				padding: 0;
			}
			.query-reply-content {
				float: left;
				width: 90%;
				margin: 0;
				padding: 0;
				.query-reply-text {
				}
				.query-reply-details {
					float: right;
					text-align: right;
					p {
						a, span {
							display: inline-block;
						}
						span {
							@include font-italic(rem-calc(12px));
							color: $gray;
						}
					}
				}
			}
			.icon {
				float: left;
				@include icon(rem-calc(24px),$gray);
			}
			&:last-child {
				padding-bottom: 0;
			}
		}

	}
}