.queries-category-nav {
	ul {
		list-style: none;
		float: left;
		position: relative;
		width: 100%;
		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			a {
				padding: 0 0 rem-calc(10px) 0;
				margin: 0;
				@include font-regular(12px);
				color: darken($light, 10%);
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				&:hover {
					color: $dark;
				}
				&.active {
					color: $dark;
				}
			}
		}
	}
}
.queries-sub-nav {
	border-bottom: rem-calc(1px) $dark solid;
	float: left;
	padding-bottom: rem-calc(20px);
	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto;
		li {
			margin: 0;
			padding: 0;
			width: rem-calc(70px);
			text-align: center;
			a {
				@include font-regular(rem-calc(12px));
				width: 100%;
				color: darken($light, 10%);
				//display: block;
				padding-bottom: rem-calc(25px);
				padding-top: rem-calc(25px);
				@include transition(100ms);
				&:hover {
					//border-top: 3px $dark solid;
					//padding-top: rem-calc(23px);
					color: black;
				}
				&.active {
					border-top: 3px $dark solid;
					padding-top: rem-calc(23px);
					color: black;
				}
			}
		}
	}
	.queries-sub-nav-left {
		float: left;
		li {
			float: left;
			text-align: left;
		}
	}
	.queries-sub-nav-right {
		float: right;
		li {
			float: right;
			text-align: right;
			&:first-child {
				width: rem-calc(60px);
			}
			&.queries-new {
				a {
					padding-right: 6px;
					padding-left: 4px;
				}
			}
		}
	}
}
.queries-main-container {
}
.querie-overview {
	position: relative;
	float: left;
	width: 100%;
	padding-top: rem-calc(20px);
	padding-bottom: rem-calc(20px);
	border-bottom: rem-calc(1px) $light solid;
	.querie-overview-main {
		float: left;
		width: 70%;
		h3 {
			padding-bottom: rem-calc(10px);
			a {
				color: $primary-color;
				@include transition(100ms);
				&:hover {
					color: black;
				}
			}
		}
		.querie-tags {
			ul {
				margin: 0;
				padding: 0;
			}
		}
	}
	.querie-overview-stats {
		float: right;
		width: 30%;
		ul {
			//float: right;
			margin: 0;
			padding: 0;
			list-style: none;
			a {
				float: left;
				.icon {
					float: left;
					&:hover {
						color: $gray;
					}
				}
			}
			li {
				float: right;
				width: rem-calc(60px);
				padding-top: rem-calc(5px);
				.icon {
					@include icon(rem-calc(20px),$dark);
					float: left;
				}
				p {
					float: left;
					width: rem-calc(35px);
					text-overflow: ellipsis;
					padding-top: rem-calc(2px);
					padding-left: rem-calc(6px);
					padding-bottom: rem-calc(2px);
					@include font-regular(rem-calc(11px));
				}
			}
			&:after{
				content:"";
				clear:both;
				display:block;
			}
		}
		.querie-date {
			float: right;
			padding-top: rem-calc(15px);
			width: 100%;
			text-align: right;
			position: relative;
			width: rem-calc(120px);
			p {
				@include font-regular(rem-calc(11px));
				line-height: rem-calc(15px);
				text-align: left;
				color: $gray;
				width: 100%;
				float: right;
				right: 0;
				span {
					@include font-semi(rem-calc(12px));
					color: $dark;
				}
				span.post-date{
					whitespace: nowrap;
				}
			}
			.querie-empty {
				width: rem-calc(50px);
				height: rem-calc(15px);
				float: right;
				line-height: rem-calc(15px);
			}
		}
	}
}
.query-page {
	position: relative;
	.query-post {
		position: relative;
		.querie-header {
			position: relative;
			float: left;
			width: 100%;
			padding-top: rem-calc(30px);
			padding-bottom: rem-calc(15px);
			border-bottom: rem-calc(1px) $light solid;
			.querie-header-title {
				float: left;
				width: 100%;
				h3 {
					padding-bottom: 0;
					@include font-bold(rem-calc(26px));
					font-size: rem-calc(26px);
					a {
						color: $dark;
						&:hover {
							color: $dark;
						}
					}
				}
			}
		}
		.query-content {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: rem-calc(20px);
			.query-content-main {
				float: left;
				.query-content-p {
					padding-top: rem-calc(15px);
					a {
						color: $gray;
						text-decoration: underline;
						&:hover {
							color: $dark;
						}
					}
				}
				.code-snippet {
					margin-top: rem-calc(20px);
					float: left;
					position: relative;
				}
				.image-thumbs {
					padding-top: rem-calc(20px);
					float: left;
					position: relative;
					width: 100%;
					.thumbnail-container {
						padding: rem-calc(5px);
						float: left;
						width: 23%;
						margin-right: 1%;
						height: auto;
						border: rem-calc(1px) $light solid;
						img {
							max-width: 100%;
							width: 100%;
							max-height: rem-calc(200px);
						}
						&:first-child {
							margin-left: 0;	
						}
					}
				}
			}
		}
		.query-footer {
			float: left;
			width: 100%;
			position: relative;
			border-top: rem-calc(1px) $light solid;
			border-bottom: rem-calc(1px) $dark solid;
			padding-bottom: rem-calc(20px);
			padding-top: rem-calc(20px);
			text-align: center;
			.querie-tags {
				position: absolute;
				left: 0;
				top: rem-calc(20px);
				padding-bottom: rem-calc(20px);
				ul {
					margin: 0;
					padding: 0;
				}
			}
			.query-options {
				display: inline-block;
				padding-top: rem-calc(10px);
				padding-bottom: rem-calc(10px);
				p {
					@include font-regular(rem-calc(12px));
					color: $gray;
					text-align: center;
					display: block;
					a {
						font-size: rem-calc(12px);
						color: $dark;
						&:hover {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
	.query-details {
		float: right;
		width: rem-calc(180px);
		.query-details-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			@include transition(100ms);
			margin-right: rem-calc(10px);
		}
		.query-details-by {
			@include font-regular(rem-calc(12px));
			color: $primary-color;
			line-height: rem-calc(14px);
			padding-top: rem-calc(5px);
			float: left;
			width: rem-calc(120px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.query-details-on {
			@include font-regular(rem-calc(12px));
			line-height: rem-calc(15px);
			float: left;
			width: rem-calc(120px);
			span {
				@include font-italic(rem-calc(12px));
				color: $gray;
			}
		}
	}
	.comments-head {
		margin-bottom: rem-calc(10px);
	}
	.comment {
		padding: rem-calc(10px);
		padding-bottom: 0;
		margin-top: rem-calc(20px);
		background-color: white;
		border: rem-calc(1px) $gray solid;
		-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);

		.comment-left {
			.comment-pic {
				margin-left: rem-calc(3px);
			}
			.response-voting {
				a {
					width: 2.8rem;
					float: left;
					position: relative;
					text-align: center;
					&:hover {
						span {
							color: $dark;
						}
					}
				}
				span {
					@include font-semi(rem-calc(28px));
					color: $gray;
					line-height: 0.6;
					@include transition(200ms);
				}
				.vote-up {
					padding-top: rem-calc(6px);
					margin-bottom: rem-calc(-4px);
				}
				.vote-down {
				}
				.response-favourite {
					width: 2.8rem;
					float: left;
					position: relative;
					text-align: center;
					color: green;
					font-size: rem-calc(30px);
				}
				.response-votes {
					font-size: rem-calc(24px);
					line-height: 1;
					width: 2.8rem;
					float: left;
					position: relative;
					text-align: center;
				}
			}
		}
		.comment-content {
			.comment-details {
				padding-top: rem-calc(10px);
				padding-bottom: rem-calc(8px);
				margin-bottom: rem-calc(8px);
				border-bottom: rem-calc(1px) $gray solid;
			}
			.code-snippet {
				margin-top: rem-calc(7px);
				margin-bottom: rem-calc(7px);
				float: left;
				//background-color: darken($offWhite, 10%);
			}
			.image-thumbs {
				padding-top: rem-calc(10px);
				padding-bottom: rem-calc(10px);
				float: left;
				position: relative;
				width: 100%;
				.thumbnail-container {
					padding: rem-calc(5px);
					float: left;
					width: 23%;
					margin-right: 1%;
					height: auto;
					border: rem-calc(1px) $light solid;
					img {
						max-width: 100%;
						width: 100%;
						max-height: rem-calc(200px);
					}
					&:first-child {
						margin-left: 0;	
					}
				}
			}
			.comment-reply {
				border-top: rem-calc(1px) $gray solid;
				margin-top: rem-calc(5px);
				a {
					color: $gray;
				}
			}
		}
		.reply-toggle {
			margin-bottom: 0;
			padding-right: 3.6rem;
			padding-bottom: rem-calc(10px);
			p {
				width: 100%;
				border-top: rem-calc(1px) $gray solid;
				color: $gray;
			}
		}
	}
	.solution {
		border: rem-calc(4px) $primary-color solid;
	}
	.replies {
		margin-top: rem-calc(10px);
		padding-right: 3.6rem;
		.reply {
			padding-top: rem-calc(10px);
			padding-bottom: rem-calc(20px);
			//border-top: rem-calc(1px) solid $gray;
		}
		.new-comment {
			padding-top: rem-calc(10px);
			width: 100%;
			position: relative;
			float: left;
			padding-left: 3.5rem;
			.new-comment-left {
				float: left;
				position: relative;
				width: 3.6rem;
				height: 100%;
				display: none;
				.reply-pic {
					width: rem-calc(40px);
					height: rem-calc(40px);
					float: left;
					margin-left: rem-calc(3px);
					border: rem-calc(1px) black solid;
					border-radius: rem-calc(20px);
					overflow: hidden;
					display: block;
					@include transition(100ms);
				}
			}
			.new-comment-form {
				width: 100%;
				textarea {
					height: rem-calc(60px);
					background-color: white;
				}
				.new-comment-submit {
					height: rem-calc(60px);
					span {
						top: rem-calc(20px);
					}
				}
			}
		}
	}
}
.new-response {
	padding-top: rem-calc(30px);
	width: 100%;
	position: relative;
	float: left;
	.new-response-form {
		/*.reply-pic {
			width: rem-calc(40px);
			height: rem-calc(40px);
			float: left;
			border: rem-calc(1px) black solid;
			border-radius: rem-calc(20px);
			overflow: hidden;
			display: block;
			@include transition(100ms);
		}*/
		position: relative;
		float: left;
		width: 100%;
		.new-response-title {
			@include font-semi(rem-calc(14px));
			a {
				color: $primary-color;
				padding-bottom: rem-calc(10px);
				display: inline-block;
				&:hover {
					color: darken($primary-color, 20%);
				}
			}
		}
		.new-response-inner {
			float: left;
			width: 100%;
			position: relative;
			border: rem-calc(1px) $gray solid;
			min-height: rem-calc(140px);
			.response-options {
				padding: rem-calc(15px);
				padding-bottom: 0;
				width: 100%;
				float: left;
				position: relative;
				padding-bottom: 0;
				padding-top: rem-calc(4px);
				ul {
					list-style: none;
					position: relative;
					float: left;
					width: 100%;
					border-bottom: rem-calc(1px) $gray solid;
					margin: 0;
					li {
						float: left;
						padding: rem-calc(5px);
						a {
							color: $gray;
							@include transition(100ms);
							span {
								font-size: rem-calc(15px);
							}
							&:hover {
								color: $dark;
							}
							&.selected {
								color: $dark;
							}
						}
						&:first-child {
							padding-left: 0;
						}
					}
				}
			}
			textarea {
				resize: vertical;
				outline: none;
				outline: 0;
				margin: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				border: none;
				background: rgba(255,255,255,0.0);
				height: rem-calc(140px);
				width: 100%;
				float: left;
				padding: rem-calc(15px);
			}
		}
		.new-response-post {
			float: right;
			width: auto;
			p {
				padding: rem-calc(10px);
				padding-right: 0;
				.sy-button {
					margin-top: 0;
				}
			}
		}
		.new-response-preview {
			float: right;
			width: auto;
			p {
				padding: rem-calc(10px);
				padding-right: 0;
				.sy-button {
					margin-top: 0;
				}
			}
		}
	}
}
.response-noUser {
	float: left;
	width: 100%;
	border-top: rem-calc(1px) $gray solid;
	margin-top: rem-calc(30px);
	padding-top: rem-calc(15px);
	h4 {
		@include font-semi(rem-calc(18px));
		color: $dark;
		float: left;
	}
}


