// Smartphones (portrait and landscape) -----------
@media only screen 
and (min-device-width : rem-calc(320px)) 
and (max-device-width : rem-calc(480px)) {

}

// Smartphones (landscape) ----------- 
@media only screen 
and (min-width : rem-calc(321px)) {


}

// Smartphones (portrait) ----------- 
@media only screen 
and (max-width : rem-calc(320px)) {


}

// iPads (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : rem-calc(768px)) 
and (max-device-width : rem-calc(1024px)) {
	.search-result {
		.search-result-category {
			a {
				h2 {
					font-size: rem-calc(8px);
				}
			}
		}
	}

}

// iPads (landscape) ----------- 
@media only screen 
and (min-device-width : rem-calc(768px)) 
and (max-device-width : rem-calc(1024px)) 
and (orientation : landscape) {


}

// iPads (portrait) ----------- 
@media only screen 
and (min-device-width : rem-calc(768px)) 
and (max-device-width : rem-calc(1024px)) 
and (orientation : portrait) {


}

// Desktops & Laptops & Above ----------- 
@media only screen 
and (min-width : rem-calc(1224px)) {

}

// Small Laptops and below ----------
@media only screen 
and (max-width : rem-calc(1224px)) {
	.search-result {
		.search-result-category {
			a {
				h2 {
					font-size: rem-calc(10px);
				}
			}
		}
	}
}


// Laptops Only ----------
@media only screen 
and (min-width : rem-calc(1224px)) 
and (max-height : rem-calc(880px)) {

}

// Medium Screens -----------
@media only screen 
and (min-width : rem-calc(1024px))
and (max-width : rem-calc(1560px)) {

}

// Large screens ----------- 
@media only screen 
and (min-width : rem-calc(1824px)) {
	/*.search-result-category {
		width: 10%;
	}
	.search-result-content {
		width: 90%;
	}*/
	.connections-container {
		.connections-individual {
			.connections-message {
				right: 20%;
			}
		}
	}
}

// Retina ----------- 
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {


}