// The latest Foundation settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss


$body-font-color: #fff !default;
$heading-font-color: #fff!default;
$primary-color: rgba(59,148,139,1.0);

//#‎3b948b‬

$offWhite: rgba(232,232,232,1.0);
$gray: rgba(135,135,135,1.0);
$dark: rgba(46,48,44,1.0);
$darkest: rgba(18,20,15,1.0);

// $alert-color: #f04124 !default;
// $success-color: #43AC6A !default;
// $warning-color: #f08a24 !default;
// $info-color: #a0d3e8 !default;

// $body-bg: rgba(86,87,89,1.0);



//Modal Style Override

$reveal-modal-bg: $darkest;
$reveal-border-width: 0px;
$reveal-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.45);

$reveal-close-color: #FFFFFF;
$reveal-close-weight: light;

@mixin font-regular($size) {
	font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: $size;
}
@mixin font-light($size) {
	font-family: 'open_sanslight', "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color: white;
	font-size: $size;
}
@mixin font-semi($size) {
	font-family: 'open_sanssemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color: white;
	font-size: $size;
}
@mixin font-bold($size) {
	font-family: 'open_sansbold', "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color: white;
	font-size: $size;
}
@mixin font-italic($size) {
	font-family: 'open_sansitalic', "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color: white;
	font-size: $size;
}
@mixin transition($time) {
	-webkit-transition: all $time ease;                  
    -moz-transition: all $time ease;                 
    -o-transition: all $time ease;   
    -ms-transition: all $time ease;          
    transition: all $time ease;
}
