*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.sy-app,
.sitenav-push,
.sitenav-push-inner,
.sitenav {
	height: 100%;
}

.sy-app {
	position: relative;
	overflow: hidden;
}

.sitenav-push,
.sitenav-push-inner {
	position: relative;
}

.sitenav-push {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	background:#282828;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, width 0.1s 0.5s, height 0.1s 0.3s;
		transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.5s;
	}
}

.sy-menu-open .sitenav-push::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.sitenav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	//visibility: hidden;
	height: 100%;
	background: $darkest;
	

}

.sitenav::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.sy-menu-open .sitenav::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.5s;
}

.sitenav{
	//-webkit-transition: width 0.3s;
	//transition: width 0.3s;
	//width:50px;

	.activator{
		position:absolute;
		width: 42px;
		padding-left:15px;
		padding-right:10px;
		height: 100%;
		text-align:center;
		display:table;
		-webkit-transition: width 0.3s;
		transition: width 0.3s;
		z-index:-1;
		
		& > .activator-icon{
			
			display:table-cell;
			width:25px;
			vertical-align:middle;
			opacity:1;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
	}
	.sitenav-inner{
		height:100%;
		
		width:50px;
		overflow:hidden;

		display:table;
		&::after{
			-webkit-transition: border-width 0.3s;
			transition: border-width 0.3s;
			position: absolute;
			z-index:-1;
			left:50px;
			content:' ';
			width:0; 
		     height:0; 
		     border-right:0px solid transparent;
		     border-top:100vh solid transparent;
		     border-left:0px solid transparent;
		     border-bottom:0px solid transparent;
		}
		.vertical-middle{
			//display:table-cell;
			display:table;
			height:100%;
			width:100%;
		}
		ul{
			margin:0px;
			display:table-cell;
			vertical-align:middle;

			&.top{
				position:absolute;
				z-index:100;
				left:0px;
				width:150px;
				min-height:200px;
				li{
					font-size:20px;
					line-height:50px;
					.search-icon{
						padding-left:15px;
						width:50px;
						
						color:$primary-color;
					}
					.search{
						font-size:16px;
						padding-left:15px;
						width:100px;
						color:#fff;
						opacity:0;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
					}
				}
			}

			&.middle{
				width: 150px;
				padding-left:5px;
				z-index:99;
				line-height: rem-calc(15);
				opacity:0;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
				
				li{
					width:150px;
					a{
						display:none;
						color: #fff;
						
					}
				}
			}
			
			&.bottom{
				position:absolute;
				z-index:100;
				left:0px;
				width:150px;
				min-height:200px;
				bottom:0px;
				display:table;
				li.logo{
					display:table-cell;
					vertical-align:bottom;
					font-size:30px;
					.sy{
						padding-left:8px;
						width:50px;
						color:$primary-color;

					}
					.mantis{
						width:100px;
						padding-left:2px;
						color:#fff;
						opacity:0;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
					}
				}
			}
			
			li {
				list-style: none;
			}
		}
	}
}

.sy-effect.sy-app {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.sy-effect .sitenav-push {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow:auto;
	margin-left:50px;
}

.sy-effect.sy-menu-open .sitenav-push {
	-webkit-transform: translate3d(75px, 0, -350px);
	transform: translate3d(75px, 0, -350px);
	@include drop-shadow(0.5);
}

.sy-effect.sitenav {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
	width:50px;
	left: 0;
	//overflow: hidden;
}

.sy-effect.sy-menu-open .sy-effect.sitenav {
	//visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

//	-webkit-transition: width 0.3s;
//	transition: width 0.3s;

	width: 150px;
	left: 0;

	@include drop-shadow(0.3);

	.activator{
		width: 80px;

		& > .activator-icon{
			width: 80px;
			opacity:0;
		}
	}
	.sitenav-inner{
		width:150px;
		ul{
			&.middle{
				padding-left:15px;
				line-height: rem-calc(35);
				font-size:rem-calc(16);
				opacity: 1;
				li{
					a{
						display:block;
					}
				}
			}
			&.bottom{
				li.logo{
					.sy{

					}
					.mantis{
						opacity:1.0;
					}
				}
			}
		}
	}

}

.sy-effect.sitenav::after {
	display: none;
}

.sy-effect.sy-menu-top-open .sy-effect.sitenav{
	.sitenav-inner{
		width:150px;
		&::after{
			position: absolute;
			left:50px;
			content:' ';
			width:0; 
		     height:0; 
		     border-right:100px solid transparent;
		     border-top:100vh solid $darkest;
		     border-left:0px solid $darkest;
		     border-bottom:0px solid transparent;
		}
		ul{
			&.top{
				li{
					.search{
						opacity:1.0;
					}
				}
			}
		}
	}
}
.sy-effect.sy-menu-bottom-open .sy-effect.sitenav{
	.sitenav-inner{
		width:150px;
		&::after{
			position: absolute;
			left:50px;
			content:' ';
			width:0; 
		     height:0; 
		     border-right:0px solid transparent;
		     border-top:100vh solid transparent;
		     border-left:100px solid $darkest;
		     border-bottom:0px solid $darkest;
		}
		ul{
			&.bottom{
				li.logo{
					.mantis{
						opacity:1.0;
					}
				}
			}
		}
	}
}

