$animationTime: 0.14s !default;

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.sy-app,
.sitenav-push,
.sitenav-push-inner,
.sitenav {
	height: 100%;
}

.sy-app {
	position: relative;
	overflow: hidden;
}

.sitenav-push,
.sitenav-push-inner {
	position: relative;
}

.sitenav-push {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-filter $animationTime, opacity $animationTime, -webkit-transform $animationTime;
	transition: filter $animationTime, opacity $animationTime, transform $animationTime;
	background: white;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
		-webkit-transition: opacity $animationTime, width 0.1s $animationTime, height 0.1s $animationTime;
		transition: opacity $animationTime, width 0.1s $animationTime, height 0.1s $animationTime;
	}
}

.sy-menu-open .sitenav-push::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity $animationTime;
	transition: opacity $animationTime;
}

.sitenav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	//visibility: hidden;
	height: 100%;
	background: rgba(255,255,255,0.0);
}

.sitenav::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	//background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity $animationTime;
	transition: opacity $animationTime;
}

.sy-menu-open .sitenav::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity $animationTime, width 0.1s $animationTime, height 0.1s $animationTime;
	transition: opacity $animationTime, width 0.1s $animationTime, height 0.1s $animationTime;
}

.sitenav{
	-webkit-transition: left $animationTime;
	transition: left $animationTime;

	.trident{
		fill:#000;
	}
	.activator{
		width: 50px;
		height: 100%;
		text-align:center;
		display:table;
		z-index:-1;
		float:right;
		& > .activator-icon{
			display:table-cell;
			width:50px;
			height:50px;
			padding-left:15px;
			padding-right:15px;
			vertical-align:middle;
		}
	}
	.sitenav-inner{
		height:100%;
		background-color: $darkest;
		width:150px;
		float:left;
		display:table;
		.vertical-middle{
			//display:table-cell;
			display:table;
			height:100%;
			width:100%;
		}
		ul{
			margin:0px;
			display:table-cell;
			vertical-align:middle;

			&.top{
				position:absolute;
				z-index:100;
				left:150px;
				width: 50px;
				min-height:50px;
				-webkit-transition: left $animationTime;
				transition: left $animationTime;
				li {
					font-size:20px;
					line-height:50px;
					.search-icon{
						padding-left:15px;
						width:50px;
						color:$primary-color;
					}
					.search{
						@include font-regular(rem-calc(16px));
						padding-left:15px;
						width:100px;
						color: white;
						white-space: nowrap;
						position:relative;
						top:-3px;
						opacity:0;
						@include transition(0.1s);
						-webkit-transition: opacity $animationTime;
						transition: opacity $animationTime;
					}
				}
			}

			&.middle{
				width: 150px;
				padding-left:12px;
				z-index:99;
				line-height: rem-calc(15);
				//-webkit-transition: all $animationTime;
				//transition: all $animationTime;
				
				li{
					width:100%;
					display:block;
					line-height: rem-calc(45px);
					font-size:rem-calc(13px);
					a{
						display: block;
						color: white;
						//-webkit-transition: padding 0.1s;
						//transition: padding 0.1s;
						&:hover{
							//padding-left:5px;
							color: $primary-color;
						}
						
					}
				}
			}
			
			&.bottom{
				position:absolute;
				z-index:100;
				left:150px;
				width: 50px;
				min-height:50px;
				bottom:0px;
				display:table;
				
				-webkit-transition: left $animationTime;
				transition: left $animationTime;
				
				li.logo{
					display:table-cell;
					vertical-align:bottom;
					font-size:30px;
					.sy{
						padding-left:8px;
						width:50px;
						color:$primary-color;

					}
					.mantis{
						width:100px;
						padding-left:2px;
						color: white;
						white-space: nowrap;
						opacity:0;
						@include transition(0.1s);
						-webkit-transition: opacity $animationTime;
						transition: opacity $animationTime;

					}
				}
			}
			
			li {
				list-style: none;
			}
		}
	}
}

.sy-effect.sy-app {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.sy-effect .sitenav-push {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow:auto;
	margin-left:50px;
}

.sy-effect.sy-menu-open .sitenav-push {
	-webkit-transform: translate3d(75px, 0, 0px);
	transform: translate3d(75px, 0, 0px);
	opacity:0.4;
	-webkit-filter: blur(2px);
  	filter: blur(2px);
}

.sy-effect.sitenav {
	opacity: 1;
	width:200px;
	left: -150px;
}

.sy-effect.sy-menu-open .sy-effect.sitenav {

	-webkit-transition: left $animationTime, -webkit-transform $animationTime;
	transition: left $animationTime, transform $animationTime;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	width: 200px;
	left: 0;

	//@include drop-shadow(0.3);

	.activator{
		width: 50px;

		& > .activator-icon{
			width: 50px;
		}
	}
	.sitenav-inner{
		width:150px;
		ul{
			&.top{
				width:150px;
				left:0px;
				li{
					.search{
						opacity:1.0;
						@include transition(0.1s);
					}
				}
			}
			&.middle{
				width:150px;
				//padding-left:15px;
				li{
					a{
						display:block;
					}
				}
			}
			&.bottom{
				width:150px;
				left:0px;
				li.logo{
					.sy{
					}
					.mantis{
						opacity:1.0;
						@include transition(0.1s);
					}
				}
			}
		}
	}

}

.sy-effect.sitenav::after {
	display: none;
}

.sy-effect.sy-menu-top-open .sy-effect.sitenav{
	.sitenav-inner{
		width:150px;
		ul{
			&.top{
				width:150px;
				li{
					.search{
						opacity:1.0;
						color: $gray;
					}
				}
			}
		}
	}
}
.sy-effect.sy-menu-bottom-open .sy-effect.sitenav{
	.sitenav-inner{
		//width:150px;
		ul{
			//width:150px;
			&.bottom{
				li.logo{
					.mantis{
						opacity:1.0;
						color: $gray;
					}
				}
			}
		}
	}
}

