/*!
angular-xeditable - 0.1.8
Edit-in-place for angular.js
Build date: 2014-01-10 
*/

.editable-wrap{
	margin:0;
	width: 100%;
	height: auto;
	display: inline-block;
	white-space: nowrap;
}
.editable-wrap .editable-controls,.editable-wrap .editable-error{
	margin-bottom:0;
}
.editable-wrap .editable-controls>input,.editable-wrap .editable-controls>select,.editable-wrap .editable-controls>textarea{
	margin-bottom:0;
}
.editable-wrap .editable-input{
	width: 100%;
	height: auto;
	@include font-regular(rem-calc(14px));
	color: $dark;
	padding: 5px 10px 5px 10px;
	line-height: 1.4;
	display: inline-block;
}
.editable-buttons{
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
.editable-buttons button{
	margin-left:5px;
	margin-bottom: 0;
	padding: 5px 10px 7px 10px;
	@include font-regular(rem-calc(12px));
	height: auto;
	width: auto;
	color: $primary-color;
	background-color: transparent;
	border: 1px $primary-color solid;
	@include transition(100ms);
	&:hover {
		background-color: $primary-color;
		color: white;
	}
}
.editable-input.editable-has-buttons{
	width:100%;
	position: relative;
}
.editable-bstime .editable-input input[type=text]{
	width:46px;
}
.editable-bstime .well-small{
	margin-bottom:0;
	padding:10px;
}
.editable-range output{
	display:inline-block;
	min-width:30px;
	vertical-align:top;
	text-align:center;
}
.editable-color input[type=color]{
	width:50px;
}
.editable-checkbox label span,.editable-checklist label span,.editable-radiolist label span{
		margin-left:7px;
		margin-right:10px;
	}
.editable-hide{
	display:none!important;
}
.editable-click,a.editable-click{
		text-decoration:none;
}
.editable-click:hover,a.editable-click:hover{
	text-decoration:none;
}
.editable-empty,.editable-empty:hover,.editable-empty:focus,a.editable-empty,a.editable-empty:hover,a.editable-empty:focus{
	font-style:italic;
	color:#D14;
	text-decoration:none;
}


.settings-left-header {
	padding-bottom: 0 !important;
}
.settings-category-nav {
	ul {
		list-style: none;
		float: left;
		position: relative;
		width: 100%;
		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1;
			float: left;
			width: 100%;
			position: relative;
			&:first-child {
				a {
					border-top: 1px $light solid;
				}
			}
			a {
				width: 100%;
				padding: 10px 10px 10px 0;
				margin: 0;
				@include font-regular(12px);
				color: $light;
				@include transition(100ms);
				line-height: 1.4;
				float: left;
				border-bottom: 1px $light solid;
				&:hover {
					color: $dark;
				}
				&.active {
					color: $dark;
					//border-bottom: none;
					//background-color: $gray;
					padding-left: 10px;
					border-left: 4px $primary-color solid;
					padding-right: 2px;
				}
				span {
					float: right;
				}
			}
		}
	}
}

.settings-header {
	padding-top: 7px;
	padding-bottom: 8px;
	width: 100%;
	border-bottom: 1px $light solid;
	margin-bottom: 17px;
	h3 {
		@include font-semi(rem-calc(18px));
		color: $primary-color;
	}
}
.settings-row {
	width: 100%;
	height: auto;
	//padding: 20px 15px 19px 10px;
	//border: 1px $offWhite solid;
	padding: 20px 0 19px 0;
	box-sizing: border-box;
	//margin-top: -1px;
	&:first-child(even) {
		margin-top: 0;
	}
	.settings-title {
		width: 100px;
		padding: 5px 0 5px 0;
		display: inline-block;
		vertical-align: top;
		@include font-semi(rem-calc(12px));
		color: $dark;
	}
	.editable-option {
		display: inline-block;
		width: 300px;
		.editable-controls {
			textarea {
				resize: vertical;
			}
		}
	}
	p.settings-option {
		//width: auto;
		position: relative;
		cursor: text;
		@include font-regular(rem-calc(14px));
		color: $gray;
		padding: 5px 10px 5px 10px;
		border: 1px darken($light, 10%) solid;
		line-height: 1.4;
		-webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.2);
		@include transition(100ms);
	}
}

