<div id="heading-row" class="row fluid-row">
    <section class="medium-3 large-2 large-offset-1 columns heading-left">
        <!-- Section on left of heading -->
    </section>
    <section class="medium-9 large-7 columns medium-offset-3 large-offset-3 sub-heading">
        <h1>{{ user.firstName + ' ' + user.lastName }}</h1>
    </section>
    <section class="medium-0 large-2 columns heading-right">
        <!-- Section on right of heading -->
    </section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 large-offset-1 columns main-left profile-left">
    	<!-- Section for main left header -->
        <header class="profile-left-user left-header">
            <h3>
                {{ user.firstName + ' ' + user.lastName }}
            </h3>
            <small>{{ user.at }}{{ user.handle }}</small>
            <div class="profile-pic">
                <div class="profile-pic-inner online"></div>
            </div>
        </header>
        <header class="profile-left-options left-header">
            <ul>
                <a href="#"><li>
                    <h3>Connect</h3>
                    <svg version="1.1" id="plus_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="20px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <rect x="44.2" y="3.9" width="11.5" height="92.2"/>
                        <rect x="3.9" y="44.2" width="92.2" height="11.5"/>
                    </svg>
                </li></a>
                <a href="#"><li>
                    <h3>Message</h3>
                    <svg version="1.1" id="message_icon" xmlns="http://www.w3.org/2000/svg" id="message-icon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path d="M2,9.5v60.4h19.1v20.6l19.1-20.6h57.2V9.5H2z M84.4,34.8H16v-9.6h68.4L84.4,34.8L84.4,34.8z M84.4,52.6H16V43h68.4
                            L84.4,52.6L84.4,52.6z"/>
                    </svg>
                </li></a>
            </ul>
        </header>
    </section>
    <section class="medium-9 large-7 columns main-center profile-center">
    	<!-- Section for main center header -->
        <header class="profile-header profile-about-header">
        	<h3>About</h3>
        </header>
        <article class="profile-about-content">
        	<p>{{ user.bio }}</p>
        </article>
        <header class="profile-header profile-manti-header">
        	<h3>Current Manti</h3>
        </header>
        <article class="profile-manti-content">
            <ul>
        		<li class="row current-manti" ng-repeat="manti in user.curManti">
                    <div class="medium-2 large-1 columns current-manti-view">
                        <a href="#"><p>View</p></a>
                    </div>
                    <div class="medium-10 large-11 columns current-manti-content">
                        <h3><a href="#">{{ manti.title }}</a></h3>
                        <p>{{ manti.description }}</p>
                    </div>
                </li>
            </ul>
        </article>
        <header class="profile-header profile-contributions-header">
        	<h3>Recent Contributions</h3>
        </header>
        <article class="profile-contributions-content">
            <ul>
            	<li class="row recent-contribution" ng-repeat="contribution in user.reContributions">
                    <div class="medium-2 large-1 columns recent-contribution-category">
                        <p>{{ contribution.type }}</p>
                    </div>
                    <div class="medium-10 large-11 columns recent-contribution-content">
                        <h3>{{ contribution.title }}</h3>
                        <p>{{ contribution.description }}</p>
                    </div>
                </li>
            </ul>
        </article>
    </section>
    <section class="medium-0 large-2 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
