<header class="profile-left-user left-header">
    <h3>
        {{ user.firstName + ' ' + user.lastName }}
    </h3>
    <small>{{ user.at }}{{ user.handle }}</small>
    <div class="profile-pic">
        <div class="profile-pic-inner online generate-image" signature="{{ user.signature }}"></div>
    </div>
</header>
<header class="profile-left-options left-header">
    <ul>
        <li>
            <a ui-sref="profile.view.connect">
            <h3>Connect</h3>
            <div class="icon-plus icon"></div>
            </a>
        </li>
        <li>
            <a ui-sref="profile.view.message">
            <h3>Message</h3>
            <div class="icon-message icon"></div>
            </a>
        </li>
        <li>
            <a ui-sref="profile.view.invite">
            <h3>Invite</h3>
            <div class="icon-plus icon"></div>
            </a>
        </li>
    </ul>
</header>