<div class="bg-gradient"></div>

<div class="row fluid-row">
	<section class="medium-2 columns main-left">
		<header class="left-header">
			<h3>Left Col</h3>
		</header>
		<div class="left-content">
			<ul>
				<li>item 1</li>
				<li>item 2</li>
				<li>item 3</li>
				<li>item 4</li>
				<li>item 5</li>
			</ul>
		</div>
	</section>
	<section class="medium-8 columns main-center">
		<header class="main-header">
			<h3>Main Cols</h3>
		</header>
		<div class="main-content">
			<p>Main Content</p>
		</div>
	</section>
	<section class="medium-2 columns main-right">
		<header class="right-header">
			<h3>Right Col</h3>
		</header>
		<div class="right-content">
			<p>Sub content</p>
		</div>
	</section>
</div>