<% if (currentUser !== undefined) { %>
<script>
	var currentUser = <%- JSON.stringify(currentUser) %>;
	console.log(currentUser);
</script>
<% } %>

<div 
	sy-nav-toggle
	id="sy-menu"
	class="sy-nav sy-app sy-effect"
>

	<div 
		id="sitenav"
		class="sy-nav-menu sitenav sy-effect" 
		ui-view="sitenav"
	>
	</div><!-- /.sitenav -->

	<div 
		id="chatnav"
		class="sy-chat-menu" 
		ui-view="chatnav"
	>
	</div><!-- /.chatnav -->

	<div id="sitenav-push" class="sitenav-push">
		<div class="sitenav-push-inner">
			
			<div class="header top" ui-view="header">
			</div><!-- /.header -->

			<div class="overlay" ui-view="overlay">
			</div><!-- /.overlay -->
			
			<div ng-show="loadingView" class="preloader-container">
                <!-- loadingView is a variable defined in the $rootScope -->
                <div class="preloader">
                </div>
            </div>

			<div id="main" class="container" ui-view="main">
			</div><!-- /.container -->

			<div ui-view="footer">
			</div><!-- /.footer -->

		</div>
	</div>
	<ul class="to-do" ng-class="{show: toDo.length > 0 }">
		<li class="to-do-title"><h4>To Do for this Section</h4></li>
		<li ng-repeat="to in toDo">{{ to }}</li>
	</ul>
	<!-- C directive backToTop -->
	<div class="back-to-top" ng-class="{hidden: hidden}">
		<a ng-click="backToTop()" title="Back to top"><span class="icon-arrow-up"></span></a>
	</div>
</div>