
<div class="notifications-container" ng-class="{open: notificationsOpen, menuOpen: menuOpen}" ng-init="messages.active = false">


	<header class="notifications-header">
		<div class="notifications-filter" >
			<a class="all-tab" ng-click="messages.active = false" ng-class="{active: !messages.active}">All</a
			><a class="messages-tab" ng-click="messages.active = true" ng-class="{active: messages.active}">Messages</a>
		</div>
		<a 
			class="compose" 
			dropdown-toggle="#compose-dropdown" 
		><span class="icon-compose"></span></a>
	</header>

	<div id="compose-dropdown" class="compose-dropdown">
		<header class="compose-header">
			<label for="compose-to">To:</label
			><input class="compose-to" type="text" placeholder="Username..">
		</header>
		<section class="compose-body">
			<textarea class="compose-copy" placeholder="Type here.."></textarea>
		</section>
		<footer class="compose-footer">
			<a class="sy-button">Post</a>
		</footer>
	</div>

	<div class="notifications-inner">		

		<ul class="notifications-list">
			<li 
				class="notification" 
				ng-repeat="notification in notifications"
				ng-class="{viewed: notification.viewed}"
			>
				<section class="notification-icon">
					<span class="icon-talk-chat" ng-show="notification.object == 'message'"></span>
					<span class="icon-contact-add-2" ng-show="notification.object == 'connection'"></span>
					<span class="icon-hashtag" ng-show="notification.object == 'tag'"></span>
					<span class="icon-address-at" ng-show="notification.object == 'handle'"></span>
					<span class="icon-star-2" ng-show="notification.object == 'use'"></span>
				</section
				><section class="notification-content">
					<p>
						<a >{{ notification.author.firstName }} {{ notification.author.lastName }}</a><br />
						<span class="n-message">{{ notification.notification }}</span><br />
						<span class="n-date">{{ notification.date | date }}</span>
					</p>
				</section
				><section class="notification-goto">
					<a ng-src="{{ notification.src }}"><span class="icon-arrow-right"></span></a>
				</section>
			</li>
		</ul>

	</div>

	<!-- <footer class="notifications-footer">
		<a >Footer</a>
	</footer> -->

</div>
