@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitter';
    src: url('fonts/Bitter-Bold.otf');
    src: url('fonts/Bitter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitter2';
    src: url('fonts/Bitter-Regular.otf');
    src: url('fonts/Bitter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "symantis";
  src:url("fonts/symantis.eot");
  src:url("fonts/symantis.eot?#iefix") format("embedded-opentype"),
    url("fonts/symantis.woff") format("woff"),
    url("fonts/symantis.ttf") format("truetype"),
    url("fonts/symantis.svg#symantis") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "symantis" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symantis" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "b";
}
.icon-hide:before {
  content: "c";
}
.icon-link:before {
  content: "e";
}
.icon-trident:before {
  content: "f";
}
.icon-message:before {
  content: "g";
}
.icon-plus:before {
  content: "h";
}
.icon-reply:before {
  content: "j";
}
.icon-search:before {
  content: "l";
}
.icon-settings:before {
  content: "m";
}
.icon-view:before {
  content: "n";
}
.icon-social-facebook:before {
  content: "i";
}
.icon-social-twitter:before {
  content: "o";
}
.icon-social-behance:before {
  content: "p";
}
.icon-social-linkedin:before {
  content: "q";
}
.icon-social-github:before {
  content: "r";
}
.icon-social-google-plus:before {
  content: "s";
}
.icon-indent:before {
  content: "k";
}
.icon-check:before {
  content: "w";
}
.icon-code-snippet:before {
  content: "x";
}
.icon-pencil:before {
  content: "a";
}
.icon-photo:before {
  content: "d";
}
.icon-vote-up:before {
  content: "u";
}
.icon-vote-down:before {
  content: "y";
}
.icon-dot-3:before {
  content: "t";
}
.icon-left-arrow:before {
  content: "A";
}
.icon-right-arrow:before {
  content: "B";
}
.icon-delete-circle:before {
  content: "z";
}
.icon-arrow-circle-right:before {
  content: "C";
}
.icon-1way-1:before {
  content: "E";
}
.icon-1way-2:before {
  content: "F";
}
.icon-2way:before {
  content: "G";
}
.icon-arrow-up:before {
  content: "H";
}
.icon-hierarchy:before {
  content: "L";
}
.icon-dzone:before {
  content: "M";
}
.icon-git-branch:before {
  content: "N";
}
.icon-cloud-upload:before {
  content: "O";
}
.icon-cloud-download:before {
  content: "J";
}
.icon-git-pull-request:before {
  content: "K";
}
.icon-git-merge:before {
  content: "P";
}
.icon-git-compare:before {
  content: "Q";
}
.icon-check-mark-circle-1:before {
  content: "R";
}
.icon-close-circle:before {
  content: "S";
}
.icon-check-mark-circle-outline:before {
  content: "T";
}
.icon-close-circle-outline:before {
  content: "U";
}
.icon-talk-chat:before {
  content: "Y";
}
.icon-question-circle:before {
  content: "v";
}
.icon-question-circle-outline:before {
  content: "I";
}
.icon-arrow-right:before {
  content: "1";
}
.icon-arrow-down:before {
  content: "2";
}
.icon-arrow-left:before {
  content: "3";
}
.icon-chevron-down:before {
  content: "4";
}
.icon-plus-1:before {
  content: "D";
}
.icon-minus-3:before {
  content: "V";
}
.icon-minus:before {
  content: "X";
}
.icon-bell:before {
  content: "W";
}
.icon-compose:before {
  content: "Z";
}
.icon-address-at:before {
  content: "0";
}
.icon-hashtag:before {
  content: "5";
}
.icon-star-2:before {
  content: "6";
}
.icon-contact-add-2:before {
  content: "7";
}
