<a href="#" class="activator">
  <div class="activator-icon">
    <object data="/img/svg/menu_icon.svg" width="100%" type="image/svg+xml">
        <img src="/img/png/menu_icon.png" width="100%" />
    </object>
  </div>
</a>
<div class="sitenav-inner" ng-controller="SiteNavCtrl">
    <ul class="top">
      <li></li>
    </ul>
    <ul class="middle" ng-click="syMenuToggle()">
    	<li ng-repeat="siteItem in siteItems">
        	<a href="{{siteItem.url}}">{{siteItem.title}}</a>
    	</li>
    </ul>
    <ul class="bottom">
      <li class="logo">
        <a href="/home">
        <span class="sy">sy.</span><span class="mantis">mantis</span>
        </a>
      </li>
    </ul>
</div>