<article class="row board-page">
	<div class="medium-12 columns board-page-main">
	    <div class="board-post-content">
	        <section class="board-page-header">
		        <h3>{{ board.title }}</h3>
		        <div class="board-page-accept">
		        	<a class="accept-button" title="Accept this Opportunity"><span class="icon-check"></span></a>
		        	<a class="qmark-button" title="Help">?</a>
		        </div>
		    </section>
		    <section class="board-page-body">
		        <p>{{ board.opportunity }}</p>
		        <div class="image-thumbs" ng-show="board.imgs">
		        	<div class="thumbnail-container" ng-repeat="img in board.imgs">
		        		<a title="View {{ img.name }}">
		                    <img ng-src="{{ img.src }}" />
		                </a>
		        	</div>
			    </div>
		    </section>
	        <section class="board-page-footer">
				<div class="board-page-share">
	                <div class="twitter-share">
	                    <a title="Share on Twitter">
	                        <div class="icon-social-twitter icon"></div>
	                    </a>
	                    <div class="share-count">
	                        <p>{{ board.social.twitter }}</p>
	                    </div>
	                </div>
	                <div class="facebook-share">
	                    <a title="Share on Facebook">
	                        <div class="icon-social-facebook icon"></div>
	                    </a>
	                    <div class="share-count">
	                        <p>{{ board.social.facebook }}</p>
	                    </div>
	                </div>
	            </div>
		        <div class="board-page-details">
		        	<div class="board-details">
			        	<div class="board-details-pic author-{{ board.author.status }} generate-image" signature="{{ board.author.signature }}"></div>
			        	<div class="board-postedby">
			                <p class="board-details-by">
		                        <a ui-sref="profile.view({ handle: board.author.handle })">
		                            {{ board.author.firstName }} {{ board.author.lastName }}
		                        </a>
		                    </p>
			                <p class="board-details-on">
		                        <span>
		                            {{ board.date | date }}
		                        </span>
		                    </p>
		                </div>
	                </div>
		        </div>
			</section>
	    </div>

		<div class="comments-head" ng-init="comments.selected = true">
			<h4 class="number-comments">
				<a 
					ng-class="{active: comments.selected}" 
					ng-click="comments.selected = true"
				>
					{{ board.questions.length }} Question<span ng-show="board.questions.length > 1">s</span>
				</a>
			</h4>
			<h4>
				<a 
					ng-show="currentUser"
					ng-click="comments.selected = false" 
					ng-class="{active: !comments.selected}"
				>
					New
				</a>
				<a ng-show="!currentUser" ng-click="loginModal()">Login</a>
			</h4>
			<p>
				<a dropdown-toggle="#board-question-sort-menu">Sort by <span class="icon-vote-down icon"></span></a>
			</p>
			<div class="sort-container board-question-sort" id="board-question-sort-menu">
		        <ul class="sort-menu">
		            <li><a class="active">Most Recent <span class="icon-check icon"></span></a></li>
		            <li><a >Most Popular <span class="icon-check icon"></span></a></li>
		        </ul>
		    </div>
		</div>
		
		<div 
			class="comment" 
			ng-repeat="question in board.questions"
		>
			<div class="comment-left">
				<div 
					class="comment-pic generate-image" 
					signature="{{ question.author.signature }}"
				>
				</div>
			</div>
			<div class="comment-content">
				<div class="comment-details">
		            <p>
		            	<a ui-sref="profile.view({ handle: question.author.handle })">
		            		{{ question.author.firstName }} {{ question.author.lastName }}
		            	</a>
		            	&middot;
		            	<span>{{ question.date | date }}</span>
		            </p>
		        </div>
				<p class="comment-text">
					{{ question.question }}
				</p>
				<p class="comment-reply">
					<a title="Up Votes">
						<span class="icon-vote-up"></span>
						<span class="comment-votes">
							{{ question.upVotes | number }}
						</span>
					</a>
					<a title="Down Votes">
						<span class="icon-vote-down"></span>
						<span class="comment-votes">
							{{ question.downVotes | number }}
						</span>
					</a>
				</p>
			</div>

			<div class="replies" ng-init="replies.open = false" ng-show="replies.open">
				<div 
					class="reply" 
					ng-repeat="reply in question.replies"
				>
					<div class="reply-push">
						<div class="icon-indent icon">
						</div>
					</div>
					<div class="reply-left">
						<div class="reply-pic generate-image" signature="{{ reply.author.signature }}"></div>
					</div>
					<div class="reply-content">
						<div class="reply-details">
				            <p>
				            	<a ui-sref="profile.view({handle: reply.author.handle})">
				            		{{reply.author.firstName}} {{reply.author.lastName}}
				            	</a>
				            	&middot;
				            	<span>
				            		{{ reply.date | date }}
				            	</span>
				            </p>
				        </div>
						<p class="reply-text">
							{{reply.reply}}
						</p>
				    </div>
				</div>
				<div class="new-comment" ng-show="currentUser">
					<div class="new-comment-left">
						<div 
							class="reply-pic generate-image" 
							signature="{{ currentUser.signature }}"
						>
						</div>
					</div>
					<form class="new-comment-form">
						<p>
				        	<a ui-sref="profile.view({handle: currentUser.handle})">
				        		{{ currentUser.firstName }} {{ currentUser.lastName }}
				        	</a>
				        </p>
						<textarea name="new-comment-input" placeholder="Add Reply.."></textarea>
						<a >
							<div class="new-comment-submit">
								<span class="icon-plus"></span>
							</div>
						</a>
					</form>
				</div>
				<h4 class="comment-noUser" ng-show="!currentUser">
					<a ng-click="loginModal()">Login</a> to reply
				</h4>
			</div>
			<a 
	        	ng-click="replies.open = true" 
	        	ng-show="!replies.open"
	        >
	        	<div class="reply-toggle">
					<p>
						<span ng-show="question.replies.length > 0">Add/View Replies ({{ question.replies.length }})</span>
						<span ng-show="question.replies.length < 1">Reply</span>
					</p>
				</div>
			</a>
			<a 
				ng-click="replies.open = false"
				ng-show="replies.open"
			>
				<div class="reply-toggle">
					<p>Hide</p>
				</div>
			</a>
		</div>

		<div class="view-more-comments" ng-show="board.questions.length > 12">
			<a >
				<p>More Questions</p>
			</a>
		</div>

		<div class="new-comment" ng-show="currentUser">
			<div class="new-comment-left">
				<div 
					class="reply-pic generate-image" 
					signature="{{ currentUser.signature }}"
				>
				</div>
			</div>
			<form class="new-comment-form">
				<p>
		        	<a ui-sref="profile.view({handle: currentUser.handle})">
		        		{{ currentUser.firstName }} {{ currentUser.lastName }}
		        	</a>
		        </p>
				<textarea name="new-comment-input" placeholder="Ask Question.."></textarea>
				<a ><div class="new-comment-submit"><span class="icon-plus"></span></div></a>
			</form>
		</div>

		<div class="comments-noUser" ng-show="!currentUser">
			<h4><a ui-sref="register">Sign up</a> or <a ng-click="loginModal()">Login</a> to ask a question.</h4>
		</div>

	</div>
</article>