<div id="heading-row" class="row fluid-row">
	<section class="medium-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-10 large-7 columns medium-offset-2 large-offset-3 sub-heading">
        <h1>CONNECTIONS</h1>
    </section>
    <section class="medium-0 large-2 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-2 columns large-offset-1 main-left connections-left">
    	<!-- Section for main left header -->
        <header class="left-header">
            <h3><a href="#">Online</a></h3>
        </header>
        <div class="left-content">
            <div class="connections-online-nav">
                <ul>
                    <li ng-repeat="user in users">
                        <a 
                            href="#" 
                            ng-show="user.status == 'online'"
                        >
                            <p>{{ user.name }}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <header class="connections-suggestions-header left-header">
            <h3><a href="#">Suggestions</a></h3>
        </header>
        <div class="left-content">
            <div class="connections-suggestions-nav">
                <ul>
                    <li ng-repeat="user in users">
                        <a ui-sref="profile.view({ handle: user.handle })">
                            <div class="connections-suggestions-pic suggestions-{{ user.status }}"></div>
                            <p class="connections-suggestions-name">{{ user.name }}</p>
                            <p class="connections-suggestions-skills">{{ user.tags[0] }}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="medium-10 large-7 columns main-center connections-center">
    	<!-- Section for main center header -->
        <header></header>
        <div class="row connections-container">
            <article 
                class="connections-individual medium-6"
                ng-repeat="user in users track by $index"
            >
                <div class="connections-pic connections-{{ user.status }}"></div>
                <h2 class="connections-name">
                    <a 
                        ui-sref="profile.view({ handle: user.handle })"
                    >
                        {{ user.name }}
                    </a>
                </h2>
                <p class="connections-bio">
                    {{ user.professed }}
                </p>
                <p class="connections-skills">
                    <a 
                        ng-repeat="tag in user.tags" 
                        ui-sref="community.tags.view({ tag: tag })"
                    >
                        {{ tag }}
                    </a>
                </p>
                <a href="#">
                    <div class="connections-message">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" id="message-icon" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="20px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                            <path d="M2,9.5v60.4h19.1v20.6l19.1-20.6h57.2V9.5H2z M84.4,34.8H16v-9.6h68.4L84.4,34.8L84.4,34.8z M84.4,52.6H16V43h68.4
                                L84.4,52.6L84.4,52.6z"/>
                        </svg>
                    </div>
                </a>
            </article>
        </div>
    </section>
    <section class="medium-0 large-2 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
