
<div id="heading-row" class="row fluid-row">
	<section class="medium-3 large-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-9 large-8 columns medium-offset-3 large-offset-3 sub-heading">
        <h1>Information</h1>
    </section>
    <section class="medium-0 large-1 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 columns large-offset-1 main-left profile-left">
        <div class="wrapper" ui-view="leftside">
        <!-- Section for main left header -->
        </div>
    </section>

    <section class="medium-9 large-8 large-offset-3 medium-offset-3 columns main-center profile-center">
        <header class="profile-header"></header>
        <div ng-show="loadingSection" class="preloader-container">
            <!-- loadingSection is a variable defined in the $scope -->
            <div class="preloader">
            </div>
        </div>
        <div class="fade" ng-class="{in: !loadingSection}">
            <div class="profile-about-wrapper profile-section">
                <header>
                    <h3>About</h3>
                </header>
                <article >
                    <p class="user-bio">{{ user.bio || "No user description" }}</p>
                </article>
            </div>

            <div class="profile-section">
                <header>
                    <h3>Activity</h3>
                </header>
                <article class="profile-activity-content">
                    <p>No Activity</p>
                </article>
            </div>

            <div class="profile-section">
                <header>
                    <h3>Current Manti</h3>
                </header>
                <article class="profile-manti-content">
                    <!-- <p ng-show="currentUser.manti.length <= 0">No Manti</p> -->
                    <ul>
                        <li class="current-manti" ng-repeat="manti in profileData.curManti">
                            <div class="current-manti-view">
                                <a ng-click="inDevModal()"><p>View</p></a>
                            </div>
                            <div class="current-manti-content">
                                <div class="manti-content-inner">
                                    <h3><a ng-click="inDevModal()">{{ manti.title }}</a></h3>
                                    <p>{{ manti.description }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>
                <!--  ng-show="profileData.curManti.length > 5" -->
                <a class="profile-info-more" ng-click="inDevModal()">
                    <span class="icon-dot-3"></span>
                </a>
            </div>
            
            <div class="profile-section">
                <header class="profile-header profile-contributions-header">
                    <h3>Recent Contributions</h3>
                </header>
                <article class="profile-contributions-content">
                    <!-- <p ng-show="currentUser.contributions.length <= 0">No Recent Contributions</p> -->
                    <ul>
                        <li class="recent-contribution" ng-repeat="contrib in profileData.reContributions">
                            <div class="recent-contribution-category">
                                <a ng-click="inDevModal()"><p>{{ contrib.type }}</p></a>
                            </div>
                            <div class="recent-contribution-content">
                                <div class="re-contrib-inner">
                                    <h3><a ng-click="inDevModal()">{{ contrib.title }}</a></h3>
                                    <p>{{ contrib.description }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>
                <!--  ng-show="profileData.reContributions.length > 5" -->
                <a class="profile-info-more" ng-click="inDevModal()">
                    <span class="icon-dot-3"></span>
                </a>
            </div>
        </div>
    </section>

    <section class="medium-0 large-1 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
