.grid_tpl {
	position: relative;
	width: 100%;
	padding: 30px;
}
.main_left {
	padding: 0px 10px 10px 10px;
	border-top: 1px white solid;
}
.main_content {
	padding: 0px 10px 10px 10px;
	border-top: 1px white solid;
}
.main_right {
	padding: 0px 10px 10px 10px;
	border-top: 1px white solid;
}