// The latest Foundation settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$primary-color: rgba(42,114,113,1.0);
$secondary-color: rgba(34,100,98,1.0);
$tertiary-color: rgba(124,191,182,1.0);


// $alert-color: #f04124 !default;
// $success-color: #43AC6A !default;
// $warning-color: #f08a24 !default;
// $info-color: #a0d3e8 !default;

// $body-bg: rgba(86,87,89,1.0);