<div id="heading-row" class="row fluid-row">
	<section class="medium-3 large-2 large-offset-1 columns heading-left">
		<!-- Section on left of heading -->
	</section>
    <section class="medium-9 large-7 columns medium-offset-3 large-offset-3 sub-heading">
        <h1><a href="/community">Community</a></h1>
    </section>
    <section class="medium-0 large-2 columns heading-right">
		<!-- Section on right of heading -->
	</section>
</div>
<div class="row fluid-row">
    <section class="medium-3 large-2 large-offset-1 columns main-left">
        <div class="wrapper" ui-view="leftside">

        <!-- Section for main left header -->
        </div>
    </section>
    <section class="medium-9 large-7 large-offset-3 medium-offset-3 columns main-center">
    	<!-- Section for main center header -->
        <header></header>

        <div class="main-content" ng-show="!currentUser">
            <article class="row">

                <div class="medium-6 columns about-left-section">
                    <h3>Welcome to the Symantis Community!</h3>
                    <p>Here is where Designers, Developers and Creators come together from all over the globe to have discussions, ask questions, give answers and even provide feedback on work and projects.</p>
                </div>
                <div class="medium-6 columns about-right-section">
                </div>
            </article>
            <article class="row about-article">
                <div class="medium-6 columns about-right-section">
                </div>
                <div class="medium-6 columns about-left-section">
                    <h3>We've been waiting for you.</h3>
                    <p>Never before has there been a place where digital creators from all walks of life can come together and feed off each other. Much like Stack Exchange all of the content is user generated. A limitless number of people with all sorts of experience and skills are available to help solve your niggling problems.</p>
                </div>
            </article>
            <article class="row about-article">
                <div class="medium-6 columns about-left-section">
                    <h3>Further your connections.</h3>
                    <p>Symantis takes the community a step further by allowing users to post jobs. You can ask for anything from finding someone to write some code for you, to collaborating with new people on a project of mutual interest, to having someone with an eye for design critique your work. Do it for the love of it or do it for $y. Either way, your potential is vastly expanded by having no limits to who you collaborate and gain real experience with.</p>
                </div>
                <div class="medium-6 columns about-right-section">
                </div>
            </article>
            <article class="row about-article">
                <div class="medium-6 columns about-right-section">
                </div>
                <div class="medium-6 columns about-left-section">
                    <h3>Make the most of the community.</h3>
                    <p><a ui-sref="login">Log In</a> or <a ui-sref="register">Sign Up</a> to post, reply, comment and vote on responses. The more active you are within the communty, the more you get out of Symantis!</p>
                </div>
                
            </article>
            <div class="bottom-article"></div>
            <article class="row about-article">
            
                <div class="medium-6 columns about-left-section">
                    
                    <h3>Featured</h3>
                    <p>Have a look at some of the hot topics and great work that people in the community have been generating.</p>
                </div>
                <div class="medium-6 columns about-right-section">
                </div>
            </article>
        </div>

        <ul class="community-container" ng-show="currentUser">
            <li class="community-pod">
                <section class="pod-header">
                    <div class="pod-header-left">
                        <div 
                            class="pod-user-pic generate-image" 
                            signature="{{ currentUser.signature }}"
                        >
                        </div>
                    </div>
                    <h3>
                        <a >Hamish Jackson-Mee </a>created a new Manti -<a > syQuery</a><br />
                        <span>3 hours ago</span>
                    </h3>
                    <div class="pod-options-reveal">
                        <a dropdown-toggle="#pod-options" title="Options">
                            <span class="icon-vote-down"></span>
                        </a>
                    </div>
                </section>
                <section class="pod-body">
                    <p class="pod-description">Trust fund irony brunch small batch. Hoodie slow-carb post-ironic, yr American Apparel forage blog pork belly shabby chic 8-bit pour-over bicycle rights. PBR&B farm-to-table pickled tofu gluten-free pour-over, readymade fingerstache cardigan cray. Bicycle rights ethnic sustainable mumblecore Marfa, aesthetic banjo tattooed hashtag bitters. Distillery fanny pack food truck you probably haven't heard of them Truffaut, street art readymade mixtape farm-to-table. Flannel vegan cliche skateboard fap Carles, leggings scenester ennui aesthetic PBR&B. Gentrify pour-over cliche ugh, normcore plaid scenester art party put a bird on it drinking vinegar salvia gluten-free Vice.</p>
                    <div class="pod-extra">
                        <h4 class="pod-extra-title">Preview</h4>
                        <div class="pod-extra-content">
                            <img src="http://placehold.it/350x150" />
                        </div>
                    </div>
                </section>
                <section class="pod-footer">
                    <div class="pod-reveal-comments">
                        <p><a >Add/View Comments</a></p>
                    </div>
                    <div class="pod-reveal-share">
                        <div class="reveal-share-button" ng-click="podShare.open = true" ng-show="!podShare.open">
                            <a title="Share Options">
                                <span class="icon-dot-3"></span>
                            </a>
                        </div>
                        <div class="reveal-share-button" ng-click="podShare.open = false" ng-show="podShare.open">
                            <a >
                                <span class="icon-exit share-button-small"></span>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="pod-options" id="pod-options">
                    <p class="pod-options-exit">
                        Options
                        <a ><span class="icon-exit"></span></a>
                    </p>
                    <ul class="pod-options-list">
                        <li><a >Remove from Feed</a></li>
                        <li><a >Block User</a></li>
                        <li><a >Flag as inappropriate</a></li>
                    </ul>
                </section>
                <section 
                    class="pod-share"
                    ng-init="podShare.open = false" 
                    ng-show="podShare.open"
                >
                    <ul class="pod-share-options">
                        <li><a ><span class="icon-social-facebook"></span></a></li>
                        <li><a ><span class="icon-social-twitter"></span></a></li>
                        <li><a ><span class="icon-social-behance"></span></a></li>
                        <li><a ><span class="icon-social-github"></span></a></li>
                    </ul>
                </section>
            </li>
        </ul>

    </section>
    <section class="medium-0 large-2 columns main-right">
        <header class="right-header">
        	<!-- Main Right Heading -->
        </header>
        <div class="right-content">
        	<!-- Main Right Content -->
        </div>
    </section>
</div>
